{% extends 'base_wizard.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

	<div class="image-container set-full-height" style="background-image: url('{{ asset('img/wizard-city.jpg')}}')">

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="purple" id="wizard">
			                {# <form action="" method=""> #}
                             {{ form_start(registrationForm) }}
			                <!--        You can switch " data-color="rose" "  with one of the next bright colors: "blue", "green", "orange", "purple"        -->

		                    	<div class="wizard-header">
		                        	<h3 class="wizard-title">
		                        		Basic Information
		                        	</h3>
									<h5>Create an account with MuSKe. Its free!.</h5>
		                    	</div>
								<div class="wizard-navigation">
									<ul>
			                            <li><a href="#about" data-toggle="tab">About</a></li>
			                            <li><a href="#description" data-toggle="tab">More Information</a></li>
			                        </ul>
								</div>

		                        <div class="tab-content">
                                    <div class="tab-pane" id="about">
		                              <div class="row">
		                                	<h4 class="info-text"> Your preferred username and password you can remember</h4>
		                                	{# <div class="col-sm-4 col-sm-offset-1">
		                                    	<div class="picture-container">
		                                        	<div class="picture">
                                        				<img src="{{asset('img/default-avatar.png')}}" class="picture-src" id="wizardPicturePreview" title=""/>
		                                            	<input type="file" id="wizard-picture">
		                                        	</div>
		                                        	<h6>Choose Picture</h6>
		                                    	</div>
		                                	</div> #}
		                                	<div class="col-sm-10 col-sm-offset-1">
												<div class="input-group">
                                                    {{ form_errors(registrationForm.username) }}
                                                    {{ form_errors(registrationForm.plainPassword) }}
													<span class="input-group-addon">
														<i class="material-icons">face</i>
													</span>
													<div class="form-group label-floating">
			                                          {# <label class="control-label">First Name <small>(required)</small></label> #}
                                                      {{ form_label(registrationForm.username, 'Username (single name. Your page will be https://muske/co.ke/username)', {'label_attr': {'class': 'control-label'}})}}
			                                          {# <input name="firstname" type="text" class="form-control"> #}
                                                      {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}                                                      
			                                        </div>
												</div>

												<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">record_voice_over</i>
													</span>
													<div class="form-group label-floating">
													  {# <label class="control-label">Password</label> #}
                                                      {{ form_label(registrationForm.plainPassword.first, 'Password', {'label_attr': {'class': 'control-label'}})}}
													  {# <input name="lastname" type="text" class="form-control"> #}
                                                      {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
													</div>
												</div>
		                                	</div>
		                                	<div class="col-sm-10 col-sm-offset-1">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">email</i>
													</span>
													<div class="form-group label-floating">
			                                            {# <label class="control-label">Email <small>(required)</small></label> #}
                                                        {{ form_label(registrationForm.plainPassword.second, 'Repeat Password', {'label_attr': {'class': 'control-label'}})}}
			                                            {# <input name="email" type="email" class="form-control"> #}                                                        
                                                        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
			                                        </div>
												</div>
                                                <div class="col-sm-10">{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'f'}}) }} Agree with terms and conditions</div>
		                                	</div>
		                            	</div>
		                            </div>                                
		                            <div class="tab-pane" id="description">
		                                <div class="row">
		                                    <h4 class="info-text"> Drop us a small description. </h4>
		                                    <div class="col-sm-6 col-sm-offset-1">
		                                        <div class="form-group label-floating">
		                                            <label class="control-label">Place description</label>
		                                            <textarea class="form-control" placeholder="" rows="9"></textarea>
		                                        </div>
		                                    </div>
		                                    <div class="col-sm-4">
		                                    	<div class="form-group label-floating">
		                                            <label class="control-label">Example</label>
		                                            <p class="description">"The place is really nice. We use it every sunday when we go fishing. It is so awesome."</p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="wizard-footer">
	                            	<div class="pull-right">
                                        <button class="btn btn-next btn-fill btn-primary btn-wd">Register</button>
	                                    {# <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next' value='Next' />
	                                    <input type='button' class='btn btn-finish btn-fill btn-primary btn-wd' name='finish' value='Finish' /> #}
	                                </div>
	                                <div class="pull-left">
	                                    {# <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' /> #}
	                                </div>
		                            <div class="clearfix"></div>
		                        </div>
			                {# </form> #}
                             {{ form_end(registrationForm) }}
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div> <!-- row -->
	    </div> <!--  big container -->

	    <div class="footer">
	        <div class="container text-center">
	             Made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>. Free download <a href="http://www.creative-tim.com/product/bootstrap-wizard">here.</a>
	        </div>
	    </div>
	</div>



{% endblock %}

