{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    Step 1 of 8
    {{ form_start(registrationForm) }}

        {{ form_label(registrationForm.username, 'Your Username', {'label_attr': {'class': 'foo'}})}}
        {{ form_errors(registrationForm.username) }}
        {{ form_widget(registrationForm.username, {'attr': {'class': 'classname'}}) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
