{% extends 'base.html.twig' %}

{% block title %}WebTheme{% endblock %}

{% block body %}
    <h1>WebTheme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ web_theme.id }}</td>
            </tr>
            <tr>
                <th>Template</th>
                <td>{{ web_theme.template }}</td>
            </tr>
            <tr>
                <th>Screenshot</th>
                <td>{{ web_theme.screenshot }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ web_theme.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('web_theme_index') }}">back to list</a>

    <a href="{{ path('web_theme_edit', {'id': web_theme.id}) }}">edit</a>

    {{ include('web_theme/_delete_form.html.twig') }}
{% endblock %}
