	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container">
			    <header class="blog-post-header">
				    <h2 class="title mb-2">{{post.title}}</h2>
				    <div class="meta mb-3"><span class="date">{{post.submitted|date("F jS \\a\\t g:ia")}}</span><span class="time">5 min read</span><span class="comment"><a href="#">4 comments</a></span></div>
			    </header>
			    
			    <div class="blog-post-body">
				    <figure class="blog-banner">
						{% if file_exists(assetDirectory ~ '/blog/thumbs/' ~ post.image ~ ".png") %}
							<a href="#"><img class="img-fluid" src="{{ asset('uploads/blog/' ~ post.image) }}" alt="image"></a>
						{% else %}
							<div class="embed-responsive embed-responsive-16by9">
								<iframe width="560" height="315" src="{{ embed_youtube_link(post.image)}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>					
							</div>
						{% endif %}
				    

				        {# <figcaption class="mt-2 text-center image-caption">Image Credit: <a href="https://made4dev.com?ref=devblog" target="_blank">made4dev.com (Premium Programming T-shirts)</a></figcaption> #}
				    </figure>
				    <div class="blog-article">{{post.content|raw}}</div>
			    </div>
				<div style="padding-top:15px; padding-bottom:15px; ">
					{% include "blog/post/_delete_form.html.twig" %}
					<a href="{{ path('post_edit', {'id': post.id })}}" id="edit-post" class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-edit"></i> Edit</a>
					<a id="leave-comment-{{post.id}}" class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-comment"></i> Comment</a>
					<a id="like" class="float-right btn text-white btn-info"> <i class="fa fa-heart"></i> Like</a>
				</div>

			    <nav class="blog-nav nav nav-justified my-5">
				<a class="nav-link-prev nav-item nav-link rounded-left" href="{{ prevPost is null ? '#' : path('post_show', {'id': prevPost.id, 'title': prevPost.title })}}">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				<a class="nav-link-next nav-item nav-link rounded-right" href="{{ nextPost is null ? '#' : path('post_show', {'id': nextPost.id, 'title': nextPost.title })}}">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
				</nav>
				
				{% include "blog/templates/comments.html.twig" %}				
		    </div><!--//container-->
	    </article>

{% block javascripts %}



{% endblock %}