{% extends 'base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}
    <h1>Job</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job.id }}</td>
            </tr>
            <tr>
                <th>Jobtitle</th>
                <td>{{ job.jobtitle }}</td>
            </tr>
            <tr>
                <th>Startingfrom</th>
                <td>{{ job.startingfrom ? job.startingfrom|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Endedin</th>
                <td>{{ job.endedin ? job.endedin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Currentornot</th>
                <td>{{ job.currentornot }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ job.location }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('job_index') }}">back to list</a>

    <a href="{{ path('job_edit', {'id': job.id}) }}">edit</a>

    {{ include('job/_delete_form.html.twig') }}
{% endblock %}
