{% extends 'base.html.twig' %}

{% block title %}Music Services Kenya{% endblock %}
{% block stylesheets %}
<style>
  div.jumbotron.hero-nature {
    background-image: url('{{ asset("img/drumset-half.jpg" ) }}');
  }

  div.jumbotron.hero-photography {
    background-image: url('{{ asset("img/bass-guitar-half.jpg" ) }}');
  }

  div.jumbotron.hero-technology {
    background-image: url('{{ asset("img/class-half.jpg" ) }}');
  }
  .container.jumbo-container {
    background-color: rgb(132,123,115, 0.85)
  }
  .with-bg {
    background-image: url('{{ asset("img/class-min.jpg" ) }}');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
  }
.features-clean {
  color: #313437;
  background-color: #fff;
  padding-bottom: 30px;
}

@media (max-width:767px) {
  .features-clean {
    padding-bottom: 10px;
  }
}

.features-clean p {
  color: #7d8285;
}

.features-clean h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .features-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 60px;
}

@media (max-width:767px) {
  .features-clean .intro {
    margin-bottom: 40px;
  }
}

.features-clean .item {
  min-height: 100px;
  padding-left: 80px;
  margin-bottom: 40px;
}

@media (max-width:767px) {
  .features-clean .item {
    min-height: 0;
  }
}

.features-clean .item .name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  color: inherit;
}

.features-clean .item .description {
  font-size: 15px;
  margin-bottom: 0;
}

.features-clean .item .icon {
  font-size: 40px;
  color: #1485ee;
  float: left;
  margin-left: -65px;
}

</style>
{% endblock %}
{% block body %}
    {% include "reusable/nav.html.twig" %}
    <section id="carousel">
      <div class="carousel slide" data-ride="carousel" id="carousel-1">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item">
            <div class="jumbotron pulse animated hero-nature carousel-hero" >
              <h1 class="hero-title">Find Music Services</h1>
              <p class="hero-subtitle">Whether you want music services as an institution or an individual, instrumentalist or instructor, music theory or drums, piano or guitar, they are all here and ready<br></p>
              <p><a class="btn btn-primary hero-button plat" role="button" href="{{ path('search')}}">Search Now</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="jumbotron pulse animated hero-photography carousel-hero" >
              <h1 class="hero-title">Advertize A Job</h1>
              <p class="hero-subtitle">You have a job that you want to advertize and have as many musicians as possible apply? This is your platform. Clearly describe the job and we will ensure all musicians know about it.<br></p>
              <p><a class="btn btn-primary hero-button plat" role="button" href="{{ path('advert_new')}}">Advertize now</a></p>
            </div>
          </div>
          <div class="carousel-item active">
            <div class="jumbotron pulse animated hero-technology carousel-hero" >
              <h1 class="hero-title">Create Your Resume</h1>
              <p class="hero-subtitle">Create your Personal CV/Resume website and access downloads of the same on the largest musician's resume database in Kenya. Get a free webpage for yourself and advertize yourself.<br>
              </p>
              <p><a class="btn btn-primary btn-lg hero-button plat" role="button" href="{{ path('choose_theme')}}">Start Now</a><a class="btn btn-primary btn-lg hero-button plat" style="margin-left: 5px;" href="{{ path('app_login')}}">Login</a></p>
            </div>
          </div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
        <ol
          class="carousel-indicators">
          <li data-target="#carousel-1" data-slide-to="0"></li>
          <li data-target="#carousel-1" data-slide-to="1"></li>
          <li data-target="#carousel-1" data-slide-to="2" class="active"></li>
        </ol>
      </div>
    </section>
    <div class="jumbotron text-center features-clean" >
      <div class="container">
        <div class="row features mt-5" style="background-color: rgb(255, 255, 255, 0.9);">
          <div class="col-sm-6 col-lg-4 item"><i class="fa fa-file icon"></i>
              <h3 class="name">Personal website</h3>
              <p class="description">Your own personal website with a simple to memorize url: muske.co.ke/yourusername. The page has your resume and contacts and more!</p>
          </div>
          <div class="col-sm-6 col-lg-4 item"><i class="fa fa-link icon"></i>
              <h3 class="name">Downloadable Resume</h3>
              <p class="description">The information you add is used to automatically generate a PDF resume/CV for your personal use. Life couldn't be any much easier!</p>
          </div>
          <div class="col-sm-6 col-lg-4 item"><i class="fa fa-gear icon"></i>
              <h3 class="name">Customizable</h3>
              <p class="description">Customize your theme from a pool of templates! Save the time you use to update your CV and changing the styles. It's now automated!</p>
          </div>
          <div class="col-sm-6 col-lg-4 item"><i class="fa fa-bell icon"></i>
            <h3 class="name">Alerts on adverts</h3>
            <p class="description">When an advert is made on our site, you'll get a notification in your profile page and an opportunity to apply for the job with a click.</p>
        </div>
        <div class="col-sm-6 col-lg-4 item"><i class="fa fa-photo icon"></i>
            <h3 class="name">Portfolio page</h3>
            <p class="description">Share your photos with your potential clients. Photos can be a great way to show what you do. Share your portfolio with friends and clients.</p>
        </div>
        <div class="col-sm-6 col-lg-4 item"><i class="fa fa-phone icon"></i>
            <h3 class="name">Callback and Chat</h3>
            <p class="description">Get the opportunity to chat with your clients online. Give them an opportunity to leave their contact so that you can call them back.</p>
        </div>
        <div class="col-sm-6 col-lg-4 item"><i class="fa fa-briefcase icon"></i>
          <h3 class="name">Get jobs</h3>
          <p class="description">With our powerful search feature, clients can search for your services and contact you for music jobs. Know when adverts are posted.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item"><i class="fa fa-globe icon"></i>
          <h3 class="name">Blog page</h3>
          <p class="description">Do you have some work that you would like to share online if you had a blog page? Now its possible. You'll get a blog page for just that.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item"><i class="fa fa-check icon"></i>
          <h3 class="name">And much more!</h3>
          <p class="description">How about a customized title on your CV? A contact page? A full featured admin page? Applying for jobs with a click? Lets get started.</p>
      </div>
  </div>
  
      </div>
    </div>
    <div class="row three-columns">
      <div class="col-12">
      </div>
      <div class="col">
        <div class="container">
          <div class="col-md-4 text-left float-left service" style="margin-top: 5px;">
            <div class="card" style="background-color: rgb(236,236,234);">
              <div class="card-body description">
                <img class="img-fluid descr-photo" src='{{ asset('img/adv-yourself.jpg' ) }}' width="100%">
                <h4 class="card-title">Free resume</h4>
                <h6 class="text-muted card-subtitle mb-2">Create your resume and get that professional look</h6>
                <p class="card-text">Create an online resume page that people can visit to see your skills and profession. You can also download it!. We will notify you when someone requests for any of your services through text message and email. It is time to
                  get your skills visible in the only music services website in Kenya.<br><a class="btn btn-primary" role="button" href="{{ path('choose_theme')}}">Create Resume</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center float-left service" style="margin-top: 5px;">
            <div class="card" style="background-color: rgb(229,230,232);">
              <div class="card-body description">
                <img class="img-fluid descr-photo" src='{{ asset('img/adv-job.jpg' ) }}' width="100%">
                <h4 class="card-title">Get an instructor</h4>
                <h6 class="text-muted card-subtitle mb-2">Search now for a music service that you need. It is free!</h6>
                <p class="card-text">Easily find the music service that you want. Instrumentalist, Choir Trainer, Music theory teacher, guitar instructor, piano instructor, drum instructor, School music teacher, Music Director, etc. It is time to get a musician
                  you can trust from the greatest musician's database in Kenya<br><a class="btn btn-primary" role="button" href="{{ path('search')}}">Search now!</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-right float-left service" style="margin-top: 5px;">
            <div class="card dark" style="background-color: rgb(88,100,121);">
              <div class="card-body description">
                <img class="img-fluid descr-photo" src='{{ asset('img/find-teacher.jpg' ) }}' width="100%">
                <h4 class="card-title">Advertize!</h4>
                <h6 class="text-muted card-subtitle mb-2">Advertize a music job position here today</h6>
                <p class="card-text">You have a job that you want to advertize to the musicians in MuSKe? You are welcome. It is easy to post an advert and we will make sure the best musicians who fit your job description have seen the advertizement. We will post
                  the advert at our notice board and also send it to the musicians.<br><a class="btn btn-primary" role="button" href="{{ path('advert_new')}}">Advertize now</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonials-clean">
      <div class="container">
        <div class="intro">
          <h2 class="text-center">Testimonials </h2>
          <p class="text-center">Having a MuSKe account will make you have the best platform to advertize yourself as a musician. Read what some of our friends say about how having an online personal website has helped them.</p>
        </div>
        <div class="row people">
          <div class="col-md-6 col-lg-4 item">
            <div class="box">
              <p class="description">Getting and maintaining a website has been my biggest nightmare. MuSKe has really helped me have a website that I can maintain with very simple clicks!</p>
            </div>
            <div class="author">
              <img class="rounded-circle" src='{{ asset('img/logo_only_white_sq.png' ) }}'>
              <h5 class="name">Milcah Kelly</h5>
              <p class="title">Primary School Music Teacher.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <div class="box">
              <p class="description">I have always paid people to create resume for me... not any more! Now I can choose from a pool of themes and download my resume instantly.</p>
            </div>
            <div class="author">
              <img class="rounded-circle" src='{{ asset('img/logo_only_white_sq.png' ) }}'>
              <h5 class="name">Mbai Dennis</h5>
              <p class="title">Music Theory Instructor.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <div class="box">
              <p class="description">My social media accounts now have a website link :) Now there's a website link on my resume too! I love how much I can personalize my online personal resume.</p>
            </div>
            <div class="author">
              <img class="rounded-circle" src='{{ asset('img/logo_only_white_sq.png' ) }}'>
              <h5 class="name">Josiah Birai</h5>
              <p class="title">Music Theory, Piano and Guitar Instructor.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-title" style="margin-top: 20px;">
      <h1 class="text-center">How to Get Started.</h1>
    </div>
    <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/z3MUCpZNzy8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <div class="jumbotron text-center mt-5">
      <div class="row">
        <div class="col-md-5"><img class="img-fluid" src='{{ asset('img/choir.jpg' ) }}'></div>
        <div class="col-md-7 align-self-center">
          <h3>Whatever the musical need,&nbsp;We have the teacher.<br></h3>
          <p>Whether you want to learn a musical instrument or you just want to know how to sing, we've got you covered. Learning music theory, Choral conducting, name it! If you want an instrumentalist for your institution, an instructor in any musical
            field, we give you the teacher and we make sure that you achieve what you want by supervising the works of the musician and offering any help that is needed. Don't wait any longer! Click the search button and get one of the best!<br>
          </p>
          <p><a href="{{ path('f_a_q_index')}}" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="jumbotron text-center my-bg-dark last-jumbo">
      <div class="row">
        <div class="col-md-7 align-self-center">
          <h3>Advertize.&nbsp;We'll make sure they see it.<br></h3>
          <p>So you've searched and you can't find who you want? Or maybe you just want them to look for you! :) No problem. You can easily advertize your job position and we'll make sure they have it in their emails. Each one of them. By the way,
            we will do the interview for you if you don't mind.<br>
          </p>
          <p><a href="{{ path('f_a_q_index')}}" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
        </div>
        <div class="col-md-5"><img class="img-fluid" src='{{ asset('img/musiciansbr.jpg' ) }}'></div>
      </div>
    </div>
    {% include "reusable/footer.html.twig" %}
  {% endblock %}
