{% extends 'base.html.twig' %}

{% block title %}Music Services Kenya{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('theme/assets/css/search.css ') }}">
{% endblock %}
{% block body %}
    {% include "reusable/nav.html.twig" %}
    <div class="container">
        <div class="jumbotron text-center" style="background-color: #fff!important;" id="search">
            <h4>Search now!</h4>
            <div class="for-btn d-none d-md-inline-block">
                <p>Click on any skill to narrow down.</p>
                <ul class="nav nav-pills">
                    {% for skill in skills %}
                    <li class="nav-item"><a class="filter-button nav-link text-dark border border-light" data-filter="{{skill.skillname|lower|replace({' ':'-','.':''})}}" href="#">{{skill.skillname|capitalize}}</a></li>
                    {% endfor %}
                  </ul>
            </div>
            <form class="form-inline d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                   <input class="bg-light form-control border-0 small searchinput" type="text" placeholder="Search for ...">
                   <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                </div>
             </form>      
            <p id="you-are-here"></p>
            <div class="row">
                {% for musician in pro_musicians %}
                {% set thumbnailurl = asset('uploads/photos/thumbs/' ~ musician.photo ~ '.png') %}
                    <div class="col-md-4 filter {% for skill in musician.skills %} {{skill.skillname|lower|replace({' ':'-','.':''})}} {% endfor %}">
                        <div class="card text-center"><img class="rounded-circle card-img-top w-100 d-block search-card-img" src="{{ musician.photo|length > 1 ? thumbnailurl : asset('img/headshot.jpg') }}">
                            <a class="btn btn-primary middle" role="button" href="{{path('musician_show', {'username': musician.username})}}">{{musician.fullname|upper}}&nbsp;</a>
                            <div class="card-body">
                                <h5 class="card-title">Skills</h5>
                                <p class="card-text">{% for skill in musician.skills %}
                                    {{skill.skillname}} {% if loop.last %}{% else %} . {% endif %}
                                {% endfor %}</p>
                                <h5 class="card-title">Specialties</h5>
                                <p class="card-text">{% for jobtodo in musician.jobstobeoffered %}
                                    {{jobtodo.jobtitle}} {% if loop.last %}{% else %} . {% endif %}
                                {% endfor %}</p>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-primary" href="{{ path('musician_show', {'username': musician.username})}}" >Resume</a>
                                    <a class="btn btn-primary" href="{{ path('musician_show', {'username': musician.username})}}" >Contact</a>
                                </div>
                            </div>
                            {% if musician.isproandactive %}
                                <div class="ribbon"><span>Verified</span></div>
                            {% endif %}
                            
                        </div>
                    </div>
                {% endfor %}
                {% for musician in muske_musicians %}
                {% set thumbnailurl = asset('uploads/photos/thumbs/' ~ musician.photo ~ '.png') %}
                    <div class="col-md-4 filter {% for skill in musician.skills %} {{skill.skillname|lower|replace({' ':'-','.':''})}} {% endfor %}">
                        <div class="card text-center"><img class="rounded-circle card-img-top w-100 d-block search-card-img" src="{{ musician.photo|length > 1 ? thumbnailurl : asset('img/headshot.jpg') }}">
                            <a class="btn btn-primary middle" role="button" href="{{path('musician_show', {'username': musician.username})}}">{{musician.fullname|upper}}&nbsp;</a>
                            <div class="card-body">
                                <h5 class="card-title">Skills</h5>
                                <p class="card-text">{% for skill in musician.skills %}
                                    {{skill.skillname}} {% if loop.last %}{% else %} . {% endif %}
                                {% endfor %}</p>
                                <h5 class="card-title">Specialties</h5>
                                <p class="card-text">{% for jobtodo in musician.jobstobeoffered %}
                                    {{jobtodo.jobtitle}} {% if loop.last %}{% else %} . {% endif %}
                                {% endfor %}</p>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-primary" href="{{ path('musician_show', {'username': musician.username})}}" >Resume</a>
                                    <a class="btn btn-primary" href="{{ path('musician_show', {'username': musician.username})}}" >Contact</a>
                                </div>
                            </div>
                            {% if musician.ismuskeandactive %}
                                <div class="ribbon-info"><span>Member</span></div>
                            {% endif %}
                            
                        </div>
                    </div>
                {% endfor %}
                {% for musician in basic_musicians %}
                {% set thumbnailurl = asset('uploads/photos/thumbs/' ~ musician.photo ~ '.png') %}
                    <div class="col-md-4 filter {% for skill in musician.skills %} {{skill.skillname|lower|replace({' ':'-','.':''})}} {% endfor %}">
                        <div class="card text-center"><img class="rounded-circle card-img-top w-100 d-block search-card-img" src="{{ musician.photo|length > 1 ? thumbnailurl : asset('img/headshot.jpg') }}">
                            <a class="btn btn-primary middle" role="button" href="{{path('musician_show', {'username': musician.username})}}">{{musician.fullname|upper}}&nbsp;</a>
                            <div class="card-body">
                                <h5 class="card-title">Skills</h5>
                                <p class="card-text">{% for skill in musician.skills %}
                                    {{skill.skillname}} {% if loop.last %}{% else %} . {% endif %}
                                {% endfor %}</p>
                                <h5 class="card-title">Specialties</h5>
                                <p class="card-text">{% for jobtodo in musician.jobstobeoffered %}
                                    {{jobtodo.jobtitle}} {% if loop.last %}{% else %} . {% endif %}
                                {% endfor %}</p>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-primary" href="{{ path('musician_show', {'username': musician.username})}}" >Resume</a>
                                    <a class="btn btn-primary" href="{{ path('musician_show', {'username': musician.username})}}" >Contact</a>
                                </div>
                            </div>
                            {% if musician.isproandactive %}
                                <div class="ribbon"><span>Verified</span></div>
                            {% endif %}
                            
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <span id="tags"><input type="text" id="tags-input"></span>
    {% include "reusable/footer.html.twig" %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('theme/assets/js/search.js ') }}"></script>
    <script>

        $(document).ready(function(){

        $('.searchinput').keyup(function(){

            var searchtext = $(this).val().toLowerCase();
            if($(this).val().length > 2){
            $(".filter").hide();
            $( "div:contains('"+searchtext+"')" ).closest(".filter").show();
            $( "div:contains('"+searchtext.toUpperCase()+"')" ).closest(".filter").show();;
            $( "div:contains('"+searchtext.toLowerCase()+"')" ).closest(".filter").show();;
            $( "div:contains('"+searchtext.substr(0,1).toUpperCase()+searchtext.substr(1)+"')" ).closest(".filter").show();;
            } else {
            $(".filter").show("slow");
            }
            
            
        });
        });

    </script>


{% endblock %}