{% extends 'base.html.twig' %}

{% block title %}Music Services Kenya{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('theme/assets/css/search.css ') }}">
{% endblock %}
{% block body %}
    {% include "reusable/nav.html.twig" %}
    <div class="container">
        <div class="jumbotron text-center" style="background-color: #fff!important;" id="search">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">
                        <span>{{ message }}</span>
                    </div>
                {% endfor %}
            {% endfor %}

            <h4>Search now!</h4>
            <div role="tablist" id="accordion-1">
                <div class="card" style="padding: 0;">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0"><a style="color: #3399F3!important;" data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-1" href="#accordion-1 .item-1">Filter by skills</a></h5>
                    </div>
                    <div class="t-b-c collapse item-1" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body">
                            <p>Click on any skill to narrow down.</p>
                            <ul class="nav nav-pills">
                                {% for skill in skills %}
                                {% if skill.musician and skill.musician.settings|length > 0 and skill.musician.settings.visibility != 'off' %}
                                <li class="nav-item close-all"><a class="filter-button nav-link text-dark border border-light" data-filter="{{skill.skillname|trim|lower|replace({' ':'-','.':''})}}" href="#">{{skill.skillname|capitalize}}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card" style="padding: 0;">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0"><a style="color: #3399F3!important;" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2" href="#accordion-1 .item-2">Filter by specialties</a></h5>
                    </div>
                    <div class="t-b-c collapse item-2" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body">
                            <p>Click on any specialty to narrow down.</p>
                            <ul class="nav nav-pills">
                                {% for specialty in specialties %}
                                {% if specialty.musician.settings|length > 0 and specialty.musician.settings.visibility != 'off' %}
                                <li class="nav-item close-all"><a class="filter-button nav-link text-dark border border-light" data-filter="{{specialty.jobtitle|trim|lower|replace({' ':'-','.':''})}}" href="#">{{specialty.jobtitle|capitalize}}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card" style="padding: 0;">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0"><a style="color: #3399F3!important;" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-3" href="#accordion-1 .item-3">Filter by title</a></h5>
                    </div>
                    <div class="t-b-c collapse item-3" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body">
                            <p>Click on any title to narrow down.</p>
                            <ul class="nav nav-pills">
                                {% for title in titles %}
                                <li class="nav-item close-all"><a class="filter-button nav-link text-dark border border-light" data-filter="{{title.title|trim|lower|replace({' ':'-','.':''})}}" href="#">{{title.title|capitalize}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="padding: 0;">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0"><a style="color: #3399F3!important;" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-4" href="#accordion-1 .item-4">Filter by location</a></h5>
                    </div>
                    <div class="t-b-c collapse item-4" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body">
                            <p>Click on any title to narrow down.</p>
                            <ul class="nav nav-pills">
                                {% for location in locations %}
                                <li class="nav-item close-all"><a class="filter-button nav-link text-dark border border-light" data-filter="{{location.placeofwork|trim|lower|replace({' ':'-','.':'',',':''})}}" href="#">{{location.placeofwork|capitalize}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <form class="form-inline d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                   <input class="bg-light form-control border-0 small searchinput" type="text" placeholder="Search for ...">
                   <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                </div>
             </form>      
            <p id="you-are-here"></p>
            <div class="row">
                {% for musician in pro_musicians  %}
                {% if musician.settings|length > 0 and musician.settings.visibility != 'off' %}
                {% set thumbnailurl = asset('uploads/photos/thumbs/' ~ musician.photo ~ '.png') %}
                    <div class="col-md-4 filter {% for skill in musician.skills %} {{skill.skillname|trim|lower|replace({' ':'-','.':''})}} {% endfor %} {% for specialty in musician.jobstobeoffered %} {{specialty.jobtitle|trim|lower|replace({' ':'-','.':''})}} {% endfor %} {% for location in locations %} {{musician.settings.placeofwork|trim|lower|replace({' ':'-','.':'',',':''})}} {% endfor %} {{musician.title is not null ? musician.title|trim|lower|replace({' ':'-','.':''}) : 'musician'}}">
                        <div class="card text-center"><img class="rounded-circle card-img-top w-100 d-block search-card-img" src="{{ musician.photo|length > 1 ? thumbnailurl : asset('img/headshot.jpg') }}">
                            <a class="btn btn-primary middle" role="button" href="{{path('musician_show', {'username': musician.username})}}">{{musician.fullname|upper}}&nbsp;</a>
                            <div class="card-body">
                                <h5 class="card-title">Skills</h5>
                                <p class="card-text">{% for skill in musician.skills %}
                                    {{skill.skillname}} {% if loop.last %}{% else %} . {% endif %}
                                {% endfor %}</p>
                                <h5 class="card-title">Specialties</h5>
                                <p class="card-text">{% for jobtodo in musician.jobstobeoffered %}
                                    {{jobtodo.jobtitle}} {% if loop.last %}{% else %} . {% endif %}
                                {% endfor %}</p>
                                <p style="background-color: inherit; font-size: 0.7rem; text-transform: uppercase; font-weight: bold; padding-bottom: 0px; margin-bottom:0px;">{{musician.title != null? musician.title : 'Musician'}} {{musician.hassettings and musician.settings.placeofwork != null ? 'from ' ~ musician.settings.placeofwork : ''}}</p><br />
                            </div>
                            <div class="card-footer">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-primary" href="{{ path('musician_show', {'username': musician.username})}}" >CV (resume)</a>
                                    <a class="btn btn-primary" href="{{ path('musician_show', {'username': musician.username})}}" >Contact</a>
                                </div>
                            </div>
                            {% if musician.isproandactive %}
                                <div class="ribbon"><span>Verified</span></div>
                            {% endif %}
                            
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
                {% for musician in muske_musicians %}
                {% if musician.settings|length > 0 and musician.settings.visibility != 'off' %}
                {% set thumbnailurl = asset('uploads/photos/thumbs/' ~ musician.photo ~ '.png') %}
                    <div class="col-md-4 filter {% for skill in musician.skills %} {{skill.skillname|trim|lower|replace({' ':'-','.':''})}} {% endfor %} {% for specialty in musician.jobstobeoffered %} {{specialty.jobtitle|trim|lower|replace({' ':'-','.':''})}} {% endfor %} {% for location in locations %} {{musician.settings.placeofwork|trim|lower|replace({' ':'-','.':'',',':''})}} {% endfor %} {{musician.title is not null ? musician.title|trim|lower|replace({' ':'-','.':''}) : 'musician'}}">
                        <div class="card text-center"><img class="rounded-circle card-img-top w-100 d-block search-card-img" src="{{ musician.photo|length > 1 ? thumbnailurl : asset('img/headshot.jpg') }}">
                            <a class="btn btn-primary middle" role="button" href="{{path('musician_show', {'username': musician.username})}}">{{musician.fullname|upper}}&nbsp;</a>
                            <div class="card-body">
                                <h5 class="card-title">Skills</h5>
                                <p class="card-text">{% for skill in musician.skills %}
                                    {{skill.skillname}} {% if loop.last %}{% else %} . {% endif %}
                                {% endfor %}</p>
                                <h5 class="card-title">Specialties</h5>
                                <p class="card-text">{% for jobtodo in musician.jobstobeoffered %}
                                    {{jobtodo.jobtitle}} {% if loop.last %}{% else %} . {% endif %}
                                {% endfor %}</p>
                                <p style="background-color: inherit; font-size: 0.7rem; text-transform: uppercase; font-weight: bold; padding-bottom: 0px; margin-bottom:0px;">{{musician.title != null? musician.title : 'Musician'}} {{musician.hassettings and musician.settings.placeofwork != null ? 'from ' ~ musician.settings.placeofwork : ''}}</p><br />
                            </div>
                            <div class="card-footer">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-primary" href="{{ path('musician_show', {'username': musician.username})}}" >CV (resume)</a>
                                    <a class="btn btn-primary" href="{{ path('musician_show', {'username': musician.username})}}" >Contact</a>
                                </div>
                            </div>
                            {% if musician.ismuskeandactive %}
                                <div class="ribbon-info"><span>Member</span></div>
                            {% endif %}
                            
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
                {% for musician in basic_musicians %}
                {% if musician.settings|length > 0 and musician.settings.visibility != 'off' %}
                {% set thumbnailurl = asset('uploads/photos/thumbs/' ~ musician.photo ~ '.png') %}
                     <div class="col-md-4 filter {% for skill in musician.skills %} {{skill.skillname|trim|lower|replace({' ':'-','.':''})}} {% endfor %} {% for specialty in musician.jobstobeoffered %} {{specialty.jobtitle|trim|lower|replace({' ':'-','.':''})}} {% endfor %} {% for location in locations %} {{musician.settings.placeofwork|trim|lower|replace({' ':'-','.':'',',':''})}} {% endfor %} {{musician.title is not null ? musician.title|trim|lower|replace({' ':'-','.':''}) : 'musician'}}">
                        <div class="card text-center"><img class="rounded-circle card-img-top w-100 d-block search-card-img" src="{{ musician.photo|length > 1 ? thumbnailurl : asset('img/headshot.jpg') }}">
                            <a class="btn btn-primary middle" role="button" href="{{path('musician_show', {'username': musician.username})}}">{{musician.fullname|upper}}&nbsp;</a>
                            <div class="card-body">
                                <h5 class="card-title">Skills</h5>
                                <p class="card-text">{% for skill in musician.skills %}
                                    {{skill.skillname}} {% if loop.last %}{% else %} . {% endif %}
                                {% endfor %}</p>
                                <h5 class="card-title">Specialties</h5>
                                <p class="card-text">{% for jobtodo in musician.jobstobeoffered %}
                                    {{jobtodo.jobtitle}} {% if loop.last %}{% else %} . {% endif %}
                                {% endfor %}</p>
                                <p style="background-color: inherit; font-size: 0.7rem; text-transform: uppercase; font-weight: bold; padding-bottom: 0px; margin-bottom:0px;">{{musician.title != null? musician.title : 'Musician'}} {{musician.hassettings and musician.settings.placeofwork != null ? 'from ' ~ musician.settings.placeofwork : ''}}</p><br />
                            </div>
                            <div class="card-footer">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-primary" href="{{ path('musician_show', {'username': musician.username})}}" >CV (resume)</a>
                                    <a class="btn btn-primary" href="{{ path('musician_show', {'username': musician.username})}}" >Contact</a>
                                </div>
                            </div>
                            {% if musician.isproandactive %}
                                <div class="ribbon"><span>Verified</span></div>
                            {% endif %}
                            
                        </div>
                    </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <span id="tags"><input type="text" id="tags-input"></span>
    {% include "reusable/footer.html.twig" %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('theme/assets/js/search.js ') }}"></script>
    <script>

        $(document).ready(function(){

        $('.searchinput').keyup(function(){

            var searchtext = $(this).val().toLowerCase();
            if($(this).val().length > 2){
            $(".filter").hide();
            $( "div:contains('"+searchtext+"')" ).closest(".filter").show();
            $( "div:contains('"+searchtext.toUpperCase()+"')" ).closest(".filter").show();;
            $( "div:contains('"+searchtext.toLowerCase()+"')" ).closest(".filter").show();;
            $( "div:contains('"+searchtext.substr(0,1).toUpperCase()+searchtext.substr(1)+"')" ).closest(".filter").show();;
            } else {
            $(".filter").show("slow");
            }
            
            
        });
        });

    </script>
<script>
$('.close-all').click( function() {

    $('.t-b-c').removeClass('show');

})
</script>
{% endblock %}