{% extends 'base.html.twig' %}

{% block title %}PdfTheme{% endblock %}

{% block body %}
    <h1>PdfTheme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pdf_theme.id }}</td>
            </tr>
            <tr>
                <th>Template</th>
                <td>{{ pdf_theme.template }}</td>
            </tr>
            <tr>
                <th>Screenshot</th>
                <td>{{ pdf_theme.screenshot }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ pdf_theme.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pdf_theme_index') }}">back to list</a>

    <a href="{{ path('pdf_theme_edit', {'id': pdf_theme.id}) }}">edit</a>

    {{ include('pdf_theme/_delete_form.html.twig') }}
{% endblock %}
