{% extends 'base.html.twig' %}

{% block title %}Music Services Kenya{% endblock %}

{% block body %}

    {% include "reusable/nav.html.twig" %}
    <div class="container">
        <h4 style="text-align: center;">Frequently Asked Questions</h4>
        <div class="jumbotron" id="white-jumbo">
            <div>
                <ul class="nav nav-tabs">
                    {% for category in categories %}
                    <li class="nav-item"><a class="nav-link {{ loop.index == 1 ? 'active' : ''}}" role="tab" data-toggle="tab" href="#tab{{loop.index}}">{{category.title|capitalize}}</a></li>
                    {% endfor %}
                    {% if app.user and app.user.username == 'maestrojosiah' %}
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="{{path('faq_new')}}">Create new</a></li>
                    {% endif %}                    
                </ul>
        
                <div class="tab-content">
                    {% set category_count = 0 %}
                    {% for category in categories %}
                    {% set category_count = category_count + 1 %}
                        <div class="tab-pane {{ loop.index == 1 ? 'show active' : ''}}" role="tabpanel" id="tab{{category_count}}">
                            <div role="tablist" id="accordion-{{category_count}}">
                                {% set faq_count = 0 %}
                                {% for faq in category.faqs %}
                                {% set faq_count = faq_count + 1 %}    
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-{{category_count}} .item-{{faq_count}}" href="#accordion-{{category_count}} .item-{{faq_count}}">{{faq.question}}</a></h5>
                                    </div>
                                    <div class="collapse {{ loop.index == 1 ? 'show' : ''}} item-{{faq_count}}" role="tabpanel" data-parent="#accordion-{{category_count}}">
                                        <div class="card-body">
                                            <div class="card-text">{% autoescape false %}{{faq.answer|raw}}{% endautoescape %}</div>
                                            {% if app.user and app.user.username == 'maestrojosiah' %}
                                            <a style="margin-left:20px;" href="{{path('faq_edit', {'id': faq.id })}}">Edit</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include "reusable/footer.html.twig" %}
{% endblock %}
