    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
      </div>

      <!--logo start-->
      <a href="{{path('homepage')}}" class="logo">Music <span class="lite">Services</span>Kenya</a>
      <!--logo end-->

      <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">

          <!-- user login dropdown start-->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                {% set thumbnailurl = musician.photo|length > 1 ? asset('uploads/photos/thumbs/' ~ musician.photo ~ '.png') : asset('img/headshot.jpg') %}
                                <img alt="{{musician.fullname}}" width='25' height='25' src="{{thumbnailurl}}">
                            </span>
                            <span class="username">{{musician.username}}</span>
                            <b class="caret"></b>
                        </a>
            <ul class="dropdown-menu extended logout">
              <div class="log-arrow-up"></div>
              <li class="eborder-top">
                <a href="{{path('musician_profile')}}"><i class="icon_profile"></i> My Profile</a>
              </li>
              <li>
                <a href="{{path('musician_show', {'username': musician.username})}}"><i class="icon_clock_alt"></i> Resume Page</a>
              </li>
              <li>
                <a href="{{path('app_logout')}}"><i class="icon_key_alt"></i> Log Out</a>
              </li>
              <li>
                <a href="{{path('musician_show', {'username': musician.username, 'download': 'pdf'})}}"><i class="icon_download"></i> Resume Download</a>
              </li>
            </ul>
          </li>
          <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
      </div>
    </header>
