{% extends 'pdfBase.html.twig' %}

{% block title %}Resume{% endblock %}
{% block stylesheets %}

     <style type="text/css">
        * { margin: 0; padding: 0; }
        body { font: 16px Helvetica, Sans-Serif; line-height: 24px; background: url(images/noise.jpg); }
        .clear { clear: both; }
        #page-wrap { width: 800px; margin: 40px auto 60px; }
        #pic { float: right; margin: 0 0 0 0; width:30%; }
        h1 { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; }
        h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; }
        span { font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
        h2 span { position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
        p { margin: 0 0 16px 0; }
        a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
        a:hover { border-bottom-style: solid; color: black; }
        ul { margin-left: 17px; }
        #objective { width: 500px; float: left; }
        #objective p { font-family: Georgia, Serif; font-style: italic; color: #666; }
        dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;  }
        dd { width: 600px; float: right; }
        dd.clear { float: none; margin: 0; height: 15px; }
        .referee {
		float: left;
		    width: 33.3333333%;

        }

        .referee p {
            padding:0px;
            margin:0px;
        }

        #jobs form {
            width: 80%;
            margin-top: 0px;
            padding-left: 0px!important;
            margin: 0 0 32px 0px;
        }


     </style>
     
{% endblock %}
{% block body %}

    <div id="page-wrap">
        {% if thumbnailurl is not defined %}
            {% set thumbnailurl = musician.thumbnailurl %}
        {% endif %}

        <img src="{{thumbnailurl}}" alt="{{musician.fullname}}" id="pic" />
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn" style="padding-top:5px;">{{musician.fullname}}</h1>
            {% if musician.hassettings and musician.settings.signature|length > 0 and musician.settings.appendsignature == 'true' %}
            <p>
                {{musician.hassettings and musician.settings.signature|length > 0 ? musician.settings.signature|nl2br }}
            </p>
            {% endif %}
        
            <p>
                Cell: <span class="tel">{{musician.phone}}</span><br />
                Email: <a class="email" href="mailto:{{musician.email}}">{{musician.email}}</a>
            </p>
        </div>
                
        <div id="objective">
            <p>
                {{musician.about}}
            </p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            
            <dt>Education</dt>
            {% for edu in educ %}
            <dd style="position:relative;">
                <h2>{{edu.institution}} - {{edu.location}}</h2>
                <p><strong>{{edu.degree}}:</strong> {{edu.coursename}}<br />
                   {{edu.fromyear|date("M Y")}} - {{edu.toyear|date("M Y")}}</p>
                {% include "web/templates/doc.html.twig" %}
            </dd>
            {% endfor %}
            
            <dd class="clear"></dd>
             {% if musician.projects is not empty %}
            <dt>Projects</dt>
            <dd>
            {% for project in musician.projects %}
                <h2>{{project.projecttitle}}</h2>
                <p>{{project.projectdescription}}</p>
            {% endfor %}
            </dd>
            {% endif %}
            
            <dd class="clear"></dd>
            
            <dt>Experience</dt>
            <dd id="jobs">
            {% for job in jobs %}
                <h2>{{job.jobtitle}} </h2> <span>{{job.institution}}{{" / " ~ job.location}} - {{job.startingfrom|date("F Y")}} - {{job.currentornot == 'current' ? 'Present' : job.endedin|date("F Y") }}</span>
                {% include "web/templates/list.html.twig" %}
            {% endfor %}
            </dd>

            <dd class="clear"></dd>
            
            <dt>Skills</dt>
            <dd>{% include "reusable/_simpleskills_.html.twig" %}</dd>
            
            <dd class="clear"></dd>
            
            <dt>Specialty</dt>
            <dd>{% include "reusable/_simplespecialty_.html.twig" %}</dd>
            
            <dd class="clear"></dd>

            <dt>References</dt>
            <dd>
                {% include "reusable/referees.html.twig" %}    
            </dd>
                
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>

{% endblock %}