{% extends 'pdfBase.html.twig' %}

{% block title %}Resume{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('theme/assets/css/design.css ') }}">
{% endblock %}
{% block body %}

<div class="container" id="design">
    <div class="row">
        <div class="col-md-8">
            <h1 id="name">{{musician.fullname}}</h1>
            {% if musician.hassettings and musician.settings.signature|length > 0 and musician.settings.appendsignature == 'true' %}
            <p>{{musician.hassettings and musician.settings.signature|length > 0 ? musician.settings.signature|nl2br }}</p>
            {% endif %}
            <p>{{musician.phone}}<br>{{musician.email}}<br>www.muske.co.ke/{{musician.username}}</p>
        </div>
        <div class="col-md-4 "><img class="img-fluid d-none d-md-block" src="{{app.request.getSchemeAndHttpHost()}}/{{thumbnailurl}}" width="240" height="240"></div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>{{musician.about}}<br></p>
        </div>
        <div class="col-md-3">
            <div class="b-left mt-5 d-none d-md-block">
                <p class="mid">Profile</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="b-right mt-5">
                <p class="mid-r">Job History</p>
            </div>
        </div>
        <div class="col-md-9">
            {% for job in jobs %}
            <div class="mt-5">
                <h5>{{job.jobtitle}}<br></h5>
                <small><em>{{job.institution}} / {{job.location}} -&nbsp;</em>{{job.startingfrom|date("M Y")}} – {{job.currentornot == 'current' ? 'Present' : job.endedin|date("M Y") }}<br></small>
                {% include "web/templates/list.html.twig" %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="b-right mt-5">
                <p class="mid-r">Education Background</p>
            </div>
        </div>
        <div class="col-md-9">
            {% for edu in educ %}
            <div class="mt-5" style="position: relative;">
                <h5><strong>{{edu.degree}}:</strong>&nbsp;{{edu.coursename}}<br></h5><small>{{edu.institution}} - {{edu.location}}<br></small>
                <p>{{edu.fromyear|date("M Y")}} - {{edu.toyear|date("M Y")}}</p>
                {% include "web/templates/doc.html.twig" %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% if musician.projects is not empty %}
    <div class="row">
        <div class="col-md-3">
            <div class="b-right mt-5">
                <p class="mid-r">Projects</p>
            </div>
        </div>
        <div class="col-md-9">
            {% for project in musician.projects %}
            <div class="mt-5">
                <h5>{{project.projecttitle}}<br></h5>
                <p>{{project.projectdescription}}<br></p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-3">
            <div class="b-right mt-5">
                <p class="mid-r">Skills</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="mt-5">
                <ul>
                    {% for skill in musician.skills %}
                    <li><span>{{skill.skillname}}</span></li>
                    {% endfor %}                
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="b-right mt-5">
                <p class="mid-r">Specialties</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="mt-5">
                <ul>
                    {% for job_role in musician.jobstobeoffered %}
                    <li><span>{{job_role.jobtitle}}</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-3">
            <div class="b-right mt-5">
                <p class="mid-r">Referees</p>
            </div>
        </div>
        <div class="col-md-9">
            {% include "reusable/referees.html.twig" %}   
        </div>
    </div>
</div>

{% endblock %}