{% extends 'base_devfolio.html.twig' %}

{% block title %}{{musician.fullname}}{% endblock %}

{% block stylesheets %}
<style type="text/css">
  .rating-header {
      margin-top: -10px;
      margin-bottom: 10px;
  }

  .skills ul{
      display:block;
      margin:0 auto;
      padding:0;
      max-width:800px
  }
  .skills li{
      display:inline-block;
      margin:7px;
      padding:5px 10px;
      color:#374054;
      background:#e4e4ea;
      list-style:none;
      cursor:default;
      font-size:1.2em
  }


  /* education */
  .circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: #0078FF;
    color: #fff;
    max-height: 50px;
    z-index: 2;
  }

  .how-it-works.row .col-2 {
    align-self: stretch;
  }
  .how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #0078FF;
    z-index: 1;
  }
  .how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
  }
  .how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
  }
  .how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
  }


  .timeline div {
    padding: 0;
    height: 40px;
  }
  .timeline hr {
    border-top: 3px solid #0078FF;
    margin: 0;
    top: 17px;
    position: relative;
  }
  .timeline .col-2 {
    display: flex;
    overflow: hidden;
  }
  .timeline .corner {
    border: 3px solid #0078FF;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .timeline .top-right {
    left: 50%;
    top: -50%;
  }
  .timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
  }
  .timeline .top-left {
    left: -50%;
    top: -50%;
  }
  .timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
  }

  /* experience */

  ul.timeline {
      list-style-type: none;
      position: relative;
  }
  ul.timeline:before {
      content: ' ';
      background: #0078FF;
      display: inline-block;
      position: absolute;
      left: 29px;
      width: 2px;
      height: 100%;
      z-index: 400;
  }
  ul.timeline > li {
      margin: 20px 0;
      padding-left: 20px;
  }
  ul.timeline > li:before {
      content: ' ';
      background: white;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 3px solid #0078FF;
      left: 20px;
      width: 20px;
      height: 20px;
      z-index: 400;
  }  

  @media only screen and (max-width:767px){.main-timeline8{overflow:visible}

  }

</style>
{% include "reusable/call_me_styles.html.twig" %}

{% endblock %}
{% block body %}

<div id="page-top">

  <!-- ======= Header/ Navbar ======= -->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">MuSKe</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="{{path('homepage')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#album">Album</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contacts">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% set bgPhoto = asset('devportfolio/images/class.jpg') %}
  <!-- ======= Intro Section ======= -->
  <div id="home" class="intro route bg-image" style="background-image: url('{{musician.hassettings and musician.settings.bgphoto != null ? musician.settings.photopath : bgPhoto }}')">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">{{musician.fullname}}</h1>
          <p class="intro-subtitle"><span class="text-slider-items">{% for job_role in musician.jobstobeoffered %}{{job_role.jobtitle}} {% if loop.index < musician.jobstobeoffered|length %},{% endif %}{% endfor %}</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
          {% include "reusable/call_me_code.html.twig" %}
        </div>
      </div>
    </div>
  </div><!-- End Intro Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Info
                      </h5>
                    </div>
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="{{musician.thumbnailurl}}" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>                    
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">                      
                        <p><span class="title-s">Name: </span> <span>{{musician.fullname}}</span></p>
                        <p><span class="title-s">Website: </span> <span>https://muske.co.ke/{{musician.username}}</span></p>
                        <p><span class="title-s">Email: </span> <span>{{musician.email}}</span></p>
                        <p><span class="title-s">Phone: </span> <span>{{musician.phone}}</span></p>
                      </div>
                      {% if app.user == null %}
                      <a target="_blank" href="{{path('musician_show', {'username': musician.username, 'download': 'pdf'})}}" class="btn btn-lg btn-primary">Download Resume</a>
                      <br />
                      <br />
                      {% endif %}
                      {% if app.user and app.user != null and app.user == musician %}
                          <a class="btn btn-lg btn-primary btn-rounded-white" style="background-color:#007bff;" href="{{ path('musician_profile')}}">Profile Page</a>
                      {% endif %}
                      {% if musician.settings and musician.settings.tsc == 'true' %} <button class="btn btn-success btn-sm"> TSC Certified  </button>{% endif %}<hr />
                      {% if musician.settings and musician.settings.online == 'true' %} <button class="btn btn-success btn-sm"> Online Lessons Available  </button>{% endif %}<hr />
                      {% if musician.settings and musician.settings.placeofwork != null %} <button class="btn btn-success btn-sm"> {{musician.settings.placeofwork}}  </button>{% endif %}

                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        About me
                      </h5>
                    </div>
                    <p class="lead">
                      {{musician.about}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Education Section ======= -->
    <section id="education" class="services-mf route">
      <div class="">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  Education
                </h3>
                <p class="subtitle-a">
                  Educational background.
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          {% for edu in educ %}       
            {% if loop.index is odd %}
              <div class="row align-items-center how-it-works d-flex">
                <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                  <div class="circle font-weight-bold">{{loop.index}}</div>
                </div>
                <div class="col-md-6">
                  {% include "reusable/edu_form.html.twig" %}
                  <h5>{{edu.fromyear|date("M Y")}} - {{edu.toyear|date("M Y")}}</h5>
                  <p>{{edu.degree}} in {{edu.coursename}}, <strong> {{edu.institution}} </strong>, {{edu.location}}</p>
                  {% include "reusable/edu_skills.html.twig" with {'class': 'skills'} %}
                </div>
              </div>
              {% if loop.index < educ|length %}
              <div class="row timeline">
                <div class="col-2">
                  <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner left-bottom"></div>
                </div>
              </div>
              {% endif %}
            {% elseif loop.index is even %}
              <div class="row align-items-center justify-content-end how-it-works d-flex">
                <div class="col-md-6 text-right">
                  {% include "reusable/edu_form.html.twig" %}
                  <h5>{{edu.fromyear|date("M Y")}} - {{edu.toyear|date("M Y")}}</h5>
                  <p>{{edu.degree}} in {{edu.coursename}}, <strong> {{edu.institution}} </strong>, {{edu.location}}</p>
                  {% include "reusable/edu_skills.html.twig" with {'class': 'skills'} %}                  
                </div>
                <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                  <div class="circle font-weight-bold">{{loop.index}}</div>
                </div>
              </div>
              {% if loop.index < educ|length %}
              <div class="row timeline">
                <div class="col-2">
                  <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                  <hr/>
                </div>
                <div class="col-2">
                  <div class="corner top-left"></div>
                </div>
              </div>
              {% endif %}
            {% endif %}

          {% endfor %}
        </div>
      </div>
    </section><!-- End Experience Section -->
    <hr />

    <!-- ======= Experience Section ======= -->
    <section id="experience" class="services-mf route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Experience
              </h3>
              <p class="subtitle-a">
                Job history.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <ul class="timeline">
            {% for job in jobs %}
              <li>
                <h4>{{job.jobtitle}}</h4>
                <a target="_blank" href="#">{{job.institution}}{{" / " ~ job.location}}</a>
                <a href="#" class="float-right">{{job.startingfrom|date("M Y")}} - {{job.currentornot == 'current' ? 'Present' : job.endedin|date("M Y") }}</a>
                <p>
                {% if job.roles is empty %}
                    {% if app.user and app.user != null and app.user == musician %}
                        You haven't added any roles that you did in this job. Please <a href="{{ path('role_new', {'job_id': job.id}) }}">Add some roles </a>
                    {% else %}
                        Did all the required roles that a {{job.jobtitle}} should do. You can <a target="_blank" href="http://www.google.com/search?q={{job.jobtitle|replace({' ': '+'}) }}+Job+Description">search on google</a> what the roles are.
                    {% endif %}
                {% else %}                
                  <ul>
                    {% for role in job.roles %}
                    <li>{{role.role}}</li>
                    {% endfor %}
                    {% if app.user and app.user != null and app.user == musician %}<li><a href="{{ path('role_new', {'job_id': job.id}) }}">Add roles</a></li>{% endif %}
                  </ul>
                {% endif %}
                </p>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->
    <hr />

    <!-- ======= Counter Section ======= -->
    <div class="section-counter paralax-mf bg-image" style="background-image: url(assets/img/counters-bg.jpg)">
      <div class=""></div>
      <div class="container">
        <div class="row text-center">
        <ul class="skills">
        {% for job_role in musician.jobstobeoffered %}
          <li>{{job_role.jobtitle}}</li>
        {% endfor %}
        </ul>
        </div>
      </div>
    </div><!-- End Counter Section -->
    <hr />

    {% if musician.projects %}
    <!-- ======= Projects Section ======= -->
    <div id="projects" class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Projects
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
    </div>    
    <div class="projects paralax-mf bg-image" style="background-image: url(assets/img/overlay-bg.jpg)">

      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="testimonial-mf" class="owl-carousel owl-theme">
              {% for project in musician.projects %}
              <div class="testimonial-box">
                <div class="author-test">
                  <img src="assets/img/testimonial-2.jpg" alt="" class="rounded-circle b-shadow-a">
                  <span class="author">{{project.projecttitle}}</span>
                </div>
                <div class="content-test">
                  <p class="description lead">
                    {{project.projectdescription}}
                  </p>
                  <span class="comit"><i class="fa fa-music"></i></span>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Projects Section -->
    {% endif %}
    
    <!-- ======= Album Section ======= -->
    {% if (musician.settings and musician.isproandactive == 'true') or (musician.settings and musician.ismuskeandactive == 'true') %}
    <section id="album" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Album
              </h3>
              <p class="subtitle-a">
                A picture is worth a thousand words...
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
        {% if (musician.settings and musician.isproandactive == 'true') or (musician.settings and musician.ismuskeandactive == 'true') %}
          {% if fourPhotos|length > 1 %}
          
            {% for photo in fourPhotos %}
            <div class="col-md-4">
              <div class="work-box">
                <a href="{{photo.photopath}}" data-gall="portfolioGallery" class="venobox">
                  <div class="work-img">
                    <img src="{{photo.thumbnailpath}}" alt="" class="img-fluid">
                  </div>
                  <div class="work-content">
                    <div class="row">
                      <div class="col-sm-8">
                        <h2 class="w-title"></h2>
                        <div class="w-more">
                          <span class="w-ctegory">{{photo.description}}</span>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="w-like">
                          <span class="ion-ios-plus-outline"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            {% endfor %}
          {% else %}
            <div class="col-md-12" style="text-align: center">
              <p>There are currently no photos in this gallery</p>
              {% if app.user and app.user != null and app.user == musician %}
              <a href="{{ path('gallery_new')}}" class="btn btn-primary btn-lg btn-rounded-blue">Add Photos</a>
            </div>
            {% endif %}
          {% endif %}
          <div class="col-md-12" style="text-align:center">
          {% if fourPhotos|length > 1 %}<a href="{{ path('gallery_index', {'username': musician.username })}}" class="btn btn-primary btn-lg btn-rounded-blue">See More Photos</a>{% endif %}
          </div>

        {% endif %}
        </div>
      </div>
    </section><!-- End Portfolio Section -->
    {% endif %}
    <hr />
    

    <!-- ======= Blog Section ======= -->
    <section id="skills" class="blog-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Skills
              </h3>
              <p class="subtitle-a">
                Skills learned over time.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <ul class="skills">
            {% include "reusable/_simpleskills_.html.twig" %}
          </ul>
        </div>
      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Blog
              </h3>
              <p class="subtitle-a">
                Visit my blog to find more helpful articles.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">

          {% for post in blogPosts %}
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a href="{{ path('post_show', {'id': post.id})}}"><img src="
                  {% if file_exists(assetDirectory ~ '/blog/thumbs/' ~ post.image ~ ".png") %}
                    {{ asset('uploads/blog/thumbs/' ~ post.image ~ ".png") }}
                  {% else %}
                    {{asset('/uploads/blog/play_thumbnail.png')}}
                  {% endif %}" style="width:100%" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">{{post.submitted|date("F jS \\a\\t g:ia")}}</h6>
                  </div>
                </div>
                <h3 class="card-title"><a href="{{ path('post_show', {'id': post.id})}}">{{post.title}}</a></h3>
                <p class="card-description">
                  {{post.content|slice(0, 119)|raw}}...
                </p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>
    <!-- End Blog Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contacts" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(assets/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Connect
                      </h5>
                    </div>
                    <div>
                      <form action="" role="form" class="php-email-form">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" id="sendername" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="email" class="form-control" name="email" id="senderemail" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" id="message" name="message" rows="12" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12 text-center mb-3">
                            <div class="loading">Sending...</div>
                            <div class="error-message-msg"></div>
                            <div id="sent-message" class="sent-message">Your message has been sent. Thank you!</div>
                          </div>
                          <div class="col-md-12 text-center">
                            <button type="button" id="send-my-email"  class="button button-a button-big button-rouded">Send Message</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Leave a review
                      </h5>
                    </div>
                    <div>
                      <form action="" role="form" class="php-email-form">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" id="ratername" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="email" class="form-control" name="email" id="rateremail" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <div class="form-group" id="rating-ability-wrapper">
                                <label class="control-label" for="rating">
                                <span class="field-label-header">How would you rate {{musician.fullname}}?</span><br>
                                <span class="field-label-info"></span>
                                <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
                                </label>
                                <h2 class="bold rating-header" style="">
                                <span class="selected-rating">0</span><small> / 5</small>
                                </h2>
                                <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </button>
                              </div>                    
                            </div>
                          </div>
                          <div class="col-md-12 text-center mb-3">
                            <div class="error-message-rating"></div>
                            <div id="rating-submitted" class="sent-message">Your rating has been submitted. Thank you!</div>
                          </div>
                          <div class="col-md-12 text-center">
                            <button type="submit" id="submit-rating" class="button button-a button-big button-rouded">Submit Rating</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="socials">

        <ul class="list-unstyled" style="display:inline">
          <li><a href="{{ musician.hassettings ? musician.settings.facebook | external_link : '#'}}"><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
          <li><a href="{{ musician.hassettings ? musician.settings.instagram | external_link : '#'}}"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
          <li><a href="{{ musician.hassettings ? musician.settings.twitter | external_link : '#'}}"><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
          <li><a href="{{ musician.hassettings ? musician.settings.linkedin | external_link : '#'}}"><span class="ico-circle"><i class="ion-social-pinterest"></i></span></a></li>
          <li><i class="ion-ios-contact"></i> : <span>{{musician.fullname}}</span></li>
          <li><i class="ion-ios-briefcase"></i> : <span>{{musician.settings.placeofwork}}</span></li>
          <li><i class="ion-android-call"></i> : <span>{{musician.phone}}</span></li>
          <li><i class="ion-android-mail"></i> : <span>{{musician.email}}</span></li>
          <li><i class="ion-ios-world"></i> : <span>muske.co.ke/{{musician.username}}</span></li>
        </ul>




      <p>&copy; Copyrights Music Services Kenya. All rights reserved.</p>
      <p>{{musician.username}} | {% if app.user and app.user != null and app.user == musician %} <a style="color:white" href="{{path("app_logout")}}">Logout</a> {% else %} <a style="color:white;" href="{{path("homepage")}}">Login</a>{% endif %}</p>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>

    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

</div>
{% endblock %}
{% block javascripts %}

<script>
  $(document).on("click", '[id^="proj_"]', function(){

      var project = jQuery(this).attr("id");
      var splitted = project.split('_'); //changeRow_Qt_1504
      var id = splitted[1] //1504

  // function saveDoc() {
      var inputFile = document.getElementById('documento_'+id);
      var file = inputFile.files[0];
      var data = new FormData();
      data.append('doc', file, file.name);
      $.ajax({
          url: "{{ path('upload_project_image') }}",
          type: "POST",
          data: data,
          processData: false,
          contentType: false,
          cache: false,
          success: function (data){
              console.log(data);
              console.log("saved information");
              $.ajax({
                  url:"{{ (path('upload_project_image')) }}",
                  type: "POST",
                  dataType: "json",
                  data: {
                      "id": id,
                      "filename": data,
                  },
                  async: true,
                  success: function (data)
                  {
                      console.log(data);
                      console.log("saved another information");
                      $("#project_image"+"_"+id).attr("src", data).css("maxWidth", '250px');
                  },
                  error: function () {
                      $("#warning").html("<b>something's wrong</b>");
                  }
              });

          },
          error: function () {
              $("#warning").html("<b>something's wrong</b>");
          }

      });

  });
</script>

<script>
  $(document).on("click", '[id^="upload_doc_"]', function(){

      var project = jQuery(this).attr("id");
      var splitted = project.split('_'); //changeRow_Qt_1504
      var id = splitted[2] //1504
      $(this).prop('disabled', true);

  // function saveDoc() {
      var inputFile = document.getElementById('doc_edu_'+id);
      var file = inputFile.files[0];
      var data = new FormData();
      data.append('doc', file, file.name);
      $.ajax({
          url: "{{ path('upload_education_document') }}",
          type: "POST",
          data: data,
          processData: false,
          contentType: false,
          cache: false,
          success: function (data){
              console.log(data);
              console.log("saved information");
              $.ajax({
                  url:"{{ (path('upload_education_document')) }}",
                  type: "POST",
                  dataType: "json",
                  data: {
                      "id": id,
                      "filename": data,
                  },
                  async: true,
                  success: function (data)
                  {
                      console.log(data);
                      console.log("saved another information");
                      // $("#project_image"+"_"+id).attr("src", data).css("maxWidth", '250px');
                      $("#alert_"+id).html(
                          '<div class="alert alert-success" role="alert">' +
                              'You have successfully uploaded the file.' +
                          '</div>'
                      );
                      $("#document_form_"+id).hide();
                      $("#download_doc_"+id).attr("href", data);
                      $(this).prop('disabled', false);
                  },
                  error: function () {
                      $("#warning").html("<b>something's wrong</b>");
                  }
              });

          },
          error: function () {
              $("#warning").html("<b>something's wrong</b>");
          }

      });

  });
</script>


<script>
  $(document).on("click", '[id^="change_doc_"]', function(){

      var project = jQuery(this).attr("id");
      var splitted = project.split('_'); //changeRow_Qt_1504
      var id = splitted[2] //1504

      $("#document_form_"+id).show();
      
  });
</script>

<script>

	$( "#submit-rating" ).click(function() {

    if(!$("#ratername").val()|| !$("#rateremail").val() ){
      $(".error-message-rating").show().text("Name and email are required for rating");
      $("#ratername").focus();
      throw new Error("Please enter your name and email");
    }

    
		var ratingval = $("#selected_rating").val();
		var ratername = $("#ratername").val();
		var rateremail = $("#rateremail").val();
		var musician_id = {{musician.id}};

    console.log(ratingval);

			$.ajax({
				url:'{{ (path('save_rating')) }}',
				type: "POST",
				dataType: "json",
				data: {
					"ratingval": ratingval,
					"ratername": ratername,
					"rateremail": rateremail,
					"musician_id": musician_id,
				},
				async: true,
				success: function (data)
				{
					console.log(data);
					console.log("saved rating");
          $( "#rating-submitted" ).show()
          $(".error-message-rating").hide()
				},
				error: function () {
					$("#error-message").show().html("<b>something's wrong</b>");
				}
			});

	});

</script>

<script>

	$( "#send-my-email" ).click(function() {

    if(!$("#sendername").val() || !$("#senderemail").val() || !$("#subject").val() || !$("#message").val() ){
      $(".error-message-msg").show().text("Name, email, subject and message are all required for rating");
      throw new Error("Please enter all details");
    }

		var sendername = $("#sendername").val();
		var senderemail = $("#senderemail").val();
		var message = $("#message").val();
		var subject = $("#subject").val();
		var musician_id = {{musician.id}};

    $(".loading").show();
			$.ajax({
				url:'{{ (path('musician_receive_message')) }}',
				type: "POST",
				dataType: "json",
				data: {
					"sendername": sendername,
					"senderemail": senderemail,
					"message": message,
					"subject": subject,
					"musician_id": musician_id,
				},
				async: true,
				success: function (data)
				{
					console.log(data);
					console.log("message sent");
          $( "#sent-message" ).show();
          $(".error-message-msg").hide()
          $(".loading").hide();
				},
				error: function () {
					$("#error-message").show().html("<b>something's wrong</b>");
				}
			});

	});

</script>

<script>
    jQuery(document).ready(function($){
        
      $(".btnrating").on('click',(function(e) {
      
        var previous_value = $("#selected_rating").val();
        
        var selected_value = $(this).attr("data-attr");
        $("#selected_rating").val(selected_value);
        
        $(".selected-rating").empty();
        $(".selected-rating").html(selected_value);
        
        for (i = 1; i <= selected_value; ++i) {
        $("#rating-star-"+i).toggleClass('btn-default');
        $("#rating-star-"+i).toggleClass('btn-warning');
        }
        
        for (ix = 1; ix <= previous_value; ++ix) {
        $("#rating-star-"+ix).toggleClass('btn-default');
        $("#rating-star-"+ix).toggleClass('btn-warning');
        }
      
      }));
    
      
    });

</script>

{% include "reusable/call_me_script.html.twig" %}

{% endblock %}