{% extends 'base_folio.html.twig' %}

{% block title %}{{musician.fullname}}{% endblock %}

{% block stylesheets %}

<style type="text/css">

        .centered {

          text-align: center;
          line-height: 50px!important;
          height: 70px;
          letter-spacing: 0px!important;
        } 

        .btn-circle
        {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }
        .btn-circle.btn-lg
        {
            width: 50px;
            height: 50px;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.33;
            border-radius: 25px;
        }
        .btn-circle.btn-xl
        {
            width: 70px;
            height: 70px;
            padding: 10px 16px;
            font-size: 24px;
            line-height: 1.33;
            border-radius: 35px;
        }

        /* HORIZONTAL */
        @keyframes horizontal {
          0%{transform:translate(0,0)}
          6%{transform:translate(5px,0)}
          12%{transform:translate(0,0)}
          18%{transform:translate(5px,0)}
          24%{transform:translate(0,0)}
          30%{transform:translate(5px,0)}
          36%,100%{transform:translate(0,0)}
        }
        .faa-horizontal.animated,
        .faa-horizontal.animated-hover:hover,
        .faa-parent.animated-hover:hover > .faa-horizontal {
          animation: horizontal 2s ease infinite;
        }
        .faa-horizontal.animated.faa-fast,
        .faa-horizontal.animated-hover.faa-fast:hover,
        .faa-parent.animated-hover:hover > .faa-horizontal.faa-fast {
          animation: horizontal 1s ease infinite;
        }
        .faa-horizontal.animated.faa-slow,
        .faa-horizontal.animated-hover.faa-slow:hover,
        .faa-parent.animated-hover:hover > .faa-horizontal.faa-slow {
          animation: horizontal 3s ease infinite;
        }

        .skills ul{
            display:block;
            margin:0 auto;
            padding:0;
            max-width:800px
        }
        .skills li{
            display:inline-block;
            margin:7px;
            padding:5px 10px;
            color:#374054;
            background:#e4e4ea;
            list-style:none;
            cursor:default;
            font-size:1.2em
        }

        .skillssm li{
            display:inline-block;
            margin:5px;
            padding:3px 7px;
            color:#374054;
            background:#e4e4ea;
            list-style:none;
            cursor:default;
            font-size:.8em
        }



    /******************* Timeline Demo - 8 *****************/
    .main-timeline8{overflow:hidden;position:relative}
    .main-timeline8:after,.main-timeline8:before{content:"";display:block;width:100%;clear:both}
    .main-timeline8:before{content:"";width:3px;height:100%;background:#d6d5d5;position:absolute;top:30px;left:50%}
    .main-timeline8 .timeline{width:50%;float:left;padding-right:30px;position:relative}
    .main-timeline8 .timeline-icon{width:32px;height:32px;border-radius:50%;background:#fff;border:3px solid #fe6847;position:absolute;top:5.5%;right:-17.5px}
    .main-timeline8 .year{display:block;padding:10px;margin:0;font-size:30px;color:#fff;border-radius:0 50px 50px 0;background:#755A4F;text-align:center;position:relative}
    .main-timeline8 .year:before{content:"";border-top:35px solid #BD9281;border-left:35px solid transparent;position:absolute;bottom:-35px;left:0}
    .main-timeline8 .timeline-content{padding:30px 20px;margin:0 45px 0 35px;background:#f2f2f2}
    .main-timeline8 .title{font-size:19px;font-weight:700;color:#504f54;margin:0 0 10px}
    .main-timeline8 .description{font-size:14px;color:#7d7b7b;margin:0}
    .main-timeline8 .timeline:nth-child(2n){padding:0 0 0 30px}
    .main-timeline8 .timeline:nth-child(2n) .timeline-icon{right:auto;left:-14.5px}
    .main-timeline8 .timeline:nth-child(2n) .year{border-radius:50px 0 0 50px;background:#755A4F}
    .main-timeline8 .timeline:nth-child(2n) .year:before{border-left:none;border-right:35px solid transparent;left:auto;right:0}
    .main-timeline8 .timeline:nth-child(2n) .timeline-content{text-align:right;margin:0 35px 0 45px}
    .main-timeline8 .timeline:nth-child(2){margin-top:170px}
    .main-timeline8 .timeline:nth-child(odd){margin:-175px 0 0}
    .main-timeline8 .timeline:nth-child(even){margin-bottom:80px}
    .main-timeline8 .timeline:first-child,.main-timeline8 .timeline:last-child:nth-child(even){margin:0}
    .main-timeline8 .timeline:nth-child(2n) .timeline-icon{border-color:#7eda99}
    .main-timeline8 .timeline:nth-child(2n) .year:before{border-top-color:#BD9281}
    .main-timeline8 .timeline:nth-child(3n) .timeline-icon{border-color:#8a5ec1}
    .main-timeline8 .timeline:nth-child(3n) .year{background:#755A4F}
    .main-timeline8 .timeline:nth-child(3n) .year:before{border-top-color:#BD9281}
    .main-timeline8 .timeline:nth-child(4n) .timeline-icon{border-color:#f98d9c}
    .main-timeline8 .timeline:nth-child(4n) .year{background:#755A4F}
    .main-timeline8 .timeline:nth-child(4n) .year:before{border-top-color:#BD9281}
    @media only screen and (max-width:767px){.main-timeline8{overflow:visible}
    .main-timeline8:before{top:0;left:0}
    .main-timeline8 .timeline:nth-child(2),.main-timeline8 .timeline:nth-child(even),.main-timeline8 .timeline:nth-child(odd){margin:0}
    .main-timeline8 .timeline{width:100%;float:none;padding:0 0 0 30px;margin-bottom:20px!important}
    .main-timeline8 .timeline:last-child{margin:0!important}
    .main-timeline8 .timeline-icon{right:auto;left:-14.5px}
    .main-timeline8 .year{border-radius:50px 0 0 50px}
    .main-timeline8 .year:before{border-left:none;border-right:15px solid transparent;left:auto;right:0}
    .main-timeline8 .timeline:nth-child(2n) .timeline-content{text-align:right;margin:0 15px 0 5px}
    .main-timeline8 .timeline:nth-child(2n) .year:before{border-left:none;border-right:15px solid transparent;left:auto;right:0}
    .main-timeline8 .timeline-content{margin:0 15px 0 5px}
    .tracking-item{margin-left:0px!important;}
    .main-timeline8 .year{font-size:18px;}
    #about .div-img-bg{border:0px;}
    #about{padding-top:40px;}
    }


</style>
{% set bgPhoto = asset('img/class_brown.jpg') %}
{% set photopath = asset('uploads/gallery/' ~ musician.settings.bgphoto) %}

<style type="text/css">

  .rating-header {
      margin-top: -10px;
      margin-bottom: 10px;
  }
  #hero {
    /* background: url("{{ asset('img/class_brown.jpg')}}") repeat scroll center center/cover; */
    background: url("{{musician.hassettings and musician.settings.bgphoto != null ? photopath : bgPhoto }}");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .tracking-detail {
  padding:3rem 0
  }
  #tracking {
  margin-bottom:1rem
  }
  [class*=tracking-status-] p {
  margin:0;
  font-size:1.1rem;
  color:#fff;
  text-transform:uppercase;
  text-align:center
  }
  [class*=tracking-status-] {
  padding:1.6rem 0
  }
  .tracking-status-intransit {
  background-color:#65aee0
  }
  .tracking-status-outfordelivery {
  background-color:#f5a551
  }
  .tracking-status-deliveryoffice {
  background-color:#f7dc6f
  }
  .tracking-status-delivered {
  background-color:#4cbb87
  }
  .tracking-status-attemptfail {
  background-color:#b789c7
  }
  .tracking-status-error,.tracking-status-exception {
  background-color:#d26759
  }
  .tracking-status-expired {
  background-color:#616e7d
  }
  .tracking-status-pending {
  background-color:#ccc
  }
  .tracking-status-inforeceived {
  background-color:#214977
  }
  .tracking-list {
  border:1px solid #e5e5e5
  }
  .tracking-item {
  border-left:1px solid #e5e5e5;
  position:relative;
  padding:2rem 1.5rem .5rem 2.5rem;
  font-size:.9rem;
  margin-left:3rem;
  min-height:5rem
  }
  .tracking-item:last-child {
  padding-bottom:4rem
  }
  .tracking-item .tracking-date {
  margin-bottom:.5rem
  }
  .tracking-item .tracking-date span {
  color:#888;
  font-size:85%;
  padding-left:.4rem
  }
  .tracking-item .tracking-content {
  padding:.5rem .8rem;
  background-color:#f4f4f4;
  border-radius:.5rem
  }
  .tracking-item .tracking-content span {
  display:block;
  color:#888;
  font-size:85%
  }
  .tracking-item .tracking-icon {
  line-height:2.6rem;
  position:absolute;
  left:-1.3rem;
  width:2.6rem;
  height:2.6rem;
  text-align:center;
  border-radius:50%;
  font-size:1.1rem;
  background-color:#fff;
  color:#fff
  }
  .tracking-item .tracking-icon.status-sponsored {
  background-color:#f68
  }
  .tracking-item .tracking-icon.status-delivered {
  background-color:#4cbb87
  }
  .tracking-item .tracking-icon.status-outfordelivery {
  background-color:#f5a551
  }
  .tracking-item .tracking-icon.status-deliveryoffice {
  background-color:#f7dc6f
  }
  .tracking-item .tracking-icon.status-attemptfail {
  background-color:#b789c7
  }
  .tracking-item .tracking-icon.status-exception {
  background-color:#d26759
  }
  .tracking-item .tracking-icon.status-inforeceived {
  background-color:#214977
  }
  .tracking-item .tracking-icon.status-intransit {
  color:#755A4F;
  border:1px solid #755A4F;
  font-size:.6rem
  }
  @media(min-width:992px) {
  .tracking-item {
    margin-left:20rem
  }
  .tracking-item .tracking-date {
    position:absolute;
    left:-15rem;
    width:11.5rem;
    text-align:right
  }
  .tracking-item .tracking-date span {
    display:block
  }
  .tracking-item .tracking-content {
    padding:0;
    background-color:transparent
  }
  }
</style>

{% include "reusable/call_me_styles.html.twig" %}
{% endblock %}

{% block body %}

  <!-- ======= Navbar ======= -->
  <nav id="main-nav">
    <div class="row">
      <div class="container">

        <div class="logo">
        {% set logourl = asset('img/logo_only_white_sq.png') %}
          <a href="{{path('homepage')}}"><img src="{{logourl}}" alt="logo"></a>
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
          <li><a href="#header" class="smoothScroll">Home</a></li>
          <li><a href="#about" class="smoothScroll">About</a></li>
          <li><a href="#experience" class="smoothScroll">Experience</a></li>
          <li><a href="#education" class="smoothScroll">Education</a></li>
          <li><a href="#album" class="smoothScroll">Gallery</a></li>
          <li><a href="#skills" class="smoothScroll">Skills</a></li>
          <li><a href="#contacts" class="smoothScroll">Contact</a></li>
        </ul>

      </div>
    </div>
  </nav><!-- End Navbar -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="home">

    <div class="container">
      <div class="hero-content">
        <h1>{{musician.fullname}}</h1>
        <h3><span class="typed"></span></h3>
        <p class="typed-items" data-typed-person="Musician">{% for job_role in musician.jobstobeoffered %}{{job_role.jobtitle}} {% if loop.index < musician.jobstobeoffered|length %},{% endif %}{% endfor %}</p>

        <ul class="list-unstyled list-social">
          <li><a href="{{musician.settings and (musician.settings.facebook  == null or musician.settings.facebook == "") ? '#' : musician.settings.facebook | external_link}}"><i class="ion-social-facebook"></i></a></li>
          <li><a href="{{musician.settings and (musician.settings.twitter  == null or musician.settings.twitter == "") ? '#' : musician.settings.twitter | external_link}}"><i class="ion-social-twitter"></i></a></li>
          <li><a href="{{musician.settings and (musician.settings.instagram  == null or musician.settings.instagram == "") ? '#' : musician.settings.instagram | external_link}}"><i class="ion-social-instagram"></i></a></li>
          <li><a href="{{musician.settings and (musician.settings.linkedin  == null or musician.settings.linkedin == "") ? '#' : musician.settings.linkedin | external_link}}"><i class="ion-social-linkedin"></i></a></li>
          <li><a href="https://api.whatsapp.com/send?phone={{musician.phone}} "><i class="ion-social-whatsapp"></i></a></li>
          <li><a href="{{musician.settings and (musician.settings.facebook  == null or musician.settings.facebook == "") ? '#' : musician.settings.facebook | external_link}}"><i class="ion-social-dribbble"></i></a></li>
        </ul>
        {% include "reusable/call_me_code.html.twig" %}
      </div>
    </div>
  </div><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-4 ">
            <div class="div-img-bg">
              <div class="about-img">
                {% set thumbnailurl = asset('uploads/photos/thumbs/' ~ musician.photo ~ '.png') %}
                <img src="{{thumbnailurl}}" class="img-responsive" alt="{{musician.fullname}}">
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="about-descr">

              <p class="p-heading">About Me</p>
              <p class="separator">{{musician.about}}</p>

            </div>

          </div>
        </div>
      </div>
    </div><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <div id="services">
      <div class="container">

        <div class="owl-theme text-center">

            <ul class="skills">
                {% if musician.settings and musician.settings.tsc == 'true' %} <li> TSC Certified  </li>{% endif %}
                {% if musician.settings and musician.settings.online == 'true' %} <li> Online Lessons Available  </li>{% endif %}
                {% if musician.settings and musician.settings.placeofwork != null %} <li> {{musician.settings.placeofwork}}  </li>{% endif %}
                {% if app.user == null %}
                <li><a style="background-color:#007bff!important;" target="_blank" href="{{path('musician_show', {'username': musician.username, 'download': 'pdf'})}}" class="btn btn-lg btn-primary">Download Resume</a></li>
                {% endif %}
                {% if app.user and app.user != null and app.user == musician %}
                    <li><a style="background-color:#007bff!important;" class="btn btn-lg btn-primary" href="{{ path('musician_profile')}}">Profile Page</a></li>
                {% endif %}
            </ul>

        </div>

      </div>

    </div><!-- End Services Section -->

    <!-- ======= Experience Section ======= -->
    <div id="experience" class="text-center paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>Experience</h2>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline8">
                    {% for job in jobs %}
                        <div class="timeline">
                            <span class="timeline-icon"></span>
                            <span class="year">{{job.startingfrom|date("M Y")}} – {{job.currentornot == 'current' ? 'Present' : job.endedin|date("M Y") }}</span>
                            <div class="timeline-content">
                                <h3 class="title">{{job.jobtitle}}</h3>
                                <h5>{{job.institution}}{{" / " ~ job.location}}</h5>
                                <p class="description">
                                <hr />
                                    {% if job.roles is empty %}
                                      {% if app.user and app.user != null and app.user == musician %}
                                              You haven't added any roles that you did in this job. Please <a href="{{ path('role_new', {'job_id': job.id}) }}">Add some roles </a>
                                      {% else %}
                                              Did all the required roles that a {{job.jobtitle}} should do. You can <a target="_blank" href="http://www.google.com/search?q={{job.jobtitle|replace({' ': '+'}) }}+Job+Description">search on google</a> what the roles are.
                                      {% endif %}
                                    {% else %}
                                        <ul class="text-left">
                                            {% for role in job.roles %}
                                            <li>{{role.role}}</li>
                                            {% endfor %}
                                            {% if app.user and app.user != null and app.user == musician %}<li><a href="{{ path('role_new', {'job_id': job.id}) }}">Add roles</a></li>{% endif %}
                                        </ul>
                                    {% endif %}
                                </p>
                            </div>
                            <br /><br />
                        </div>
                        
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        
           
          </div>
        </div>
      </div>

    </div><!-- End Experience Section -->


    <!-- ======= Education Section ======= -->
    <div id="education" class="text-left paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>Education</h2>
        </div>
      </div>

      <div class="container">
        <div class="row">
            
            <div class="col-md-12 col-lg-12">
              <div id="tracking-pre"></div>
              <div id="tracking">
                  <div class="tracking-list">
                  {% for edu in educ %}
                    <div class="tracking-item">
                        <div class="tracking-icon status-intransit">
                          <svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                              <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
                          </svg>
                          <!-- <i class="fas fa-circle"></i> -->
                        </div>
                        <div class="tracking-date"><h6>{{edu.fromyear|date("M Y")}} - <span>{{edu.toyear|date("M Y")}}</span></h6></div>
                        <div class="tracking-content">
                          <h3 class="title">{{edu.degree}}</h3>
                          <h5 class="title">{{edu.coursename}}</h5>
                          <span>{{edu.institution}} | {{edu.location}}</span>
                          {% include "reusable/edu_form.html.twig" %}
                          <p>{% include "reusable/edu_skills.html.twig" with {'class': 'skillssm'} %}</p>
                        </div>
                    </div>
                  {% endfor %}
                  </div>
              </div>
            </div>
        </div>
      </div>

    </div><!-- End Education Section -->

    {% if musician.projects %}
    <!-- ======= Projects Section ======= -->
    <div id="projects" class="text-center paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>Projects</h2>
        </div>
      </div>
      {% for project in musician.projects %}
      <div class="container">
        <div class="journal-block">
          <div class="row text-left">

            <div class="col-lg-4 col-md-6">
              <div class="journal-info">
                {% set imagelink = asset('uploads/projects/' ~ project.projectimage) %}
                <img src="{{ project.projectimage == null or project.projectimage == "" ? asset('devportfolio/images/project.jpg') : imagelink }}" id="project_image_{{project.id}}" class="img-responsive" alt="{{project.projecttitle}}">

              </div>
            </div>
            <div class="col-lg-8 col-md-6">
              <div class="journal-info">
                <div class="journal-txt">

                  <h3>{{project.projecttitle}}</h3><hr />
                  <p class="separator">{{project.projectdescription}}
                  </p>

                </div>
                <hr />
                {# {% if app.user and app.user != null and app.user == musician and app.user.settings %} #}
                {% include "reusable/project_form.html.twig" %}
                {% if project.projectimage != null and project.projectimage != "" and (app.user and app.user == musician) %}
                  <button class="btn btn-sm btn-primary" id="change_projPhoto_{{project.id}}">Change Project Image</button>
                {% endif %}

              </div>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}

    </div><!-- End Projects Section -->
    {% endif %}

    <!-- ======= Album Section ======= -->
    {% if (musician.settings and musician.isproandactive == 'true') or (musician.settings and musician.ismuskeandactive == 'true') %}
    <div id="album" class="text-center paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>Album</h2>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="portfolio-container">
            {% if fourPhotos|length > 1 %}
              {% for photo in fourPhotos %}
              {% set photo_path = asset('uploads/gallery/' ~ photo.photo) %}
              {% set photo_thumbnailpath = asset('uploads/gallery/thumbs/' ~ photo.photo ~ '.png') %}              
              <div class="col-lg-4 col-md-6 portfolio-thumbnail">
                <a class="popup-img" href="{{photo_path}}">
                  <img src="{{photo_thumbnailpath}}" alt="{{photo.description}}">
                </a>
              </div>
              {% endfor %}
            {% else %}
            <p>There are currently no photos in this gallery</p>
              {% if app.user and app.user != null and app.user == musician %}
              <a href="{{ path('gallery_new')}}" class="btn btn-primary">Add Photos</a>
              {% endif %}
            {% endif %}
            </div>
            <div class="col-md-12">
            {% if fourPhotos|length > 1 %}<a href="{{ path('gallery_index', {'username': musician.username })}}" class="btn btn-primary">See More Photos</a>{% endif %}
            </div>
          </div>
        </div>
      </div>

    </div><!-- End Album Section -->
    {% endif %}
    <hr />
    
    <!-- ======= Skills Section ======= -->
    <div id="skills">
      <div class="container">
        <div class="section-title text-center">
          <h2>Skills</h2>
        </div>
      </div>

      <div class="container">

        <div class="owl-theme text-center">
          <ul class="skills">
            {% include "reusable/_simpleskills_.html.twig" %}
          </ul>
        </div>

      </div>

    </div><!-- End Skills Section -->

    {% if musician.isproandactive and blogPosts|length >= 0 %}
    <!-- ======= Journal Section ======= -->
    <div id="journal" class="text-left paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>Blog Posts</h2>
        </div>
      </div>

      <div class="container">
        <div class="journal-block">
          <div class="row">

            {% for post in blogPosts %}
            <div class="col-lg-4 col-md-6">
              <div class="journal-info">

                <a href="{{ path('post_show', {'id': post.id, 'title': post.title})}}"><img src="
                  {% if file_exists(assetDirectory ~ '/blog/thumbs/' ~ post.image ~ ".png") %}
                    {{ asset('uploads/blog/thumbs/' ~ post.image ~ ".png") }}
                  {% else %}
                    {{asset('/uploads/blog/play_thumbnail.png')}}
                  {% endif %}" style="width:100%" class="img-responsive" alt="{{post.title}}"></a>

                <div class="journal-txt">

                  <h4><a href="{{ path('post_show', {'id': post.id, 'title': post.title})}}">{{post.title}}</a></h4>
                  <p class="separator">{{post.content|slice(0, 119)|raw}}...
                  </p>

                </div>

              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div><!-- End Journal Section -->
    {% endif %}

    <!-- ======= Contact Section ======= -->
    <div id="contacts" class="paddsection">
      <div class="container">
        <div class="contact-block1">
          <div class="row">

          <div class="container">
            <div class="section-title text-center">
              <h2>Connect</h2>
            </div>
          </div>

            <div class="col-lg-6">
              <form  role="form" class="php-email-form">
                <div class="row">

                  <div class="col-lg-6">
                    <div class="form-group contact-block1">
                      <input type="text" name="name" class="form-control" id="ratername" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                      <div class="validate"></div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" id="rateremail" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                      <div class="validate"></div>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">

                      <div class="form-group" id="rating-ability-wrapper">
                        <label class="control-label" for="rating">
                        <span class="field-label-header">How would you rate {{musician.fullname}}?</span><br>
                        <span class="field-label-info"></span>
                        <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
                        </label>
                        <h2 class="bold rating-header">
                        <span class="selected-rating">0</span><small> / 5</small>
                        </h2>
                        <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>
                      </div>                    
                    </div>
                  </div>

                  <div class="col-lg-12 mb-3">
                    <div class="error-message-rating"></div>
                    <div id="rating-submitted" class="sent-message">Your rating has been submitted. Thank you!</div>
                  </div>

                  <div class="col-lg-6">
                    <input type="button" id="submit-rating" class="btn btn-special btn-send" value="Submit Rating">
                  </div>

                </div>
              </form>
            </div>


            <div class="col-lg-6">
              <form action="" role="form" class="php-email-form">
                <div class="row">

                  <div class="col-lg-6">
                    <div class="form-group contact-block1">
                      <input type="text" name="name" class="form-control" id="sendername" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                      <div class="validate"></div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" id="senderemail" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                      <div class="validate"></div>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                      <div class="validate"></div>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <textarea class="form-control" id="message" name="message" rows="12" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                      <div class="validate"></div>
                    </div>
                  </div>

                  <div class="col-lg-12 mb-3">
                    <div class="loading">Sending...</div>
                    <div class="error-message-msg"></div>
                    <div id="sent-message" class="sent-message">Your message has been sent. Thank you!</div>
                  </div>

                  <div class="col-lg-12">
                    <input type="button" id="send-my-email" class="btn btn-special btn-send" value="Send message">
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <li><a href="{{  musician.hassettings ? musician.settings.facebook | external_link : '#'}}"><i class="ion-social-facebook"></i></a></li>
          <li><a href="{{  musician.hassettings ? musician.settings.twitter | external_link : '#'}}"><i class="ion-social-twitter"></i></a></li>
          <li><a href="{{  musician.hassettings ? musician.settings.instagram | external_link : '#'}}"><i class="ion-social-instagram"></i></a></li>
          <li><a href="{{  musician.hassettings ? musician.settings.linkedin | external_link : '#'}}"><i class="ion-social-linkedin"></i></a></li>
          <li><a href="{{  musician.hassettings ? musician.settings.facebook | external_link : '#'}}"><i class="ion-social-tumblr"></i></a></li>
          <li><a href="{{  musician.hassettings ? musician.settings.facebook | external_link : '#'}}"><i class="ion-social-dribbble"></i></a></li>
          <li><i class="ion-ios-contact"></i> : <span>{{musician.fullname}}</span></li>
          <li><i class="ion-ios-briefcase"></i> : <span>{{musician.settings.placeofwork}}</span></li>
          <li><i class="ion-android-call"></i> : <span>{{musician.phone}}</span></li>
          <li><i class="ion-android-mail"></i> : <span>{{musician.email}}</span></li>
          <li><i class="ion-ios-world"></i> : <span>muske.co.ke/{{musician.username}}</span></li>
        </ul>




      <p>&copy; Copyrights Music Services Kenya. All rights reserved.</p>
      <p>{{musician.username}} | {% if app.user and app.user != null and app.user == musician %} <a href="{{path("app_logout")}}">Logout</a> {% else %} <a href="{{path("homepage")}}">Login</a>{% endif %}</p>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>

    </div>
  </div><!-- End Footer -->

{% endblock %}

{% block javascripts %}

{% if musician.settings and musician.settings.tawkTo != null %}
    <script type="text/javascript">
        {{musician.settings.tawkTo|raw}}
    </script>
    
{% else %}

        <!-- BEGIN PHP Live! HTML Code [V3] -->
        <span style="color: #0000FF; text-decoration: underline; line-height: 0px !important; cursor: pointer; position: fixed; top: 50%; right: 0px; z-index: 20000000;" id="phplive_btn_1590492179"></span>
        <script data-cfasync="false" type="text/javascript">

        (function() {
        var phplive_e_1590492179 = document.createElement("script") ;
        phplive_e_1590492179.type = "text/javascript" ;
        phplive_e_1590492179.async = true ;
        phplive_e_1590492179.src = "https://phplive.muske.co.ke/js/phplive_v2.js.php?v=0%7C1590492179%7C0%7C&" ;
        document.getElementById("phplive_btn_1590492179").appendChild( phplive_e_1590492179 ) ;
        if ( [].filter ) { document.getElementById("phplive_btn_1590492179").addEventListener( "click", function(){ phplive_launch_chat_0() } ) ; } else { document.getElementById("phplive_btn_1590492179").attachEvent( "onclick", function(){ phplive_launch_chat_0() } ) ; }
        })() ;

        </script>
        <!-- END PHP Live! HTML Code [V3] -->                

{% endif %}

<script>
  $(document).on("click", '[id^="proj_"]', function(){

      var project = jQuery(this).attr("id");
      var splitted = project.split('_'); //changeRow_Qt_1504
      var id = splitted[1] //1504

  // function saveDoc() {
      var inputFile = document.getElementById('documento_'+id);
      var file = inputFile.files[0];
      var data = new FormData();
      data.append('doc', file, file.name);
      $.ajax({
          url: "{{ path('upload_project_image') }}",
          type: "POST",
          data: data,
          processData: false,
          contentType: false,
          cache: false,
          success: function (data){
              console.log(data);
              console.log("saved information");
              $.ajax({
                  url:"{{ (path('upload_project_image')) }}",
                  type: "POST",
                  dataType: "json",
                  data: {
                      "id": id,
                      "filename": data,
                  },
                  async: true,
                  success: function (data)
                  {
                      console.log(data);
                      console.log("saved another information");
                      $("#project_image"+"_"+id).attr("src", data).css("maxWidth", '250px');
                  },
                  error: function () {
                      $("#warning").html("<b>something's wrong</b>");
                  }
              });

          },
          error: function () {
              $("#warning").html("<b>something's wrong</b>");
          }

      });

    });
</script>

<script>
    $(document).on("click", '[id^="upload_doc_"]', function(){

        var project = jQuery(this).attr("id");
        var splitted = project.split('_'); //changeRow_Qt_1504
        var id = splitted[2] //1504
        $(this).prop('disabled', true);

    // function saveDoc() {
        var inputFile = document.getElementById('doc_edu_'+id);
        var file = inputFile.files[0];
        var data = new FormData();
        data.append('doc', file, file.name);
        $.ajax({
            url: "{{ path('upload_education_document') }}",
            type: "POST",
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            success: function (data){
                console.log(data);
                console.log("saved information");
                $.ajax({
                    url:"{{ (path('upload_education_document')) }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "id": id,
                        "filename": data,
                    },
                    async: true,
                    success: function (data)
                    {
                        console.log(data);
                        console.log("saved another information");
                        // $("#project_image"+"_"+id).attr("src", data).css("maxWidth", '250px');
                        $("#alert_"+id).html(
                            '<div class="alert alert-success" role="alert">' +
                                'You have successfully uploaded the file.' +
                            '</div>'
                        );
                        $("#document_form_"+id).hide();
                        $("#download_doc_"+id).attr("href", data);
                        $(this).prop('disabled', false);
                    },
                    error: function () {
                        $("#warning").html("<b>something's wrong</b>");
                    }
                });

            },
            error: function () {
                $("#warning").html("<b>something's wrong</b>");
            }

        });

    });
</script>


<script>
  $(document).on("click", '[id^="change_doc_"]', function(){

      var project = jQuery(this).attr("id");
      var splitted = project.split('_'); //changeRow_Qt_1504
      var id = splitted[2] //1504

      $("#document_form_"+id).show();
      
  });
</script>

<script>
    $(document).on("click", '[id^="change_projPhoto_"]', function(){

        var project = jQuery(this).attr("id");
        var splitted = project.split('_'); //changeRow_Qt_1504
        var id = splitted[2] //1504

        $("#project_form_"+id).show();
        
    });

    jQuery(document).ready(function($){
        
      $(".btnrating").on('click',(function(e) {
      
        var previous_value = $("#selected_rating").val();
        
        var selected_value = $(this).attr("data-attr");
        $("#selected_rating").val(selected_value);
        
        $(".selected-rating").empty();
        $(".selected-rating").html(selected_value);
        
        for (i = 1; i <= selected_value; ++i) {
        $("#rating-star-"+i).toggleClass('btn-default');
        $("#rating-star-"+i).toggleClass('btn-warning');
        }
        
        for (ix = 1; ix <= previous_value; ++ix) {
        $("#rating-star-"+ix).toggleClass('btn-default');
        $("#rating-star-"+ix).toggleClass('btn-warning');
        }
      
      }));
    
      
    });

</script>

<script>

	$( "#submit-rating" ).click(function() {

    if(!$("#ratername").val()|| !$("#rateremail").val() ){
      $(".error-message-rating").show().text("Name and email are required for rating");
      $("#ratername").focus();
      throw new Error("Please enter your name and email");
    }

    
		var ratingval = $("#selected_rating").val();
		var ratername = $("#ratername").val();
		var rateremail = $("#rateremail").val();
		var musician_id = "{{musician.id}}";

    console.log(ratingval);

			$.ajax({
				url:"{{ (path('save_rating')) }}",
				type: "POST",
				dataType: "json",
				data: {
					"ratingval": ratingval,
					"ratername": ratername,
					"rateremail": rateremail,
					"musician_id": musician_id,
				},
				async: true,
				success: function (data)
				{
					console.log(data);
					console.log("saved rating");
          $( "#rating-submitted" ).show()
          $(".error-message-rating").hide()
				},
				error: function () {
					$("#error-message").show().html("<b>something's wrong</b>");
				}
			});

	});

</script>

<script>

	$( "#send-my-email" ).click(function() {

    if(!$("#sendername").val() || !$("#senderemail").val() || !$("#subject").val() || !$("#message").val() ){
      $(".error-message-msg").show().text("Name, email, subject and message are all required for rating");
      throw new Error("Please enter all details");
    }

		var sendername = $("#sendername").val();
		var senderemail = $("#senderemail").val();
		var message = $("#message").val();
		var subject = $("#subject").val();
		var musician_id = "{{musician.id}}";

    $(".loading").show();
			$.ajax({
				url:"{{ (path('musician_receive_message')) }}",
				type: "POST",
				dataType: "json",
				data: {
					"sendername": sendername,
					"senderemail": senderemail,
					"message": message,
					"subject": subject,
					"musician_id": musician_id,
				},
				async: true,
				success: function (data)
				{
					console.log(data);
					console.log("message sent");
          $( "#sent-message" ).show();
          $(".error-message-msg").hide()
          $(".loading").hide();
				},
				error: function () {
					$("#error-message").show().html("<b>something's wrong</b>");
				}
			});

	});

</script>

{% include "reusable/call_me_script.html.twig" %}
{% endblock %}