<div class="container" id="theme-two">
    {% if thumbnailurl is not defined %}
        {% set thumbnailurl = musician.thumbnailurl %}
    {% endif %}
<div class="row" id="header">
        <div class="col-md-12">
            <div class="row">
                <div class="col-1 d-none d-md-block" id="for-prof-image"><img style="border-radius: 50%;" id="profile-image" src="{{thumbnailurl}}"></div>
                <div class="col">
                    <div id="name-and-title">
                        <h2>{{musician.fullname|title}}</h2>
                        <h3>{{ musician.title != null ? musician.title : 'Musician'}}</h3>
                        <a class="spaced-links" href="tel:{{app.user != null and app.user == musician ? musician.realphone : musician.phone}}">&nbsp;<i class="fa fa-phone"></i>&nbsp;{{app.user != null and app.user == musician ? musician.realphone : musician.phone}}</a><a class="spaced-links" href="mailto:{{app.user != null and app.user == musician ? musician.realemail : musician.email}}">&nbsp;<i class="fa fa-envelope"></i>&nbsp;{{app.user != null and app.user == musician ? musician.realemail : musician.email}}</a><a class="spaced-links" href="https://www.muske.co.ke/{{musician.username}}">&nbsp;<i class="fa fa-globe"></i>&nbsp;www.muske.co.ke/{{musician.username}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fa fa-user-circle-o"></i>&nbsp;Profile</h4>
                    <p class="card-text">{{musician.about}}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fa fa-briefcase"></i>&nbsp;Employment History</h4>
                    {% for job in jobs %}
                    <div>
                        <h5 class="text-muted mb-2">{{job.jobtitle}}, {{job.institution}}, {{job.location}}</h5>
                        <h6 class="text-muted mb-2">{{job.startingfrom|date("M Y")}} – {{job.currentornot == 'current' ? 'Present' : job.endedin|date("M Y") }}</h6>
                        {% include "web/templates/list.html.twig" %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fa fa-graduation-cap"></i>&nbsp;Education</h4>
                    {% for edu in educ %}
                    <div style="position: relative; padding-right:20px; padding-top:10px; padding-bottom:10px;">
                        <h5 class="text-muted mb-2">{{edu.coursename}} | {{edu.degree}}</h5>
                        <h6 class="text-muted mb-2">{{edu.institution}}, {{edu.location}} | {{edu.fromyear|date("M Y")}} - {{"now"|date('U') < edu.toyear|date('U') ? "Ongoing" : edu.toyear|date("M Y")}}</h6>
                        {% include "web/templates/doc.html.twig" %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if musician.projects is not empty %}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fa fa-music"></i>&nbsp;Projects</h4>
                    {% for project in musician.projects %}
                    <h5>{{project.projecttitle}}</h5>
                    <p>{{project.projectdescription}}.<br>
                    </p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <div class="card content d-none d-md-block" style="margin-bottom: 50px;">
                <div class="card-body">
                    <h4 class="card-title"><i class="fa fa-bullhorn"></i>&nbsp;Referees</h4>
                    {% include "reusable/referees.html.twig" %}                     
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="right" style="border-left: 1px solid #777;">
                {% if musician.hassettings and musician.settings.signature|length > 0 and musician.settings.appendsignature == 'true' %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted card-subtitle mb-2">Details</h5>
                        <p class="card-text">{{musician.hassettings and musician.settings.signature|length > 0 ? musician.settings.signature|nl2br }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted card-subtitle mb-2">Skills</h5>
                        <ul class="list-group">
                            {% for skill in musician.skills %}
                                <li class="list-group-item skill-list"><span>{{skill.skillname}}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted card-subtitle mb-2">Specialties</h5>
                        <ul class="list-group">
                            {% for job_role in musician.jobstobeoffered %}
                            <li class="list-group-item skill-list"><span>{{job_role.jobtitle}}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card content d-md-none" style="margin-bottom: 50px;">
            {% include "reusable/referees.html.twig" %}                    
        </div>
    </div>
</div>
