{% extends 'pdfBase.html.twig' %}

{% block title %}Resume{% endblock %}
{% block stylesheets %}
<style>
    a {
        color: #03034d;
    }
</style>
<link rel="stylesheet" href="{{ asset('theme/assets/css/simple_five.css ') }}">
{% endblock %}
{% block body %}
    <div class="container" id="simple_four">
        <div class="row">
            <div class="col-md-4" id="header">
                <div class="mt-3">
                    <h3 class="user-name">{{musician.fullname}}</h3>
                </div>
            </div>
            <div class="col-md-4" id="mid">
                <div class="mt-3">
					<a href="#"><img src="{{app.request.getSchemeAndHttpHost()}}/icons/phone.png" style="margin:0px;padding:0px;width:10px; height:10px;" />&nbsp;{{musician.phone}}</a><br />
					<a href="#"><img src="{{app.request.getSchemeAndHttpHost()}}/icons/mail.png" style="margin:0px;padding:0px;width:10px; height:10px;" />&nbsp;{{musician.email}}</a><br />
					<a href="#"><img src="{{app.request.getSchemeAndHttpHost()}}/icons/sphere.png" style="margin:0px;padding:0px;width:10px; height:10px;" />&nbsp;www.muske.co.ke{{musician.username}}</a><br />
				</div>
            </div>
            <div class="col-md-4">
				{% if musician.hassettings and musician.settings.signature|length > 0 and musician.settings.appendsignature == 'true' %}
				<p class="mt-3 theme"><small>{{musician.hassettings and musician.settings.signature|length > 0 ? musician.settings.signature|nl2br }}</small></p>
				{% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="title-div">
                    <h4 class="title">Profile</h4>
                </div>
            </div>
            <div class="col-md-8 offset-md-4 right">
                <p>{{musician.about}}<br></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="title-div">
                    <h4 class="title">Work Experience</h4>
                </div>
            </div>
            {% for job in jobs %}
            <div class="col-md-4 right"><small>{{job.startingfrom|date("M Y")}} – {{job.currentornot == 'current' ? 'Present' : job.endedin|date("M Y") }}</small></div>
            <div class="col-md-8 right">
				<div>
					<h6 class="sec-heading">{{job.jobtitle}}</h6><small>{{job.institution}}</small>
                    {% include "web/templates/list.html.twig" %}				
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="title-div">
                    <h4 class="title">Education Background</h4>
                </div>
            </div>
            {% for edu in educ %}
            <div class="col-md-8 offset-md-4 right" style="position: relative;">
                <h6 class="sec-heading">{{edu.coursename}} | {{edu.degree}}</h6>
                <p class="sec-paragraph">{{edu.institution}} | {{edu.location}}</p>
                <small>{{edu.fromyear|date("M Y")}} - {{edu.toyear|date("M Y")}}</small>
                {% include "web/templates/doc.html.twig" %}
            </div>
            {% endfor %}
        </div>
        {% if musician.projects %}
        <div class="row">
            <div class="col-md-12">
                <div class="title-div">
                    <h4 class="title">Projects</h4>
                </div>
            </div>
            {% for project in musician.projects %}
            <div class="col-md-8 offset-md-4 right">
                <h6>{{project.projecttitle}}</h6>
                <p class="mt-3">{{project.projectdescription}}<br></p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="title-div">
                    <h4 class="title">Skills</h4>
                </div>
            </div>
            <div class="col-md-8 offset-md-4 right">
                <ul>
                    {% for skill in musician.skills %}
                    <li><span>{{skill.skillname}}</span></li>
                    {% endfor %}                
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="title-div">
                    <h4 class="title">Specialties</h4>
                </div>
            </div>
            <div class="col-md-8 offset-md-4 right">
                <ul>
                    {% for job_role in musician.jobstobeoffered %}
                    <li><span>{{job_role.jobtitle}}</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="title-div">
                    <h4 class="title">Referees</h4>
                </div>
            </div>
            <div class="col-md-12 right">
                {% include "reusable/referees.html.twig" %}                    
            </div>
        </div>
    </div>

{% endblock %}
