{% extends 'pdfBase.html.twig' %}

{% block title %}Resume{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('theme/assets/css/simple_two.css ') }}">
{% endblock %}
{% block body %}

<div class="container" id="simple_one">
	<div class="row">
		<div class="col-md-9" id="header">
			<div class="mt-3">
				<h3>{{musician.fullname}}</h3>
				<a href="#"><img src="{{app.request.getSchemeAndHttpHost()}}/icons/phone.png" style="margin:0px;padding:0px;width:10px; height:10px;" />&nbsp;{{musician.phone}}</a>
				<a href="#"><img src="{{app.request.getSchemeAndHttpHost()}}/icons/mail.png" style="margin:0px;padding:0px;width:10px; height:10px;" />&nbsp;{{musician.email}}</a>
				<a href="#"><img src="{{app.request.getSchemeAndHttpHost()}}/icons/sphere.png" style="margin:0px;padding:0px;width:10px; height:10px;" />&nbsp;www.muske.co.ke{{musician.username}}</a>
			</div>
		</div>
		<div class="col-md-3">
			{% if musician.hassettings and musician.settings.signature|length > 0 and musician.settings.appendsignature == 'true' %}
			<p class="text-right"><small>{{musician.hassettings and musician.settings.signature|length > 0 ? musician.settings.signature|nl2br }}</small></p>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 mb-3">
			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">Profile</h5>
				</div>
				<div class="card-body">
					<p class="card-text">{{musician.about}}</p>
				</div>
			</div>
		</div>
		<div class="col-md-12 mb-3">
			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">Job History</h5>
				</div>
				<div class="card-body">
					{% for job in jobs %}
					<div class="row sec">
						<div class="col-md-9">
							<h5 class="sec-heading">{{job.jobtitle}}<br></h5><small><em>{{job.institution}}</em><br></small></div>
						<div class="col-md-3 text-right theme"><small>{{job.startingfrom|date("M Y")}} – {{job.currentornot == 'current' ? 'Present' : job.endedin|date("M Y") }}</small></div>
						<div class="col-md-9">
                            {% include "web/templates/list.html.twig" %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">Education background</h5>
				</div>
				<div class="card-body">
					<div class="row sec">
						{% for edu in educ %}
						<div class="col-md-12 edu-sec" style="position: relative;">
							<h5 class="sec-heading">{{edu.coursename}}<br></h5>
							<p class="sec-paragraph">{{edu.institution}}, {{edu.location}},<br></p><small><em>{{edu.fromyear|date("M Y")}} - {{edu.toyear|date("M Y")}}</em><br></small>
							{% include "web/templates/doc.html.twig" %}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">Skills</h5>
				</div>
				<div class="row sec">
					<div class="col-md-12 edu-sec">
						<ul>
							{% for skill in musician.skills %}
							<li>{{skill.skillname}} |&nbsp;<strong>{{skill.levelofskill}}</strong>&nbsp;| {{skill.experienceofskill}}<br></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">Specialties</h5>
				</div>
				<div class="row sec">
					<div class="col-md-12 edu-sec">
						<ul>
							{% for job_role in musician.jobstobeoffered %}
								<li>{{job_role.jobtitle}}<br></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% if musician.projects is not empty %}
			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">Projects</h5>
				</div>
				<div class="card-body pt-1">
					<div class="row sec">
						<div class="col-md-12 edu-sec">
							{% for project in musician.projects %}
							<h5 class="sec-heading">{{project.projecttitle}}<br></h5>
							<p class="mt-3">{{project.projectdescription}}.<br>
							</p>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">Referees</h5>
				</div>
				<div class="card-body pt-1">
					{% include "reusable/referees.html.twig" %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
