<style>
    .referee-form h4 {
        margin-left: 0px!important;
    }
</style>
<div class="container resume" id="resume">
    {% if thumbnailurl is not defined %}
        {% set thumbnailurl = musician.thumbnailurl %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12 col-md-9">
            <div class="row header top-row">
                <div class="col-md-2 d-none d-md-block"><img class="img-fluid profile-pic" src="{{thumbnailurl}}"></div>
                <div class="col">
                    <h3 style="font-family: Alice, serif;">{{musician.fullname}}</h3>
                    <h5>{{ musician.title != null ? musician.title : 'Musician'}}</h5>
                    <a class="spaced-links" href="tel:{{musician.phone}}">&nbsp;<i class="fa fa-phone"></i>&nbsp;{{musician.phone}}</a><a class="spaced-links" href="mailto:{{musician.email}}">&nbsp;<i class="fa fa-envelope"></i>&nbsp;{{musician.email}}</a><a class="spaced-links" href="https://www.muske.co.ke/{{musician.username}}">&nbsp;<i class="fa fa-globe"></i>&nbsp;www.muske.co.ke/{{musician.username}}</a></div>
            </div>
            <div class="card about">
                <div class="card-header">
                    <h5 class="mb-0">Profile</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{musician.about}}&nbsp;<br></p>
                </div>
            </div>
            <div class="card content">
                <div class="card-header">
                    <h5 class="mb-0">Experience</h5>
                </div>
                <div class="card-body">
                    {% for job in jobs %}
                    <div class="row item">
                        <div class="col-md-4 date-and-place">
                            <h6>{{job.startingfrom|date("M Y")}} – {{job.currentornot == 'current' ? 'Present' : job.endedin|date("M Y") }}</h6>
                            <p>{{job.location}}</p>
                        </div>
                        <div class="col-md-8 list-details">
                            <h4>{{job.jobtitle}} at {{job.institution}}</h4>
                            {% include "web/templates/list.html.twig" %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card content">
                <div class="card-header">
                    <h5 class="mb-0">Education</h5>
                </div>
                <div class="card-body">
                    {% for edu in educ %}
                    <div class="row item" id="educ-{{edu.id}}">
                        <div class="col-md-4 date-and-place">
                            <h6>{{edu.fromyear|date("M Y")}} - {{edu.toyear|date("M Y")}}</h6>
                            <p>{{edu.location}}</p>
                        </div>
                        <div class="col-md-8 list-details" style="position: relative; padding-right:20px;">
                            <h4>{{edu.institution}}</h4>
                            <p>{{edu.degree}} in {{edu.coursename}}</p>
                            {% include "web/templates/doc.html.twig" %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if musician.projects is not empty %}
            <div class="card content">
                <div class="card-header">
                    <h5 class="mb-0">Projects</h5>
                </div>
                <div class="card-body">
                    {% for project in musician.projects %}
                    <h4>{{project.projecttitle}}</h4>
                    <p>{{project.projectdescription}}.<br>
                    </p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="card content d-none d-md-block" style="margin-bottom: 50px;">
                <div class="card-header">
                    <h5 class="mb-0">Referees</h5>
                </div>
                <div class="card-body" id="referee-div">                
                {% include "reusable/referees.html.twig" %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            {% if musician.hassettings and musician.settings.signature|length > 0 and musician.settings.appendsignature == 'true' %}
            <div class="card details top-row">
                <div class="card-header">
                    <h5 class="mb-0">Details</h5>
                </div>
                <div class="card-body">
                    <p class="text-capitalize card-text">{{musician.hassettings and musician.settings.signature|length > 0 ? musician.settings.signature|nl2br }}</p>
                </div>
            </div>
            {% endif %}
            <div class="card skills">
                <div class="card-header">
                    <h5 class="mb-0">Skills</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for skill in musician.skills %}
                    <li class="list-group-item"><span>{{skill.skillname}}</span></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card skills">
                <div class="card-header">
                    <h5 class="mb-0">Specialties</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for job_role in musician.jobstobeoffered %}
                        <li class="list-group-item"><span>{{job_role.jobtitle}}</span></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card content d-md-none" style="margin-bottom: 50px;">
                {% include "reusable/referees.html.twig" %}                    
            </div>

        </div>
    </div>
</div>
