
{% block title %}{{musician.fullname}} | Plan {% endblock %}
{% block stylesheets %}

{# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> #}
<style>
    html {
    font-size: 14px;
    }
    @media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    }

    body {
        padding-top: 0px;
        padding-bottom:0px;
    }

    .container {
    max-width: 960px;
    }

    .pricing-header {
    max-width: 700px;
    }

    .card-deck .card {
    min-width: 220px;
    }
</style>
{% endblock %}
{% block body %}

{% include "temp/plan_header.html.twig" %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Choose a Plan</h1>
  <p class="lead">
    Music Services Kenya is designed to empower musicians in the country to make them get the most that the music market has to offer.
    Most services that we offer are free of charge, and will remain free. 
    The <b>Pro</b> version is for those who know what it entails to have the features it entails.
  </p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Basic (Free)</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Kshs 0 <small class="text-muted">/ yr</small></h1>
        <ul class="list-group list-group-flush  mt-3 mb-4">
          <li class="list-group-item">Free resume page</li>
          <li class="list-group-item">Download generated resume</li>
          <li class="list-group-item">Clients can view resume online</li>
          <li class="list-group-item">Resume in 2 formats</li>
          <li class="list-group-item">Notified when client needs you</li>
          <li class="list-group-item">Profile notification on adverts</li>
          <li class="list-group-item">Fully manage your page</li>
        </ul>
        <a href="{{ path('musician_plan_details', {'plan': 'basic'})}}" id="activate_basic" class="btn btn-lg btn-block btn-outline-primary">Activate Basic Account</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">MuSKe (Free)</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Kshs 0 <small class="text-muted">/ yr</small></h1>
        <ul class="list-group list-group-flush  mt-3 mb-4">
          <li class="list-group-item">Free resume page</li>
          <li class="list-group-item">Download generated resume</li>
          <li class="list-group-item">Clients can view resume online</li>
          <li class="list-group-item">Resume in 3 formats</li>
          <li class="list-group-item">Photo and video gallery</li>
          <li class="list-group-item">Notified when client needs you</li>
          <li class="list-group-item">Profile notification on adverts</li>
          <li class="list-group-item">Fully manage your page</li>
          <li class="list-group-item">Job offers from Muske</li>
          <li class="list-group-item">Receive educational materials</li>
          <li class="list-group-item">Events preparation tips</li>
          <li class="list-group-item">Receive exam notifications</li>
          <li class="list-group-item">Help in exam preparation</li>
          <li class="list-group-item">Documents backup</li>
        </ul>
        <a href="{{ path('musician_plan_details', {'plan': 'muske'})}}" id="activate_muske" class="btn btn-lg btn-block btn-primary">Start Now</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Kshs 1999 <small class="text-muted">/ yr</small></h1>
        <ul class="list-group list-group-flush mt-3 mb-4">
          <li class="list-group-item">Resume Page +</li>
          <li class="list-group-item">Download generated resume</li>
          <li class="list-group-item">Clients can download resume</li>
          <li class="list-group-item">Resume in 7 formats</li>
          <li class="list-group-item">Resume with full contacts</li>
          <li class="list-group-item">Photo and video gallery</li>
          <li class="list-group-item">Direct contact with client</li>
          <li class="list-group-item">Live chat with clients</li>
          <li class="list-group-item">'Call me' button on your page</li>
          <li class="list-group-item">Links to your social media pages</li>
          <li class="list-group-item">Links to your project sites</li>
          <li class="list-group-item">Profile notification on adverts</li>
          <li class="list-group-item">Mail notification on adverts</li>
          <li class="list-group-item">Rank first in searches</li>
          <li class="list-group-item">Fully manage your page</li>
          <li class="list-group-item">Receive educational materials</li>
          <li class="list-group-item">Receive exam notifications</li>
          <li class="list-group-item">Help in exam preparation</li>
          <li class="list-group-item">Documents backup</li>
        </ul>
        <a href="{{ path('musician_plan_details', {'plan': 'pro'})}}" id="activate_pro" class="btn btn-lg btn-block btn-success">Get Started</a>
      </div>
    </div>
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="{{musician.thumbnailurl}}" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; 2020-{{ "now"|date('Y') }}</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Free website page</a></li>
          <li><a class="link-secondary" href="#">Share page in your social media</a></li>
          <li><a class="link-secondary" href="#">Look professional</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Download your generated resume</a></li>
          <li><a class="link-secondary" href="#">Receive music education materials</a></li>
          <li><a class="link-secondary" href="#">Back up your documents</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Team</a></li>
          <li><a class="link-secondary" href="#">Locations</a></li>
          <li><a class="link-secondary" href="#">Privacy</a></li>
          <li><a class="link-secondary" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
{% endblock %}                                                      
