{% extends 'base.html.twig' %}

{% block title %}{{musician.fullname}} | Plan {% endblock %}
{% block stylesheets %}

{# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> #}
<style>
  .pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
  
}
</style>
{% endblock %}
{% block body %}

{% include "reusable/nav.html.twig" %}
<div class="container text-dark">
  <main class="page pricing-table-page">
    <section class="clean-block clean-pricing">
        <div class="container pricing-container">
          <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <h3 class="text-info">MuSKe Plans</h3>
              <p>Music Services Kenya is designed to empower musicians in the country to make them get the most that the music market has to offer.
                Most basic services that we offer are free of charge, and will remain free. 
              </p>
              {% if app.request.get('msg') != "" %}
                <div class="alert alert-warning" role="alert">
                  <span>{{ app.request.get('msg') }}</span>
                </div>
              {% endif %}
          </div>
            <div class="col-md-2"></div>
          </div>
            <div class="row justify-content-center">
                <div class="col-md-5 col-lg-4">
                    <div class="clean-pricing-item line-top bg-white">
                        <div class="heading text-center">
                            <h3>BASIC</h3>
                            <small>{{musician.account == 'basic' ? 'Your current account' : '.........'}}</small>
                        </div>
                        <hr>
                        <p>Basic is completely free.</p>
                        <div class="features">
                          <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Resume Page</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Download generated resume</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Clients can visit your page</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Clients can download resume</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Personalize your background</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Resume in 1 format</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Your contacts visible to clients</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Blog page</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Corporate email</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Upto 20 photos in gallery</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Direct contact with client</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Live chat with clients</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>'Call me' button on your page</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Links to your social media pages</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Profile notification on adverts</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Mail notification on adverts</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Rank high in searches</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Fully manage your page</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Educational materials on email</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Receive exam notifications</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Help in exam preparation</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Documents backup</li>
                          </ul>
                                      </div>
                        <div class="price">
                            <h4>Ksh 0.00</h4>
                        </div><a class="btn btn-outline-secondary btn-block" href="{{ path('musician_plan_details', {'plan': 'basic'})}}">START NOW</a></div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="clean-pricing-item line-top bg-white">
                        <div class="heading text-center">
                            <h3>MuSKe</h3>
                            <small>{{musician.account == 'muske' and musician.ismuskeandactive ? 'Your current account' : '.........'}}</small>
                        </div>
                        <hr>
                        <p>Pay 10% for given job</p>
                        <div class="features">
                          <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Resume Page</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Download generated resume</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Clients can visit your page</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Clients can download resume</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Personalize your background</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Resume in 5 format</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Your contacts visible to clients</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Blog page</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Corporate email</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Upto 50 photos in gallery</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Direct contact with client</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Live chat with clients</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>'Call me' button on your page</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Links to your social media pages</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Profile notification on adverts</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times text-warning"></i></span>Mail notification on adverts</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Rank high in searches</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Fully manage your page</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Educational materials on email</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Receive exam notifications</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Help in exam preparation</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Documents backup</li>
                          </ul>
                        </div>
                        <div class="price">
                            <h4>Ksh 0.00</h4>
                          </div><a class="btn btn-outline-primary btn-block" href="{{ path('musician_plan_details', {'plan': 'muske'})}}">START NOW</a></div>
                      </div>
                <div class="col-md-5 col-lg-4">
                    <div class="clean-pricing-item line-top bg-white">
                        <div class="ribbon"><span>Best Value</span></div>
                        <div class="heading text-center">
                            <h3>PRO</h3>
                            <small>{{musician.account == 'pro' and musician.isproandactive ? 'Your current account' : '.........'}}</small>
                        </div>
                        <hr>
                        <p>Only 1.99k per month. </p>
                        <div class="features">
                          <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Resume Page +</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Download generated resume</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Clients can visit your page</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Clients can download resume</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Personalize your background</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Resume in 12 formats</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Your contacts visible to clients</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Blog page+</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Corporate email</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Unlimited photos in gallery</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Direct contact with client</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Live chat with clients</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>'Call me' button on your page</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Links to your social media pages</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Profile notification on adverts</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Mail notification on adverts</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Rank first in searches</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Fully manage your page</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Receive educational materials</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Receive exam notifications</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Help in exam preparation</li>
                            <li><span class="fa-li"><i class="fas fa-check text-success"></i></span>Documents backup</li>
                          </ul>
                                      </div>
                        <div class="price">
                            <h4>Ksh 1,999/y</h4>
                          </div><a class="btn btn-outline-success btn-block" href="{{ path('musician_plan_details', {'plan': 'pro'})}}">START NOW</a></div>
                    </div>
            </div>
        </div>
    </section>
</main>
</div>
{% include "reusable/footer.html.twig" %}
{% endblock %}                                                      
