{% extends 'base.html.twig' %}

{% block title %}{{musician.fullname}} | Plan {% endblock %}
{% block body %}

{% include "reusable/nav.html.twig" %}
<!-- Page Content -->
<main class="page pricing-table-page">
  <section class="clean-block clean-pricing">
      <div class="container text-center pricing-container">
          <div class="block-heading">
              <h3 class="text-info">Thank you!</h3>
              <p>Thank you for choosing MuSKe. You're about to activate a {{plan}} account!</p>
              <a href="{{ path('musician_plan')}}" class="btn btn-outline-primary">Review Plans</a>
          </div>
          <div class="row justify-content-center">
              <div class="col-md-5 col-lg-4">
                <div class="clean-pricing-item line-top bg-white">
                      <div class="heading">
                          <h3>{{plan|upper}} Account</h3>
                      </div>
                      <hr>
                      {% if plan == 'pro' %}
                      <p>Pay 1,999 Kenya shillings yearly for all the pro services.</p>
                      <div class="price">
                          <h4>Ksh 1,999/yr </h4>
                      </div>
                      {% elseif plan == 'muske' %}
                      <p>Pay only when we get a job for you.</p>
                      <div class="price">
                          <h4>10%/Job </h4>
                      </div>
                     {% else %}
                      <p>Free of charge.</p>
                      <div class="price">
                          <h4>Kshs 0.00/yr </h4>
                      </div>
                      {% endif %}
                </div>
              </div>
              <div class="col-md-7 col-lg-8">
                    <div class="clean-pricing-item line-top bg-white">
                        <div class="heading">
                            <h3>MuSKe</h3>
                        </div>
                        <hr>
                        <p>Click 'Activate now' to start your {{plan}} membership. We're glad you found our services useful. {% if plan == 'pro' %}We will call you in a while to tell you how to make your payment. Please ensure the number you have in your account is reachable.{% endif %}</p>
                        <div class="alert alert-success d-none" id="notify" role="alert"></div>                        
                        <button type="button" id="activate_{{plan}}" class="btn btn-outline-primary btn-block btn-lg">ACTIVATE NOW</button>
                    </div>
              </div>
            </div>
        </div>
  </section>
</main>

{% include "reusable/footer.html.twig" %}
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}                                                      
{% block javascripts %}													  
	<script>

  $(document).on("click", '[id^="activate_"]', function(){

  var project = jQuery(this).attr("id");
  var splitted = project.split('_'); 
	var membership = splitted[1];

	$(this).text("Please wait");

		$.ajax({
			url:'{{ path("change_membership") }}',
			type: "POST",
			dataType: "json",
			data: {
				"membership": membership,
			},
			async: true,
			success: function (data)
			{
				console.log(data);
				$("#notify").removeClass('d-none');
        $("#notify").text(data);
				$(this).html("Done!");
			},
			error: function () {
				$("#warning").html("<b>something's wrong</b>");
			}
		});

	});

	</script>

{% endblock %}