{% extends 'base.html.twig' %}

{% block title %}{{musician.fullname}} | Profile{% endblock %}
{% block stylesheets %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{% endblock %}
{% block body %}


<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h2>{{musician.fullname}} ({{musician.username}})</h2></div>
    	<div class="col-sm-2"><a href="{{path('musician_show', {'username': musician.username})}}" class="pull-right"><img title="your page" class="img-circle img-responsive" src="{{musician.logourl}}"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="{{musician.thumbnailurl}}" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div></hr><br>

               
          <div class="panel panel-default">
            <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a target="_blank" href="https://muske.co.ke/{{musician.username}}">https://muske.co.ke/{{musician.username}}</a></div>
          </div>
          
                                   
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#reviews">Reviews</a></li>
                <li><a data-toggle="tab" href="#settings">Settings</a></li>
                <li><a href="{{ path('easyadmin')}}">Admin Page</a></li>
                <li><a href="{{ path('musician_edit', {'username': musician.username})}}">Resume info</a></li>
                <li><a href="{{ path('easyadmin')}}">Download Your Resume</a></li>
                <li><a href="{{ path('gallery_index')}}">Gallery</a></li>
              </ul>

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                <div class="col-md-6">
                  <ul class="list-group">
                    <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Website views</strong></span> 125</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Gallery views</strong></span> 13</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Reviews</strong></span> 37</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Requests</strong></span> 78</li>
                  </ul> 
                </div>
                <div class="col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">Social Media links</div>
                    <div class="panel-body">
                      <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
                      <button class="btn btn-lg btn-success pull-right" id="test" type="button"> Save</button>                      
                    </div>
                  </div>
                </div>

                  <hr>
              
            </div><!--/tab-pane-->
            <div class="tab-pane" id="reviews">
               
               <h3>Reviews</h3>
               
               <hr>
               
            </div><!--/tab-pane-->
            <div class="tab-pane" id="settings">
            		
               	
                  <hr>
                  <form class="form" action="##" method="post" id="">
                      <div class="form-group">                          
                          <div class="col-xs-6">
                            <label for="order_job"><h4>Order Your Jobs by:</h4></label>
                            <select class="form-control" id="order_job">
                              <option value="id" selected>How you added them</option>
                              <option value="endedin">Job ending date</option>
                              <option value="startingfrom">Job starting date</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="order_job_by"><h4>Sort your Jobs...</h4></label>
                            <select class="form-control" id="order_job_by">
                              <option value="DESC" selected>Starting with latest</option>
                              <option value="ASC">Ending with latest</option>
                            </select>
                          </div>
                      </div>
          
                      <div class="form-group">                          
                          <div class="col-xs-6">
                            <label for="order_education"><h4>Order Your Education by:</h4></label>
                            <select class="form-control" id="order_education">
                              <option value="id" selected>How you added them</option>
                              <option value="toyear">Education ending date</option>
                              <option value="fromyear">Education starting date</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="order_education_by"><h4>Sort your Education...</h4></label>
                            <select class="form-control" id="order_education_by">
                              <option value="DESC" selected>Starting with latest</option>
                              <option value="ASC">Ending with latest</option>
                            </select>
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="twitter"><h4>Twitter URL</h4></label>
                              <input type="text" class="form-control" id="twitter" placeholder="enter url" title="copy from address bar and paste here.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="facebook"><h4>Facebook URL</h4></label>
                              <input type="text" class="form-control" id="facebook" placeholder="enter url" title="copy from address bar and paste here.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="linkedin"><h4>Linkedin URL</h4></label>
                              <input type="text" class="form-control" id="linkedin" placeholder="enter url" title="copy from address bar and paste here.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="instagram"><h4>Instagram URL</h4></label>
                              <input type="text" class="form-control" id="instagram" placeholder="enter url" title="copy from address bar and paste here.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="youtube"><h4>Youtube URL</h4></label>
                              <input type="text" class="form-control" id="youtube" placeholder="enter url" title="copy from address bar and paste here.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="twitter"><h4>Twitter link</h4></label>
                              <input type="text" class="form-control" id="twitter" placeholder="enter url" title="copy from address bar and paste here.">
                          </div>
                      </div>          
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success pull-right" id="save_settings" type="button"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<!--<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>-->
                            </div>
                      </div>
              	</form>
              </div>
               
            </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->

{% endblock %}                                                      
{% block javascripts %}													  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
$(document).ready(function() {

    
    var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.avatar').attr('src', e.target.result);
            }
    
            reader.readAsDataURL(input.files[0]);
        }
    }
    

    $(".file-upload").on('change', function(){
        readURL(this);
    });
});
</script>

	<script>

	$( "#save_settings" ).click(function() {

		var order_job = $("#order_job").val();              
		var order_job_by = $("#order_job_by").val();              
		var order_education = $("#order_education").val();              
		var order_education_by = $("#order_education_by").val();              
		var facebook = $("#facebook").val();              
		var twitter = $("#twitter").val();              
		var linkedin = $("#linkedin").val();              
		var youtube = $("#youtube").val();              
		var instagram = $("#instagram").val();              

			$.ajax({
				url:'{{ (path('save_settings')) }}',
				type: "POST",
				dataType: "json",
				data: {
					"order_job": order_job,
					"order_job_by": order_job_by,
          "order_education": order_education,
          "order_education_by": order_education_by,
          "facebook": facebook,
          "twitter": twitter,
          "linkedin": linkedin,
          "youtube": youtube,
          "instagram": instagram,
				},
				async: true,
				success: function (data)
				{
					console.log(data);
					console.log("saved settings");
				},
				error: function () {
					$("#warning").html("<b>something's wrong</b>");
				}
			});

	});

	</script>


{% endblock %}