{% extends 'base.html.twig' %}

{% block title %}Music Services Kenya{% endblock %}
{% block body %}
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        {% include "reusable/user_nav.html.twig" %}
        <div id="pad">
          <h3 class="text-dark mb-2" id="prof-heading">Profile Settings</h3>
          <a class="btn btn-primary text-white mb-1" role="button" href="{{path('musician_show', {'username': musician.username})}}">Your Personal Resume Website</a>
          <div class="row mb-3" style="width: inherit;">
            <div class="col-sm-12 col-md-4">
              <div class="card mb-3" id="prof">
                <div class="card-body text-center shadow">
                    {% set thumbnailurl = asset('uploads/photos/thumbs/' ~ musician.photo ~ '.png') %}
                  <img id="prof_pic" class="rounded-circle mb-3 mt-4" src="{{ musician.photo|length > 1 ? thumbnailurl : asset('img/headshot.jpg') }}" width="160" height="160">
                  <div class="mb-3">
                    <form id="prof-form">
                      <div class="form-group">
                        <label for="myProfPic">Change profile picture</label>
                        <input type="file" name="photo" class="form-control-file" id="myProfPic">
                        <button type="button" id="upload-prof" class="btn btn-primary">Upload</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="card prof-panel" id="div-quicklinks">
                <div class="card-header">
                  <h5 class="mb-0">Quick Links</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><span><a href="{{path('musician_show', {'username': musician.username})}}">Your resume website</a></span></li>
                  <li class="list-group-item"><span><a href="{{path('blog', {'username': musician.username})}}">Your blog</a></span></li>
                  <li class="list-group-item"><span><a href="{{path('musician_new')}}">Add Resume Info</a></span></li>
                  <li class="list-group-item"><span><a href="{{path('musician_admin_index')}}">Your Admin Page</a></span></li>
                  <li class="list-group-item"><span><a href="{{path('gallery_index', {'username': musician.username})}}">Your Gallery</a></span></li>
                  <li class="list-group-item"><span><a href="{{path('musician_show', {'username': musician.username, 'download': 'pdf'})}}">Download resume</a></span></li>
                </ul>
              </div>
              <div class="card prof-panel" id="div-account">
                {% if musician.account == 'basic' %}{% set bg = 'warning' %}{% endif %}
                {% if musician.account == 'muske' %}{% set bg = 'primary' %}{% endif %}
                {% if musician.account == 'pro' %}{% set bg = 'success' %}{% endif %}
                <div class="card-header text-white bg-{{bg}}">
                  <h5 class="mb-0">Your account</h5>
                </div>
                <div class="card-body special-card-body">
                  <form>
                    <div class="form-group">
                      <label>Account type</label>
                      <select id="accounttype" class="form-control">
                        <option value="basic">Basic</option>
                        <option value="muske" {{ musician.ismuskeandactive ? 'selected' }} >MuSKe</option>
                        <option value="pro" {{ musician.isproandactive ? 'selected' }} >Pro</option>
                      </select>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card prof-panel" id="div-title">
                <div class="card-header">
                  <h5 class="mb-0">Your title</h5>
                </div>
                <div class="card-body special-card-body">
                  <form id="title-form">
                    <div class="form-group">
                      <label>Your title on your resume</label>
                      <input class="form-control" type="text" value="Musician" name="title">
                      <input type="hidden" name="class" value="Musician-{{musician.id}}" />
                      <small>e.g Musician, Dj, Pianist etc</small>
                    </div>
                    <button class="btn btn-sm btn-primary" type="button" id="save-title">Save</button>
                  </form>
                </div>
              </div>
              <div class="card prof-panel" id="div-themes">
                <div class="card-header">
                  <h5 class="mb-0">Theme Settings</h5>
                </div>
                <div class="card-body">
                  <form id="cover-form">
                    <div class="form-group">
                      <label>Cover image</label>
                      <input id="myCoverphoto" name="coverphoto" type="file" /><br />
                      <small>For best appearance, upload image of 1280 x 500 dimensions or something close to that</small>
                    </div>
                    <button class="btn btn-primary" id="upload-coverphoto" type="button">Upload</button>
                    <hr>
                  </form>
                  <form id="bg-form">
                    <div class="form-group">
                      <label>Background image</label>
                      <input id="myBgphoto" name="bgphoto" type="file"><br />
                      <small>For best appearance, upload image of 900 x 600 dimensions or something close to that</small>
                    </div>
                    <button class="btn btn-primary" id="upload-bgphoto" type="button">Upload</button>
                    <hr>
                  </form>
                  <form id="theme-form">
                    <div class="form-group">
                      <label>Pdf download theme</label>
                      <select name="pdfTheme" id="pdf_theme" class="form-control">
                        {% for theme in pdfThemes %}
                          <option value="{{theme.template}}" {{ musician.pdfTheme == theme.template ? 'selected' : ''}}="">{{theme.title}}</option>
                        {% endfor %}
                      </select>
                      <input type="hidden" name="class" value="Musician-{{musician.id}}" />
                      <!-- modal -->
                      <div class="modal fade" id="screenshotModal" tabindex="-1" role="dialog" aria-labelledby="screenshotModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-body" style="padding:0!important">
                              <img class="img-fluid" id="template-image" src="{{ asset('img/screenshots/' ~ musician.pdfTheme|replace({'.html.twig': '.jpg'}) )}}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end modal -->
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#screenshotModal">Preview</button>
                    <button class="btn btn-primary" id="save-theme" type="button">Save</button>
                    <hr>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-8">
              <div class="row">
                <div class="col">
                  <div class="card shadow mb-3" id="div-usersettings">
                    <div class="card-header py-3">
                      <p class="text-primary m-0 font-weight-bold">User Settings</p>
                    </div>
                    <div class="card-body">
                      <form id="basic-form">
                        <div class="form-row">
                          <div class="col-md-6">
                            <div class="form-group"><label for="username"><strong>Username</strong></label><input value="{{ musician.username and musician.username != null ? musician.username : '' }}" class="form-control" type="text" placeholder="username" name="username" readonly></div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group"><label for="email"><strong>Email Address</strong></label><input value="{{ musician.realemail and musician.realemail != null ? musician.realemail : '' }}" class="form-control" type="email" placeholder="user@example.com" name="email"></div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-md-6">
                            <div class="form-group"><label for="fullname"><strong>Fullname</strong><br></label><input value="{{ musician.fullname and musician.fullname != null ? musician.fullname : '' }}" class="form-control" type="text" placeholder="John Doe" name="fullname"></div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group"><label for="phone"><strong>Phone Number</strong></label><input value="{{ musician.realphone and musician.realphone != null ? musician.realphone : '' }}" class="form-control" type="text" placeholder="0705222222" name="phone"></div>
                          </div>
                          <input type="hidden" name="class" value="Musician-{{musician.id}}" />
                        </div>
                        <div class="form-group"><button class="btn btn-primary btn-sm" id="save-basic" type="button">Save&nbsp;</button></div>
                      </form>
                    </div>
                  </div>
                  <div class="card shadow" id="div-orderandsort">
                    <div class="card-header py-3">
                      <p class="text-primary m-0 font-weight-bold">Order and Sort settings</p>
                    </div>
                    <div class="card-body">
                      <form id="order-form">
                        <div class="form-row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="city"><strong>Order jobs by</strong><br></label>
                              <select name="job_order" class="form-control">
                                <option value="id"  {% if musician.settings and musician.settings.jobOrder == 'null' or musician.settings and musician.settings.jobOrder == 'id' %} selected {% endif %}>How you added them</option>
                                <option value="endedin" {{ musician.settings and musician.settings.jobOrder == 'endedin' ? 'selected' : '' }}>Job ending date</option>
                                <option value="startingfrom" {{ musician.settings and musician.settings.jobOrder == 'startingfrom' ? 'selected' : '' }}>Job starting date</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="country"><strong>Sort jobs by</strong></label>
                              <select name="job_order_by" class="form-control">
                                  <option value="" {{ musician.settings and musician.settings.jobOrderBy == null ? 'selected' : '' }} {{ musician.settings and musician.settings.jobOrderBy == '' ? 'selected' : '' }}>Select One</option>
                                  <option value="DESC" {{ musician.settings and musician.settings.jobOrderBy == 'DESC' ? 'selected' : '' }}>Starting with latest</option>
                                  <option value="ASC" {{ musician.settings and musician.settings.jobOrderBy == 'ASC' ? 'selected' : '' }}>Ending with latest</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="city"><strong>Order education by</strong><br></label>
                              <select name="edu_order" class="form-control">
                                <option value="id"  {{ musician.settings and musician.settings.eduOrder == 'id' ? 'selected' : '' }} {{ musician.settings and musician.settings.eduOrder == '' ? 'selected' : '' }}>How you added them</option>
                                <option value="toyear" {{ musician.settings and musician.settings.eduOrder == 'toyear' ? 'selected' : '' }}>Education ending date</option>
                                <option value="fromyear" {{ musician.settings and musician.settings.eduOrder == 'fromyear' ? 'selected' : '' }}>Education starting date</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="country"><strong>Sort education by</strong></label>
                              <select name="edu_order_by" class="form-control">
                                <option value="" {{ musician.settings and musician.settings.eduOrderBy == '' ? 'selected' : '' }} {{ musician.settings and musician.settings.eduOrderBy == null ? 'selected' : '' }}>Select One</option> 
                                <option value="DESC" {{ musician.settings and musician.settings.eduOrderBy == 'DESC' ? 'selected' : '' }}>Starting with latest</option>
                                <option value="ASC" {{ musician.settings and musician.settings.eduOrderBy == 'ASC' ? 'selected' : '' }}>Ending with latest</option>
                              </select>
                            </div>
                          </div>
                          <input type="hidden" name="class" value="Settings{{musician.settings|length < 1 ? '' : '-' ~ musician.settings.id }}" />
                          {% if musician.settings|length < 1 %}<input type="hidden" name="extras" value="musician" />{% endif %}
                        </div>
                        <div class="form-group"><button id="save-order" class="btn btn-primary btn-sm" type="button">Save&nbsp;</button></div>
                      </form>
                    </div>
                  </div>
                  <div class="card shadow mb-3 margin-top" id="div-sociallinks">
                    <div class="card-header py-3">
                      <p class="text-primary m-0 font-weight-bold">Social networks URL settings</p>
                    </div>
                    <div class="card-body">
                      <form id="social-form">
                        <div class="form-row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="facebook"><strong>Facebook</strong></label>
                              <input name="facebook" value="{{musician.settings and musician.settings.facebook ? musician.settings.twitter : ""}}" type="text" class="form-control" id="facebook" placeholder="enter url" title="copy from address bar and paste here.">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="twitter"><strong>Twitter</strong></label>
                              <input name="twitter" value="{{musician.settings and musician.settings.twitter ? musician.settings.twitter : ""}}" type="text" class="form-control" id="twitter" placeholder="enter url" title="copy from address bar and paste here.">
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="linkedin"><strong>Linkedin</strong><br></label>
                              <input name="linkedin" value="{{musician.settings and musician.settings.linkedin ? musician.settings.linkedin : ""}}" type="text" class="form-control" id="linkedin" placeholder="enter url" title="copy from address bar and paste here.">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="instagram"><strong>Instagram</strong></label>
                              <input name="instagram" value="{{musician.settings and musician.settings.instagram ? musician.settings.instagram : ""}}" type="text" class="form-control" id="instagram" placeholder="enter url" title="copy from address bar and paste here.">
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group">
                              <label for="tawkTo"><strong>Tawk.to script (For live chatting)</strong><br></label>
                              <textarea name="tawkTo" style="font-size: 12px;" class="form-control" rows="5" id="tawkTo" placeholder="enter tawk.to script" title="copy from tawk.to and paste here.">{{musician.settings and musician.settings.tawkTo ? musician.settings.tawkTo : "Leave this text here if you've got no tawk-to script"}}</textarea>
                            </div>
                          </div>
                        </div>
                        <input type="hidden" name="class" value="Settings{{musician.settings|length < 1 ? '' : '-' ~ musician.settings.id }}" />
                        {% if musician.settings|length < 1 %}<input type="hidden" name="extras" value="musician" />{% endif %}
                        <div class="form-group"><button id="save-social" class="btn btn-primary btn-sm" type="button">Save&nbsp;</button></div>
                      </form>
                    </div>
                  </div>
                  <div class="row" id="div-extrasettings">
                    <div class="col-md-6">
                      <div class="card shadow mb-3 prof-panel">
                        <div class="card-header py-3">
                          <p class="text-primary m-0 font-weight-bold">Extra Settings</p>
                        </div>
                        <div class="card-body">
                          <form id="extra-form">
                            <div class="form-group">
                              <label>Online lessons</label>
                              <select name="online" class="form-control">
                                <option value="" {{ musician.settings and musician.settings.online == '' ? 'selected' : '' }}{{ musician.settings and musician.settings.online == null ? 'selected' : '' }}>Select Answer</option>
                                <option value="false" {{ musician.settings and musician.settings.online == 'false' ? 'selected' : '' }}>No</option>
                                <option value="true" {{ musician.settings and musician.settings.online == 'true' ? 'selected' : '' }}>Yes</option>
                              </select>
                              <small class="form-text text-muted">Do you conduct online lessons?</small>
                            </div>
                            <div
                              class="form-group">
                              <label>TSC Number</label>
                              <select name="tsc" class="form-control">
                                <option value="" {{ musician.settings and musician.settings.tsc == '' ? 'selected' : '' }}{{ musician.settings and musician.settings.tsc == null ? 'selected' : '' }}>Select Answer</option>
                                <option value="false" {{ musician.settings and musician.settings.tsc == 'false' ? 'selected' : '' }}>No</option>
                                <option value="true"{{ musician.settings and musician.settings.tsc == 'true' ? 'selected' : '' }}>Yes</option>
                              </select>
                              <small class="form-text text-muted">Do you have a TSC Number?</small>
                            </div>
                            <div class="form-group">
                              <label>Job location</label>
                              <input type="text" name="placeofwork" value="{{musician.settings and musician.settings.placeofwork ? musician.settings.placeofwork : ""}}" class="form-control" id="wheretowork" placeholder="Eg: Nairobi, Kiambu, Thika" title="Separate using comma">
                              <small class="form-text text-muted">Which are your preferred job places? eg Kiambu, Nairobi</small>
                            </div>
                            <input type="hidden" name="class" value="Settings{{musician.settings|length < 1 ? '' : '-' ~ musician.settings.id }}" />
                            {% if musician.settings|length < 1 %}<input type="hidden" name="extras" value="musician" />{% endif %}
                            <div class="form-group"><button id="save-extra" class="btn btn-primary btn-sm" type="button">Save&nbsp;</button></div>
                      </form>
                        </div>
                      </div>        
                    </div>
                    <div class="col-md-6">
                      <div class="card shadow mb-3 prof-panel">
                        <div class="card-header py-3">
                          <p class="text-primary m-0 font-weight-bold">Address Details</p>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-12">
                              <form id="signature-form">
                                <div class="form-group">
                                  <label for="signature"><strong>You can set the address visibility.</strong><br></label>
                                  <textarea class="form-control" rows="4" name="signature">{{musician.hassettings and musician.settings.signature|length > 0 ? musician.settings.signature }}</textarea>
                                </div>
                                <div class="form-group">
                                  <div class="custom-control custom-switch">
                                    <input type="hidden" name="appendsignature" value="false" />
                                    <input class="custom-control-input" name="appendsignature" value="true" type="checkbox" id="formCheck-1" {{ musician.settings|length > 0 and musician.settings.appendsignature != null and musician.settings.appendsignature == 'true' ? 'checked' : ''}} />
                                    <label class="custom-control-label" for="formCheck-1"><strong>Show this in my resume</strong></label>
                                    <input type="hidden" name="class" value="Settings{{musician.settings|length < 1 ? '' : '-' ~ musician.settings.id }}" />
                                    {% if musician.settings|length < 1 %}<input type="hidden" name="extras" value="musician" />{% endif %}        
                                  </div>
                                </div>
                                <div class="form-group"><button class="btn btn-primary btn-sm" id="save-signature" type="button">Save</button></div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>        
                    </div>
                    <div class="col-md-6">
                      <div class="card shadow mb-5 prof-panel">
                        <div class="card-header py-3">
                          <p class="text-primary m-0 font-weight-bold">Visibility</p>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-12">
                              <form id="visibility-form">
                                <div class="form-group">
                                  <div class="custom-control custom-switch">
                                    <input type="hidden" name="visibility" value="off" />
                                    <input class="custom-control-input" name="visibility" value="on" type="checkbox" id="formCheck-2" {{ musician.settings|length > 0 and musician.settings.visibility == null or musician.settings.visibility != 'off' ? 'checked' : ''}} />
                                    <label class="custom-control-label" for="formCheck-2"><strong>Visible in searches</strong></label>
                                    <input type="hidden" name="class" value="Settings{{musician.settings|length < 1 ? '' : '-' ~ musician.settings.id }}" />
                                    {% if musician.settings|length < 1 %}<input type="hidden" name="extras" value="musician" />{% endif %}        
                                  </div>
                                </div>
                                <div class="form-group"><button class="btn btn-primary btn-sm" id="save-visibility" type="button">Save</button></div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>        
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright"><span>Copyright © Brand 2020</span></div>
        </div>
      </footer>
    </div>
</div>
  
{% include "reusable/footer.html.twig" %}

{% endblock %}

{% block javascripts %}
<script>

$( "#upload-prof" ).click(function() {

  var inputFile = document.getElementById('myProfPic');
  var directory = 'brochures_directory';
  var path = '/uploads/photos';
  var src_id = "#prof_pic";
  var div = "#prof-form";
  var myClass = "musician-{{musician.id}}";
  var field = 'photo';
  
  uploadPhoto(inputFile, directory, path, src_id, div, myClass, field, "", "" );
  
});

</script>

<script>

$( "#upload-coverphoto" ).click(function() {

  var inputFile = document.getElementById('myCoverphoto');
  var directory = 'brochures_directory';
  var path = '/uploads/photos';
  var src_id = "#div";
  var div = "#cover-form";
  var myClass = "Settings{{musician.settings|length < 1 ? '' : '-' ~ musician.settings.id }}";
  var field = 'coverphoto';
  var shape = 'rectangle';
  
  uploadPhoto(inputFile, directory, path, src_id, div, myClass, field, shape, "" );
  
});

</script>

<script>

$( "#upload-bgphoto" ).click(function() {

  var inputFile = document.getElementById('myBgphoto');
  var directory = 'brochures_directory';
  var path = '/uploads/photos';
  var src_id = "#div";
  var div = "#bg-form";
  var myClass = "Settings{{musician.settings|length < 1 ? '' : '-' ~ musician.settings.id }}";
  var field = 'bgphoto';
  var shape = '';
  
  uploadPhoto(inputFile, directory, path, src_id, div, myClass, field, shape, "" );
  
});

</script>

<script>
		$(document).on("click", '[id^="save-"]', function(){
			var myId = jQuery(this).attr("id");
			var splitted = myId.split('-'); 
			var div = splitted[1];
			var form = $("#"+div+"-form");
			saveDetails(div, form);

			$.notify({
				icon: 'glyphicon glyphicon-time',
				message: 'Please wait...',
				url: '#',
				target: '_blank'
			},{
        element: form,
				type: "info",
				allow_dismiss: true,
				newest_on_top: false,
        delay: 1000,
				placement: {
					from: 'bottom',
					align: 'center'
				}
			});
			

		});

</script>

<script>

$( "#accounttype" ).change(function() {
  var plan = $(this).val();
  location.href = "/musician/plan_details/"+plan;	
});

$( "#pdf_theme").change(function() {
  var template = $("#pdf_theme").val();
  var splitted = template.split('.'); 
  var name = splitted[0];
  $("#template-image").attr('src', '/img/screenshots/'+name+'.jpg');
});

</script>
<script>

$(document).ready(function(){
  
  $('.searchinput').keyup(function(){

    var searchtext = $(this).val().toLowerCase();
    if($(this).val().length > 2){
      $(".card").hide();
      $( "div:contains('"+searchtext+"')" ).closest(".card").show();
      $( "div:contains('"+searchtext.toUpperCase()+"')" ).closest(".card").show();;
      $( "div:contains('"+searchtext.toLowerCase()+"')" ).closest(".card").show();;
      $( "div:contains('"+searchtext.substr(0,1).toUpperCase()+searchtext.substr(1)+"')" ).closest(".card").show();;
    } else {
      $(".card").show("slow");
    }
    
    
  });
});

</script>

{% endblock %}

