{% extends 'base.html.twig' %}

{% block title %}{{musician.fullname}} | Profile{% endblock %}
{% block stylesheets %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{% endblock %}
{% block body %}


<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h2>{{musician.fullname}} ({{musician.username}})</h2></div>
    	<div class="col-sm-2"><a href="{{path('musician_show', {'username': musician.username})}}" class="pull-right"><img title="your page" class="img-circle img-responsive" src="{{musician.logourl}}"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img id="prof_pic" src="{{musician.thumbnailurl}}" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input id="change_prof_pic" type="file" class="text-center center-block file-upload">
        <br /><button class="btn btn-primary" type="button" id="upload_profile_pic" style="display:none;">Upload</button>
      </div></hr><br>

               
          <div class="panel panel-default">
            <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a target="_blank" href="https://muske.co.ke/{{musician.username}}">https://muske.co.ke/{{musician.username}}</a></div>
          </div></li>
          
                                   
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#settings">Settings</a></li>
                <li><a data-toggle="tab" href="#reviews">Reviews</a></li>
                <li><a href="{{ path('musician_admin_index')}}">Admin Page</a></li>
                <li><a href="{{ path('musician_edit', {'username': musician.username})}}">Resume info</a></li>
                <li><a href="{{path('musician_show', {'username': musician.username, 'download': 'pdf'})}}">Download Your Resume</a></li>
                <li><a href="{{ path('gallery_index', {'username': musician.username})}}">Gallery</a></li>
                {% if app.user and app.user != null and app.user == musician %}<li> <a href="{{path("app_logout")}}">Logout</a> {% else %} <a href="{{path("homepage")}}">Login</a></li>{% endif %}
                
              </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                <div class="col-md-6">
                    {% if data.complete == false %} <div class="alert alert-warning"><a data-toggle="tab" href="#settings">
                    Please complete your settings</a></div>
                    {% endif %}
                    {% if roles|length < musician.jobs|length %} <div class="alert alert-warning"><a href="{{ path('musician_show', {'username': app.user.username })}}#experience">Please complete setting up your Experience by adding roles to the jobs you've done</a></div>{% endif %}
                    {% if skills|length < musician.education|length %} <div class="alert alert-warning"><a href="{{ path('musician_show', {'username': app.user.username })}}#education">Please complete setting up your Education by adding skills you gained in various learning institutions</a></div>{% endif %}
                    {% if musician.settings and musician.isproandactive == "true" or musician.settings and musician.ismuskeandactive == "true" %}
                    {% if documents|length < musician.education|length %} <div class="alert alert-warning"><a href="{{ path('musician_show', {'username': app.user.username })}}#education">Please upload supporting documents to your education. To get the {{membership}} member priviledges, we have to confirm your certifications</a></div>{% endif %}
                    {% if gallery|length < 1 %} <div class="alert alert-warning"><a href="{{ path('musician_show', {'username': app.user.username })}}#album_intro">You may consider adding photos to your gallery</a></div>{% endif %}
                    {% endif %}
                </div>
                <div class="col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">Your Account</div>
                    <div class="panel-body">
                      <div class="col-md-8"><p> You are a {{membership}} member<p></div>
                      <div class="col-md-4"><a href="{{ path('musician_plan')}}" class="btn btn-md btn-success pull-right" id="test" type="button"> Change</a></div>
                      <hr />
                      <div class="col-md-8"><p> Downloadable resume theme : {{musician.pdfTheme == null ? 'Default' : musician.pdfTheme}}</p></div>
                      <div class="col-md-4"><a href="{{ path('pdf_theme_index')}}" class="btn btn-md btn-success pull-right" id="test" type="button"> Change</a> </div>
                    </div>
                  </div>
                </div>

                  <hr>
              
            </div><!--/tab-pane-->
            <div class="tab-pane" id="reviews">
               
               <h3>Reviews</h3>
               
               <hr>
               
            </div><!--/tab-pane-->
            <div class="tab-pane" id="settings">
            		
                  <hr>
                  <form class="form" action="##" method="post" id="">
                      <div class="form-group">                          
                          <div class="col-xs-6">
                            <label for="order_job"><h4>Order Your Jobs by:</h4></label>
                            <select class="form-control" id="order_job">
                              <option value="id"  {% if musician.settings and musician.settings.jobOrder == 'null' or musician.settings and musician.settings.jobOrder == 'id' %} selected {% endif %}>How you added them</option>
                              <option value="endedin" {{ musician.settings and musician.settings.jobOrder == 'endedin' ? 'selected' : '' }}>Job ending date</option>
                              <option value="startingfrom" {{ musician.settings and musician.settings.jobOrder == 'startingfrom' ? 'selected' : '' }}>Job starting date</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="order_job_by"><h4>Sort your Jobs...</h4></label>
                            <select class="form-control" id="order_job_by">
                              <option value="" {{ musician.settings and musician.settings.jobOrderBy == null ? 'selected' : '' }} {{ musician.settings and musician.settings.jobOrderBy == '' ? 'selected' : '' }}>Select One</option>
                              <option value="DESC" {{ musician.settings and musician.settings.jobOrderBy == 'DESC' ? 'selected' : '' }}>Starting with latest</option>
                              <option value="ASC" {{ musician.settings and musician.settings.jobOrderBy == 'ASC' ? 'selected' : '' }}>Ending with latest</option>
                            </select>
                          </div>
                      </div>
          
                      <div class="form-group">                          
                          <div class="col-xs-6">
                            <label for="order_education"><h4>Order Your Education by:</h4></label>
                            <select class="form-control" id="order_education">
                              <option value="id"  {{ musician.settings and musician.settings.eduOrder == 'id' ? 'selected' : '' }} {{ musician.settings and musician.settings.eduOrder == '' ? 'selected' : '' }}>How you added them</option>
                              <option value="toyear" {{ musician.settings and musician.settings.eduOrder == 'toyear' ? 'selected' : '' }}>Education ending date</option>
                              <option value="fromyear" {{ musician.settings and musician.settings.eduOrder == 'fromyear' ? 'selected' : '' }}>Education starting date</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                            <label for="order_education_by"><h4>Sort your Education...</h4></label>
                            <select class="form-control " id="order_education_by">
                              <option value="" {{ musician.settings and musician.settings.eduOrderBy == '' ? 'selected' : '' }} {{ musician.settings and musician.settings.eduOrderBy == null ? 'selected' : '' }}>Select One</option> 
                              <option value="DESC" {{ musician.settings and musician.settings.eduOrderBy == 'DESC' ? 'selected' : '' }}>Starting with latest</option>
                              <option value="ASC" {{ musician.settings and musician.settings.eduOrderBy == 'ASC' ? 'selected' : '' }}>Ending with latest</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">                          
                          <div class="col-xs-6">
                            <label for="tsc"><h4>Do you have a TSC number?</h4></label>
                            <select class="form-control {% if musician.settings and musician.settings.tsc == null or musician.settings and musician.settings.tsc == "" %} is-invalid {% endif %}" id="tsc">
                              <option value="" {{ musician.settings and musician.settings.tsc == '' ? 'selected' : '' }}{{ musician.settings and musician.settings.tsc == null ? 'selected' : '' }}>Select Answer</option>
                              <option value="false" {{ musician.settings and musician.settings.tsc == 'false' ? 'selected' : '' }}>No</option>
                              <option value="true"{{ musician.settings and musician.settings.tsc == 'true' ? 'selected' : '' }}>Yes</option>
                            </select>
                          </div>
                      </div>

                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="online"><h4>Can you offer online lessons?</h4></label>
                            <select class="form-control {% if musician.settings and musician.settings.online == null or musician.settings and musician.settings.online == "" %} is-invalid {% endif %}" id="online">
                              <option value="" {{ musician.settings and musician.settings.online == '' ? 'selected' : '' }}{{ musician.settings and musician.settings.online == null ? 'selected' : '' }}>Select Answer</option>
                              <option value="false" {{ musician.settings and musician.settings.online == 'false' ? 'selected' : '' }}>No</option>
                              <option value="true" {{ musician.settings and musician.settings.online == 'true' ? 'selected' : '' }}>Yes</option>
                            </select>
                          </div>
                      </div>

                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="wheretowork"><h4>Where do you stay / wish to work?</h4></label>
                              <input type="text" value="{{musician.settings and musician.settings.placeofwork ? musician.settings.placeofwork : ""}}" class="form-control {% if musician.settings and musician.settings.placeofwork == null or musician.settings and musician.settings.placeofwork == "" %}is-invalid{% endif %}" id="wheretowork" placeholder="Eg: Nairobi, Kiambu, Thika" title="Separate using comma">
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="accounttype"><h4>You account type</h4></label>
                            <select class="form-control" id="accounttype">
                              <option value="basic" {{musician.isproandactive == 'false' and musician.ismuskeandactive == 'false' ? 'selected' : ''}}>Basic</option>
                              <option value="pro" {{musician.isproandactive == 'true' ? 'selected' : ''}}>Pro</option>
                              <option value="muske" {{musician.ismuskeandactive == 'true' ? 'selected' : ''}}>Muske</option>
                            </select>
                          </div>
                      </div>
                      {% if app.user and app.user != null and app.user == musician and app.user.settings and app.user.isproandactive == 'true' %}
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="twitter"><h4>Twitter URL</h4></label>
                              <input value="{{musician.settings and musician.settings.twitter ? musician.settings.twitter : ""}}" type="text" class="form-control" id="twitter" placeholder="enter url" title="copy from address bar and paste here.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="facebook"><h4>Facebook URL</h4></label>
                              <input value="{{musician.settings and musician.settings.facebook ? musician.settings.twitter : ""}}" type="text" class="form-control" id="facebook" placeholder="enter url" title="copy from address bar and paste here.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="linkedin"><h4>Linkedin URL</h4></label>
                              <input value="{{musician.settings and musician.settings.linkedin ? musician.settings.linkedin : ""}}" type="text" class="form-control" id="linkedin" placeholder="enter url" title="copy from address bar and paste here.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="instagram"><h4>Instagram URL</h4></label>
                              <input value="{{musician.settings and musician.settings.instagram ? musician.settings.instagram : ""}}" type="text" class="form-control" id="instagram" placeholder="enter url" title="copy from address bar and paste here.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="youtube"><h4>Youtube URL</h4></label>
                              <input value="{{musician.settings and musician.settings.youtube ? musician.settings.youtube : ""}}" type="text" class="form-control" id="youtube" placeholder="enter url" title="copy from address bar and paste here.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="twitter"><h4>Twitter link</h4></label>
                              <input value="{{musician.settings and musician.settings.twitter ? musician.settings.twitter : ""}}" type="text" class="form-control" id="twitter" placeholder="enter url" title="copy from address bar and paste here.">
                          </div>
                      </div>          
                      {% endif %}

                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success pull-right" id="save_settings" type="button"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<!--<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>-->
                            </div>
                      </div>

              	</form>
              </div>
               
            </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->

{% endblock %}                                                      
{% block javascripts %}													  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
$(document).ready(function() {

    
    var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.avatar').attr('src', e.target.result);
            }
    
            reader.readAsDataURL(input.files[0]);
        }
    }
    

    $(".file-upload").on('change', function(){
        readURL(this);
    });
});
</script>

	<script>

	$( "#save_settings" ).click(function() {

		var order_job = $("#order_job").val();              
		var order_job_by = $("#order_job_by").val();              
		var order_education = $("#order_education").val();              
		var order_education_by = $("#order_education_by").val();              
		var facebook = $("#facebook").val();              
		var twitter = $("#twitter").val();              
		var linkedin = $("#linkedin").val();              
		var youtube = $("#youtube").val();              
		var instagram = $("#instagram").val();              
		var online = $("#online").val();              
		var tsc = $("#tsc").val();              
		var wheretowork = $("#wheretowork").val();              
		var accounttype = $("#accounttype").val();              

			$.ajax({
				url:'{{ (path('save_settings')) }}',
				type: "POST",
				dataType: "json",
				data: {
					"order_job": order_job,
					"order_job_by": order_job_by,
          "order_education": order_education,
          "order_education_by": order_education_by,
          "facebook": facebook,
          "twitter": twitter,
          "linkedin": linkedin,
          "youtube": youtube,
          "instagram": instagram,
          "online": online,
          "tsc": tsc,
          "wheretowork": wheretowork,
          "accounttype": accounttype,
				},
				async: true,
				success: function (data)
				{
					console.log(data);
					console.log("saved settings");
          $( "#save_settings" ).html('Saved')
				},
				error: function () {
					$("#warning").html("<b>something's wrong</b>");
				}
			});

	});

	</script>


	<script>

	$( "#upload_profile_pic" ).click(function() {

    var inputFile = document.getElementById('change_prof_pic');
    var file = inputFile.files[0];
    var data = new FormData();
    data.append('doc', file, file.name);
    $.ajax({
        url: "{{ path('change_profile_picture') }}",
        type: "POST",
        data: data,
        processData: false,
        contentType: false,
        cache: false,
        success: function (data){
            console.log(data);
            console.log("uploaded image");
            $.ajax({
                url:"{{ (path('change_profile_picture')) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "filename": data,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    console.log("saved other information");
                    $("#prof_pic").attr("src", data);
                    $("#upload_profile_pic").removeClass("btn-primary").addClass("btn-success").text("Uploaded");
                    
                },
                error: function () {
                    $("#warning").html("<b>something's wrong</b>");
                }
            });

        },
        error: function () {
            $("#warning").html("<b>something's wrong</b>");
        }

    });

	});

	</script>

	<script>

	$( "#change_prof_pic" ).click(function() {

      $("#upload_profile_pic").show();
	
	});

	</script>

	<script>

  $("#wheretowork").one("keypress", function () {
      $("#wheretowork").removeClass("is-invalid");
  });
	</script>

	<script>

	$( "#tsc" ).change(function() {
    $("#tsc").removeClass("is-invalid");	
	});

	</script>

	<script>

	$( "#accounttype" ).change(function() {
    var plan = $(this).val();
    location.href = "/musician/plan_details/"+plan;	
	});

	</script>


	<script>

	$( "#online" ).change(function() {
    $("#online").removeClass("is-invalid");	
	});

	</script>
{% endblock %}