{% extends 'base.html.twig' %}

{% block title %}Music Services Kenya{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('theme/assets/css/themes.css ') }}">
    <link rel="stylesheet" href="{{ asset('theme/assets/css/web_theme.css ') }}">
    <style>
        .toprofile {
            position: fixed;
            top: 20px;
            right: 20px;
        }
        input.form-control {
            border: none;
            border-bottom: 1px solid #777!important;
        }
        .login-link {
            position:absolute; 
            top:5px; 
            right:10px; 
            font-size:12px;
            color: white;
        }
        .referee-form input {
            border:none;
        }
    </style>
	<style>
	
	.social-icons {
		color: #313437;
		background-color: #fff;
		text-align: center;
		padding: 20px 0;
	  }
	  
	  @media (max-width:767px) {
		.social-icons {
		  padding: 10px 0;
		}
	  }
	  
	  .social-icons i {
		font-size: 22px;
		display: inline-block;
		color: #757980;
		margin: 0 10px;
		width: 30px;
		height: 30px;
		border: 1px solid #c8ced7;
		text-align: center;
		border-radius: 50%;
		line-height: 30px;
	  }
	  

	</style>

    {% if app.user == null %}
    <style>
        .for-user {
            display: none;
        }
    </style>
    {% endif %}
    {% if app.user and app.user == musician %}
    <style>
        .for-public {
            display: none;
        }
    </style>
    {% endif %}
{% endblock %}
{% block body %}

    <div id="full-page-container">
        
        <div id="cover" class="bordered" style="overflow:hidden;background-image: url({{ musician.hassettings and musician.settings.coverphoto|length > 3 ? asset('uploads/photos/thumbs/'~ musician.settings.coverphoto ~ '.png') : asset('img/drumset-half.jpg')}});background-position: top;background-size: cover;background-repeat: no-repeat;">
            <div class="row img-row">
                
                <div class="col-sm-4 text-center align-self-center" id="for-pic"><img id="prof-pic" src="{{thumbnailurl}}" style="border: 2px solid white;"></div>
                <div class="col-sm-8 col-md-6 text-light align-self-center d-none d-md-block" id="heading-col">
                    <div>
                        <h1 class="text-white">{{musician.fullname}}</h1>
                        <h4 class="text-white">Musician</h4>
                        <a class="for-user btn btn-info pull-right toprofile" role="button" href="{{path('musician_profile')}}">Your Profile Page</a>
                        {% if app.user and app.user != null and app.user == musician %} <a class="login-link" href="{{path("app_logout")}}">Logout</a> {% else %} <a class="login-link" href="{{path("app_login")}}">Login</a>{% endif %}
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 text-light text-center align-self-center d-md-none" id="heading-col">
                    <div>
                        <h2 class="text-white d-inline">{{musician.fullname}}</h2>
                        | <h5 class="text-white d-inline">Musician</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container bordered" id="full-page" style="background-image: url({{ musician.hassettings and musician.settings.coverphoto|length > 3 ? asset('uploads/photos/'~ musician.settings.bgphoto) : asset('img/class.jpg') }});background-position: center;background-size: cover;background-repeat: no-repeat;">
            <div class="row half-height">
                <div class="col-sm-6 col-md-6 align-self-center piece text-center" data-bs-hover-animate="bounce" id="for-resume" style="background-image: url('assets/img/asfalt-light.png');">
                    <div class="row full-height">
                        <div class="col align-self-center"><span class="circle-border"><i class="fa fa-graduation-cap"></i></span>
                            <p class="text-white icon-text">RESUME</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 piece align-self-center text-center" data-bs-hover-animate="bounce" style="background-image: url('assets/img/45-degree-fabric-light.png');">
                    <a href="{{ path('gallery_index', {'username': musician.username})}}">
                        <div class="row full-height">
                            <div class="col align-self-center"><span class="circle-border"><i class="fa fa-photo"></i></span>
                                <p class="text-white icon-text">PORTFOLIO</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 piece align-self-center text-center" data-bs-hover-animate="bounce">
                    <a href="{{ path('blog', {'username': musician.username})}}">
                        <div class="row full-height">
                            <div class="col align-self-center"><span class="circle-border"><i class="fa fa-themeisle"></i></span>
                                <p class="text-white icon-text">BLOG</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 piece align-self-center text-center" id="for-contact" data-bs-hover-animate="bounce">
                    <div class="row full-height">
                        <div class="col align-self-center"><span class="circle-border"><i class="fa fa-location-arrow"></i></span>
                            <p class="text-white icon-text">CONTACT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swing animated" id="resume-page">
        {% include "web/" ~ musician.pdfTheme %}
    </div>
    <div class="contact" id="contact-page">
        {% include "web/templates/contact.html.twig" %}
    </div>
    <div title="close resume" id="close-icon"><i class="fa fa-close"></i></div>
    <a href="{{path('musician_show', {'username': musician.username, 'download': 'pdf'})}}" title="Download Resume" style="position:fixed; top:100px; right:20px; cursor:pointer; color:green; display:none; font-size:30px; z-index:100;" id="download-icon"><i class="fa fa-download"></i></a>
{% endblock %}

{% block javascripts %}
<script>
    $(document).on("click", '[id^="save-"]', function(){
        var myId = jQuery(this).attr("id");
        var splitted = myId.split('-'); 
        var div = splitted[1];
        var id = splitted[2];
        var form = $("#"+div+"-form-"+id);
        saveDetails(div, 'body', 'li', "", "-"+id);

        $.notify({
            icon: 'glyphicon glyphicon-time',
            message: 'Please wait...',
            url: '#',
            target: '_blank'
        },{
            element: form,
            type: "info",
            allow_dismiss: true,
            newest_on_top: false,
            delay: 1000,
            placement: {
                from: 'bottom',
                align: 'center'
            }
        });

        if($(form).attr('class') != 'referee-form'){
            form.trigger("reset");
        }

    });

</script>
<script>
    $(document).on("click", '[id^="save-referee"]', function(){
        
        $(this).hide()

    });

</script>
<script>

    
$(document).on("change", '[id^="upload-"]', function(){
    var myId = jQuery(this).attr("id");
    var splitted = myId.split('-'); 
    var doc = splitted[1];
    var id = splitted[2];

    var inputFile = document.getElementById('upload-'+doc+'-'+id);
    var directory = 'document_directory';
    var src_id = "#download_doc_"+id;
    var div = "#educ-"+id;
    if(doc == 'no') {
        var myClass = "document";
    } else {
        var myClass = "document-"+doc;
    }
    
    var field = 'doc';
    var extras = 'musician-education#'+id;
  
    uploadPhoto(inputFile, directory, src_id, div, myClass, field, '', extras, 'href|' );
    $('#color-code-'+id).removeClass('text-danger').addClass('text-success');

});
</script>

<script>

$( "#send-my-email" ).click(function() {

    if(!$("#sendername").val() || !$("#senderemail").val() || !$("#senderphone").val() || !$("#message").val() ){
        $(".error-message-msg").show().text("Name, email, phone and message are all required for rating");
        throw new Error("Please enter all details");
    }

    var sendername = $("#sendername").val();
    var senderemail = $("#senderemail").val();
    var message = $("#message").val();
    var senderphone = $("#senderphone").val();
    var calltime = $("#calltime").val();
    var musician_id = "{{musician.id}}";
    $.notify({icon: 'glyphicon glyphicon-time', message: 'Sending email. Please wait!' },{ element: $("#contact-form"),type: "info",allow_dismiss: true,newest_on_top: false,delay: 5000,placement: {from: 'bottom',align: 'center'}});
    
    $.ajax({
        url:"{{ (path('musician_receive_message')) }}",
        type: "POST",
        dataType: "json",
        data: {
            "sendername": sendername,
            "senderemail": senderemail,
            "message": message,
            "senderphone": senderphone,
            "calltime": calltime,
            "musician_id": musician_id,
        },
        async: true,
        success: function (data)
        {
            console.log(data);
            console.log("message sent");
            $.notify({icon: 'glyphicon glyphicon-ok', message: 'Email sent!' },{ element: $("#contact-form"),type: "success",allow_dismiss: true,newest_on_top: false,delay: 5000,placement: {from: 'bottom',align: 'center'}});
        },
        error: function () {
            $("#error-message").show().html("<b>something's wrong</b>");
        }
    });
    

});

</script>
<script>
    $(document).on('click', '#call-me-now', function(){ 
     
        var client_phone_number =  ($("#callbacknumber").val());
        var musician_id = "{{musician.id}}";
        $.notify({icon: 'glyphicon glyphicon-time', message: 'Thank you! I\'ll call you as soon as possible.' },{ element: $("#call-me"),type: "info",allow_dismiss: true,newest_on_top: false,delay: 5000,placement: {from: 'bottom',align: 'center'}});
        $.ajax({
            url:'{{ (path("call_me_back")) }}',
            type: "POST",
            dataType: "json",
            data: {
              "client_phone_number": client_phone_number,
              "musician_id": musician_id,
            },
            async: true,
            success: function (data)
            {
              console.log(data);
              $(".removeableId").html("<span style='font-size:14px'>I will call you back as soon as possible.</span>");
              $.notify({icon: 'glyphicon glyphicon-ok', message: 'Request sent!' },{ element: $("#call-me"),type: "success",allow_dismiss: true,newest_on_top: false,delay: 5000,placement: {from: 'bottom',align: 'center'}});
            },
            error: function () {
              $("#error-message").show().html("<b>something's wrong</b>");
            }
          });
      });
</script>
{% if musician.settings and musician.isproandactive and musician.settings.tawkTo != null %}
<script type="text/javascript">
    {{musician.settings.tawkTo|raw}}
</script>

{% else %}

{% include "reusable/phplive.html.twig" %}       

{% endif %}

{% endblock %}