{% extends 'base.html.twig' %}

{% block title %}Music Services Kenya{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('theme/assets/css/themes.css ') }}">
    <link rel="stylesheet" href="{{ asset('theme/assets/css/web_theme.css ') }}">
    <style>
        .toprofile {
            position: fixed;
            top: 20px;
            right: 20px;
        }
        input.form-control {
            border: none;
            border-bottom: 1px solid #777!important;
        }
        .login-link {
            position:absolute; 
            top:5px; 
            right:10px; 
            font-size:12px;
            color: white;
        }
        .referee-form input {
            border:none;
        }
    </style>
    {% if app.user == null %}
    <style>
        .for-user {
            display: none;
        }
    </style>
    {% endif %}
    {% if app.user and app.user == musician %}
    <style>
        .for-public {
            display: none;
        }
    </style>
    {% endif %}
{% endblock %}
{% block body %}

    <div id="full-page-container">
        <div id="cover" class="bordered" style="background-image: url({{ asset('uploads/photos/thumbs/'~ musician.settings.coverphoto ~ '.png')}});background-position: top;background-size: cover;background-repeat: no-repeat; overflow: auto;">
            <div class="row img-row">
                {% set thumbnailurl = asset('uploads/photos/thumbs/' ~ musician.photo ~ '.png') %}
                <div class="col-sm-4 text-center align-self-center" id="for-pic"><img id="prof-pic" src="{{thumbnailurl}}" style="border: 2px solid white;"></div>
                <div class="col-sm-8 col-md-6 text-light align-self-center d-none d-md-block" id="heading-col">
                    <div>
                        <h1 class="text-white">{{musician.fullname}}</h1>
                        <h4 class="text-white">Musician</h4>
                        <a class="for-user btn btn-info pull-right toprofile" role="button" href="{{path('musician_profile')}}">Your Profile Page</a>
                        {% if app.user and app.user != null and app.user == musician %} <a class="login-link" href="{{path("app_logout")}}">Logout</a> {% else %} <a class="login-link" href="{{path("app_login")}}">Login</a>{% endif %}
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 text-light text-center align-self-center d-md-none" id="heading-col">
                    <div>
                        <h2 class="text-white d-inline">Musician.fullname</h2>
                        | <h5 class="text-white d-inline">Musician</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container bordered" id="full-page" style="background-image: url({{ asset('uploads/photos/'~ musician.settings.bgphoto)}});background-position: center;background-size: cover;background-repeat: no-repeat;">
            <div class="row half-height">
                <div class="col-sm-6 col-md-6 align-self-center piece text-center" data-bs-hover-animate="bounce" id="for-resume" style="background-image: url('assets/img/asfalt-light.png');">
                    <div class="row full-height">
                        <div class="col align-self-center"><span class="circle-border"><i class="fa fa-graduation-cap"></i></span>
                            <p class="text-white icon-text">RESUME</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 piece align-self-center text-center" data-bs-hover-animate="bounce" style="background-image: url('assets/img/45-degree-fabric-light.png');">
                    <div class="row full-height">
                        <div class="col align-self-center"><span class="circle-border"><i class="fa fa-photo"></i></span>
                            <p class="text-white icon-text">PORTFOLIO</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 piece align-self-center text-center" data-bs-hover-animate="bounce">
                    <div class="row full-height">
                        <div class="col align-self-center"><span class="circle-border"><i class="fa fa-themeisle"></i></span>
                            <p class="text-white icon-text">BLOG</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 piece align-self-center text-center" data-bs-hover-animate="bounce">
                    <div class="row full-height">
                        <div class="col align-self-center"><span class="circle-border"><i class="fa fa-location-arrow"></i></span>
                            <p class="text-white icon-text">CONTACT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swing animated" id="resume-page">
        {% include "web/official.html.twig" %}
        <div id="close-icon"><i class="fa fa-close"></i></div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).on("click", '[id^="save-"]', function(){
        var myId = jQuery(this).attr("id");
        var splitted = myId.split('-'); 
        var div = splitted[1];
        var id = splitted[2];
        var form = $("#"+div+"-form-"+id);
        saveDetails(div, form, 'li', "", "-"+id);

        $.notify({
            icon: 'glyphicon glyphicon-time',
            message: 'Please wait...',
            url: '#',
            target: '_blank'
        },{
            element: form,
            type: "info",
            allow_dismiss: true,
            newest_on_top: false,
            delay: 1000,
            placement: {
                from: 'bottom',
                align: 'center'
            }
        });
        form.trigger("reset");
;
        

    });

</script>
<script>
    $(document).on("click", '[id^="save-referee"]', function(){
        
        $(this).hide()

    });

</script>
<script>
// Add the following code if you want the name of the file appear on select

$(document).on("change", '[id^="upload-"]', function(){
    var myId = jQuery(this).attr("id");
    var splitted = myId.split('-'); 
    var doc = splitted[1];
    var id = splitted[2];

    var inputFile = document.getElementById('upload-'+doc+'-'+id);
    var directory = 'document_directory';
    var src_id = "#download_doc_"+id;
    var div = "#educ-"+id;
    if(doc == 'no') {
        var myClass = "document";
    } else {
        var myClass = "document-"+doc;
    }
    
    var field = 'doc';
    var extras = 'musician-education#'+id;
  
    uploadPhoto(inputFile, directory, src_id, div, myClass, field, '', extras, 'href|' );
    $('#color-code-'+id).removeClass('text-danger').addClass('text-success');

});
</script>
{% endblock %}