{% extends 'base_gallery.html.twig' %}

{% block title %}Gallery | {{musician.username}}{% endblock %}

{% block body %}

<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About {{musician.fullname}}</h4>
          <p class="text-muted">{{musician.about}}</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Album | {{musician.fullname}}</strong>
      </a>
      {% if app.user and app.user != null and app.user == musician %}
      <a href="{{path('gallery_new')}}" class="btn btn-primary my-2">Add a photo</a>
      {% endif %}
      <a href="{{path('musician_show', {'username': musician.username })}}" class="btn btn-secondary my-2">Resume page</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="">

        <div id="lightgallery" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 list-unstyled infinite-container infinite-loading">

          {% for photo in photos %}
          <div class="col infinite-item" data-src="{{photo.type == "video" ? photo.photo : photo.photopath}}" data-sub-html="<h4>{{photo.musician.fullname}}</h4><p>{{photo.description}}</p>{% if photo.type == 'photo' %}<a id='makeBg_{{photo.id}}' type='button' class='common'>{{musician.hassettings and musician.settings.bgphoto == photo.photo == 'photo' ? 'Current Background' : 'Make This ' ~ photo.type ~ ' Online Resume Background'}}</a>{% endif %}">
            <div class="card shadow-sm">
              <a href="{% if photo.type == "video" %}{{photo.photo}}{% endif %}">
                  {% if photo.type == "video" %}
                    <img width="100%" height="225" class="card-img-top img-responsive" text="Thumbnail" src="{{ asset('img/play_thumbnail.png')}}" />
                  {% else %}
                    <img width="100%" height="225" class="card-img-top img-responsive" text="Thumbnail" src="{{photo.thumbnailpath}}" />
                  {% endif %}
              </a>
              <div class="card-body">
                <p class="card-text">{{photo.description}}</p>
                <input id="imagetoBg_{{photo.id}}" type="hidden" value="{{photo.photo}}" />
                <input id="imagetoBg_{{photo.id}}" type="hidden" value="{{photo.photo}}" />
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% if data.nextPage and data.nextPage != "blank" %}       
          <a class="infinite-more-link" href="{{ path('gallery_index', {'username':musician.username, 'page':data.nextPage} ) }}" style="visibility: hidden;"></a>
        {% endif %}


      </div>
    </div>
  </div>
  

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-right mb-1">
      <a href="#">Back to top</a>
    </p>
    {# <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="{{< docsref "/getting-started/introduction" >}}">getting started guide</a>.</p> #}
  </div>
</footer>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('js/infinite.min.js') }}"></script>

    <script>
      var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onAfterPageLoad: function ($items) {
          $('.infinite-loading').hide();
          check();          
        },

      })
    </script>
    <script type="text/javascript">

    function check(){
          if("#lightgallery"){
            $("#lightgallery").data("lightGallery").destroy(true);
            console.log("killed");
          };
          createLightGallery();

    }

    function createLightGallery(){
        $('#lightgallery').lightGallery({
          loadYoutubeThumbnail: true,
          youtubeThumbSize: 'default',
          loadVimeoThumbnail: true,
          vimeoThumbSize: 'thumbnail_medium',          
        });      
        console.log("i was called");
    }

    $(document).ready(function(){
        createLightGallery();
    });
    
    </script>

	<script>

    $(document).on("click", '[id^="makeBg_"]', function(){
        var project = jQuery(this).attr("id");
        var splitted = project.split('_'); 
        var id = splitted[1] 

		    var imagetoBg = $("#imagetoBg_"+id).val();              

			$.ajax({
				url:'{{ (path('save_web_background')) }}',
				type: "POST",
				dataType: "json",
				data: {
					"imagetoBg": imagetoBg,
				},
				async: true,
				success: function (data)
				{
					console.log(data.msg);
					console.log("saved settings");
          $("#makeBg_"+id).html(data.msg).addClass('text-'+data.msgtype);
				},
				error: function () {
					$("#warning").html("<b>something's wrong</b>");
				}
			});

	});

	</script>


{% endblock %}
