{% extends 'base.html.twig' %}

{% block title %}Gallery | {{musician.username}}{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('theme/assets/css/Lightbox-Gallery.css ') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
{% endblock %}
{% block body %}
{% include "reusable/nav.html.twig" %}

    <div class="photo-gallery">
        <div class="container">
            <div class="intro text-center">
                <h2 style="display: inline-block; margin-bottom:0px!important; padding-bottom:0px!important;" class="text-center">Portfolio</h2>
                <div style="display: inline-block; padding-bottom:0.5rem; margin-left:50px;" class="text-center">
                  {% if app.user and app.user != null and app.user == musician %}
                  {% if (musician.isbasic and musician.uploadedphotos|length <= 20) or (musician.ismuskeandactive and musician.uploadedphotos|length <= 50) or musician.isproandactive %}
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    <i class="fa fa-upload" style="font-size: 1.5rem;"></i>
                  </button>
                  {% else %}
                  <a href="{{path('musician_plan')}}?msg='You need to upgrade your account to upload more photos'" class="btn btn-primary">
                    <i class="fa fa-upload" style="font-size: 1.5rem;"></i>
                  </a>
                  {% endif %}
                  {% endif %}
                </div>
        
            </div>
            <div class="row photos infinite-container infinite-loading">
              {% for photo in photos %}
              {% set photopath = asset('uploads/gallery/' ~ photo.photo) %}
              {% set thumbnailpath = asset('uploads/gallery/thumbs/' ~ photo.photo ~ '.png') %}
                <div class="col-sm-6 col-md-4 col-lg-3 item infinite-item">
                  <a data-lightbox="photos" href="{{photopath}}" data-title="{{photo.description}}">
                    <img class="img-fluid" src="{{thumbnailpath}}">
                  </a>
                </div>
              {% else %}
              <div class="col-12 text-center">
                <p>No photos in this gallery</p>
              </div>
              {% endfor %}
            </div>
            {% if data.nextPage and data.nextPage != "blank" %}       
              <a class="infinite-more-link" href="{{ path('gallery_index', {'username':musician.username, 'page':data.nextPage} ) }}" style="visibility: hidden;"></a>
            {% endif %}
      
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Upload photos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                  <img id="previewPhoto" class="img-fluid" src="{{ asset('img/default-placeholder.png')}}" />
                </div>
                <div class="col-md-6" id="upload-photo">
                    <form id="gallery-form">
                        <div class="form-group">
                          <label>Photo</label>
                          <input name="newPhoto" id="newPhoto" type="file" />
                        </div>
                        <div class="form-group">
                          <label>Description</label>
                          <textarea id="photoDescription" class="form-control"></textarea>
                        </div>
                    </form>
                </div>
            </div>
          </div>          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="upload_gallery_image" class="btn btn-primary">Upload</button>
            <p>You may have to refresh the page to load the full size image</p>
          </div>
        </div>
      </div>
    </div>
    {% include "reusable/footer.html.twig" %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('theme/assets/js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('theme/assets/js/infinite.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    
    <script>

		function saveDescription(div){
			var form = $("#"+div+"-form");
			saveDetails(div, form);
    };

    </script>

    <script>

    $('#upload_gallery_image').click(function(){
      var randId = Math.floor((Math.random() * 1000) + 1);
      var inputFile = document.getElementById('newPhoto');
      var directory = 'gallery_directory';
      var path = '/uploads/gallery';
      var src_id = "#div-"+randId;
      var div = "#upload-photo";
      var myClass = "Gallery";
      var field = 'photo';
      var shape = 'gallery';
      var description = $("#photoDescription").val();

      $(".infinite-container").append('<div class="col-sm-6 col-md-4 col-lg-3 item infinite-item"><a id="bigImg'+randId+'" data-lightbox="photos" href="" data-title=""><img id="div-'+randId+'" class="img-fluid" src=""></a></div>');
      uploadPhoto(inputFile, directory, path, src_id, div, myClass, field, shape, 'musician', 'src|.png', description );
      
      $("#gallery-form").trigger("reset");
      $("#previewPhoto").attr('src', '/img/default-placeholder.png')
    });

    </script>

    <script>
      var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onAfterPageLoad: function ($items) {
          $('.infinite-loading').hide();
        },

      })

      $( "#newPhoto").change(function() {
        readURL(this);
      });

    </script>

{% endblock %}
