{% extends 'base_wizard.html.twig' %}

{% block title %}Upload a Photo to Your Gallery{% endblock %}

{% block body %}

	<div class="image-container set-full-height" style="background-image: url('{{ asset('img/drumset.jpg')}}')">
	{# Photo by Derek Truninger on Unsplash #}

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="green" id="wizard">
			                <form action="" method="post" action enctype="multipart/form-data">
                            {# {{ form_start(form) }} #}
			                <!--        You can switch " data-color="rose" "  with one of the next bright colors: "blue", "green", "orange", "purple"        -->

		                    	<div class="wizard-header">
		                        	<h3 class="wizard-title">
		                        		A picture is worth a thousand words
		                        	</h3>
									<h5>Upload photos that will better describe your job</h5>
		                    	</div>
								<div class="wizard-navigation">
									<ul>
			                            <li><a class="toggle" href="#photo" data-toggle="tab">Upload a photo</a></li>
			                            <li><a class="toggle" href="#video" data-toggle="tab">Video Link</a></li>

			                        </ul>
								</div>

		                        <div class="tab-content">
                                    <div class="tab-pane" id="photo">
		                              	<div class="row">
		                                	<div class="col-sm-4 col-sm-offset-1">
		                                	<h4 class="info-text" id="another"> Click below to upload a photo</h4>
		                                    	<div class="picture-container">
		                                        	<div class="picture">
                                        				<img src="{{asset('img/placeholder.jpg')}}" class="picture-src" id="wizardPicturePreview" title=""/>
		                                            	<input type="file" id="wizard-picture">
		                                        	</div>
		                                        	<h6>Choose Picture</h6>
		                                    	</div>
		                                	</div>
		                                    <div class="col-sm-6 col-sm-offset-1">
											<h4>Description</h4>
		                                        <div class="form-group label-floating">
		                                            <label class="control-label">Place description</label>
		                                            <textarea class="form-control" id="description" placeholder="" rows="9"></textarea>
													{# {{ form_widget(form.about, {'attr': {'class': 'form-control', 'rows': '9'}})}} #}
		                                        </div>
		                                    </div>
		                                	<div class="col-sm-4 col-sm-offset-1">
		                                	</div>
		                                    <div class="col-sm-6 col-sm-offset-1">
		                                        <div class="form-group label-floating">
													<button type="button" class='btn btn-primary btn-wd' id="upload">Upload</button>
													<a href="{{path('gallery_index')}}" class='btn btn-primary btn-wd'>Back to gallery</a>
		                                        </div>
		                                    </div>
												
		                                </div>
		                            </div>                                
                                    <div class="tab-pane" id="video">
		                              <div class="row">
		                                	<div class="col-sm-4 col-sm-offset-1">
		                                	<h4 class="info-text" id="another_link"> Paste a youtube / vimeo link below</h4>
		                                    	<div class="form-group label-floating">
                                                    <label class="control-label" for="url">Video url eg: </label>
                                                    <input type="text" class="form-control" id="url">
		                                    	</div>
		                                	</div>
		                                    <div class="col-sm-6 col-sm-offset-1">
											<h4>Description</h4>
		                                        <div class="form-group label-floating">
		                                            <label class="control-label">Place description</label>
		                                            <textarea class="form-control" id="description_link" placeholder="" rows="9"></textarea>
		                                        </div>
		                                    </div>
		                                	<div class="col-sm-4 col-sm-offset-1">
		                                	</div>
		                                    <div class="col-sm-6 col-sm-offset-1">
		                                        <div class="form-group label-floating">
													<button type="button" class='btn btn-primary btn-wd' id="upload_link">Save</button>
													<a href="{{path('gallery_index')}}" class='btn btn-primary btn-wd'>Back to gallery</a>
		                                        </div>
		                                    </div>

		                                </div>
		                            </div>                                
		                        </div>
		                        <div class="wizard-footer">
	                            	<div class="pull-right">
	                                    <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next' value='Video Links' />
                                        {# <button class='btn btn-finish btn-fill btn-primary btn-wd'>{{ button_label|default('Finish') }}</button> #}
	                                </div>
	                                <div class="pull-left">
	                                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />

	                                </div>
		                            <div class="clearfix"></div>
		                        </div>
			                </form>
                            {# {{ form_end(form) }} #}
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div> <!-- row -->
	    </div> <!--  big container -->

	    <div class="footer">
	        <div class="container text-center">
	             Template made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>. Free download <a href="http://www.creative-tim.com/product/bootstrap-wizard">here.</a>
	        </div>
	    </div>
	</div>



{% endblock %}

{% block javascripts %}
{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> #}

<script>
$( "#upload" ).click(function() {

	var description = $("#description").val();              
    var inputFile = document.getElementById('wizard-picture');
    var file = inputFile.files[0];
    var data = new FormData();
    data.append('doc', file, file.name);
    $.ajax({
        url: "{{ path('upload_gallery_image') }}",
        type: "POST",
        data: data,
        processData: false,
        contentType: false,
        cache: false,
        success: function (data){
            console.log(data);
            console.log("saved image");
            $.ajax({
                url:"{{ (path('upload_gallery_image')) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "description": description,
                    "filename": data,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    console.log("saved another information");
					$("#another").html("<span style='color:green'>Photo uploaded. Keep on...</span>");
                    $("#wizardPicturePreview").attr("src", "{{asset('img/placeholder.jpg')}}").css("maxWidth", '250px');
                },
                error: function () {
                    $("#warning").html("<b>something's wrong</b>");
                }
            });

        },
        error: function () {
            $("#warning").html("<b>something's wrong</b>");
        }

    });

});
</script>

<script>
$( "#upload_link" ).click(function() {

	var description_link = $("#description_link").val();              
	var url = $("#url").val();
	
		$.ajax({
			url:'{{ (path('upload_link')) }}',
			type: "POST",
			dataType: "json",
			data: {
				"url": url,
				"description_link": description_link,
			},
			async: true,
			success: function (data)
			{
				console.log(data);
				console.log("saved information");
			},
			error: function () {
				$("#warning").html("<b>something's wrong</b>");
			}
		});

    
});
</script>



{% endblock %}