<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_head_attributes() }}
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Vendor CSS Files -->
        <link href="{{ asset('devfolio/assets/vendor/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
        <link href="{{ asset('devfolio/assets/vendor/animate.css/animate.min.css') }}" rel="stylesheet">
        {% include "common_css.html.twig" %}

        <!-- Template Main CSS File -->
        {% include "favicon.html.twig" %}
        <link href="{{ asset('devfolio/assets/css/style.css') }}" rel="stylesheet">
        <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ecb6caf46c8f10012f1e8d8&product=sticky-share-buttons&cms=sop' async='async'></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% include "common_js.html.twig" %}
        <!-- Template Main JS File -->
        <script src="{{ asset('devfolio/assets/js/main.js') }}"></script>

        {% block javascripts %}{% endblock %}
        
        <!-- live shat starts -->
        <script>var LHC_API = LHC_API||{};
        LHC_API.args = {mode:'widget',lhc_base_url:'//livechat.muske.co.ke/index.php/',wheight:450,wwidth:350,pheight:520,pwidth:500,domain:'muske.co.ke',leaveamessage:true,check_messages:false};
        (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.setAttribute('crossorigin','anonymous'); po.async = true;
        var date = new Date();po.src = '//livechat.muske.co.ke/design/defaulttheme/js/widgetv2/index.js?'+(""+date.getFullYear() + date.getMonth() + date.getDate());
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        </script>
        <!-- live chat ends -->

    </body>
</html>
