<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Blog | {{musician.fullname}}</title>

	{{ sonata_seo_title() }}
	{{ sonata_seo_metadatas() }}
	{{ sonata_seo_head_attributes() }}

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- FontAwesome JS-->
	<script defer src="{{ asset('blog/assets/fontawesome/js/all.min.js')}}"></script>
    	
	<!-- google recaptcha -->
	<script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit" async defer></script>

    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{ asset('blog/assets/css/theme-3.css')}}">
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ecb6caf46c8f10012f1e8d8&product=sticky-share-buttons&cms=sop' async='async'></script>
    {% block stylesheets %}{% endblock %}

</head> 

<body>

    {% block body %}{% endblock %}
    {% block capt %}{% set captchas = [] %}{% endblock %}

    <!-- Javascript -->          
    <script src="{{ asset('blog/assets/plugins/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('blog/assets/plugins/popper.min.js') }}"></script> 
    <script src="{{ asset('blog/assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script> 

    <script>
    $(document).on("click", '[id^="leave-"]', function(){

        var project = jQuery(this).attr("id");
        var splitted = project.split('-'); 
        var form = splitted[1] 
        var id = splitted[2] 

        $("#"+form+"-form-"+id).toggle();
        
    });
    </script>

{% block javascripts %} {% endblock %}

</body>
</html> 

