<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Blog | {{musician.fullname}}</title>

	{{ sonata_seo_title() }}
	{{ sonata_seo_metadatas() }}
	{{ sonata_seo_head_attributes() }}

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- FontAwesome JS-->
	<script defer src="{{ asset('blog/assets/fontawesome/js/all.min.js')}}"></script>
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{ asset('blog/assets/css/theme-3.css')}}">
    {% block stylesheets %}{% endblock %}

</head> 

<body>

    {% block body %}{% endblock %}

    <!-- Javascript -->          
    <script src="{{ asset('blog/assets/plugins/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('blog/assets/plugins/popper.min.js') }}"></script> 
    <script src="{{ asset('blog/assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script> 
    <script>
    $(document).on("click", '[id^="leave-"]', function(){

        var project = jQuery(this).attr("id");
        var splitted = project.split('-'); 
        var form = splitted[1] 
        var id = splitted[2] 

        $("#"+form+"-form-"+id).toggle();
        
    });
    </script>


    {% block javascripts %}{% endblock %}

	<script>

	$(document).on("click", '[id^="submit-comment-"]', function(){

        var project = jQuery(this).attr("id");
        var splitted = project.split('-'); //changeRow_Qt_1504
        var id = splitted[2] //1504

		var comment = $("#comment").val();              
		var commenter_name = $("#commenter-name").val();              
		var commenter_email = $("#commenter-email").val();
        
			$.ajax({
				url:'{{ (path('comment_new')) }}',
				type: "POST",
				dataType: "json",
				data: {
					"comment": comment,
					"commenter_name": commenter_name,
					"commenter_email": commenter_email,
					"post_id": id,
				},
				async: true,
				success: function (data)
				{
					console.log(data);
					$("#comment-form-"+id).hide();
                    $("#just-in-comment").show();
					$("#just-in-content").text(data.content);
					$("#just-in-name").html("<strong>"+data.name+"</strong>");
				},
				error: function () {
					$("#warning").html("<b>something's wrong</b>");
				}
			});

	});

	</script>

	<script>

	$(document).on("click", '[id^="submit-reply-"]', function(){

        var project = jQuery(this).attr("id");
        var splitted = project.split('-'); //changeRow_Qt_1504
        var id = splitted[2] //1504

		var reply = $("#reply-"+id).val();              
		var replier_name = $("#replier-name-"+id).val();              
		var replier_email = $("#replier-email-"+id).val();
        
			$.ajax({
				url:'{{ (path('reply_new')) }}',
				type: "POST",
				dataType: "json",
				data: {
					"reply": reply,
					"replier_name": replier_name,
					"replier_email": replier_email,
					"comment_id": id,
				},
				async: true,
				success: function (data)
				{
					console.log(data);
					$("#reply-form-"+id).hide();
                    $("#just-in-reply-"+id).show();
					$("#just-in-reply-content-"+id).text(data.content);
					$("#just-in-reply-name-"+id).html("<strong>"+data.name+"</strong>");
				},
				error: function () {
					$("#warning").html("<b>something's wrong</b>");
				}
			});

	});

	</script>



</body>
</html> 

