<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_head_attributes() }}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{asset('bootstrap/css/bootstrap.min.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{asset('css/carousel.css')}}" />
        {% include "favicon.html.twig" %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>        
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>        
        {% block javascripts %}{% endblock %}

        {% include "reusable/phplive.html.twig" %}       

    </body>
</html>
