<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_head_attributes() }}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
        <link href="{{ asset('devportfolio/libs/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{ asset('devportfolio/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{ asset('devportfolio/css/styles.css')}}" rel="stylesheet">
        <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ecb6caf46c8f10012f1e8d8&product=sticky-share-buttons&cms=sop' async='async'></script>
       {% include "favicon.html.twig" %}

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

       {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{ asset('devportfolio/js/scripts.js') }}"></script>
            
        {% block javascripts %}{% endblock %}

        <!-- live shat starts -->
        <script>var LHC_API = LHC_API||{};
        LHC_API.args = {mode:'widget',lhc_base_url:'//livechat.muske.co.ke/index.php/',wheight:450,wwidth:350,pheight:520,pwidth:500,domain:'muske.co.ke',leaveamessage:true,check_messages:false};
        (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.setAttribute('crossorigin','anonymous'); po.async = true;
        var date = new Date();po.src = '//livechat.muske.co.ke/design/defaulttheme/js/widgetv2/index.js?'+(""+date.getFullYear() + date.getMonth() + date.getDate());
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        </script>
        <!-- live chat ends -->
             
    </body>
</html>
