<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_head_attributes() }}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{asset('bootstrap/css/bootstrap.min.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{asset('css/carousel.css')}}" />
        <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ecb6caf46c8f10012f1e8d8&product=sticky-share-buttons&cms=sop' async='async'></script>
        {% include "favicon.html.twig" %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>        
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>        
        {% block javascripts %}{% endblock %}

        <!-- BEGIN PHP Live! HTML Code [V3] -->
        <span style="color: #0000FF; text-decoration: underline; line-height: 0px !important; cursor: pointer; position: fixed; bottom: 0px; right: 20px; z-index: 20000000;" id="phplive_btn_1590490767"></span>
        <script data-cfasync="false" type="text/javascript">

        (function() {
        var phplive_e_1590490767 = document.createElement("script") ;
        phplive_e_1590490767.type = "text/javascript" ;
        phplive_e_1590490767.async = true ;
        phplive_e_1590490767.src = "https://phplive.muske.co.ke/js/phplive_v2.js.php?v=0%7C1590490767%7C0%7C&" ;
        document.getElementById("phplive_btn_1590490767").appendChild( phplive_e_1590490767 ) ;
        if ( [].filter ) { document.getElementById("phplive_btn_1590490767").addEventListener( "click", function(){ phplive_launch_chat_0() } ) ; } else { document.getElementById("phplive_btn_1590490767").attachEvent( "onclick", function(){ phplive_launch_chat_0() } ) ; }
        })() ;

        </script>
        <!-- END PHP Live! HTML Code [V3] -->
                
    </body>
</html>
