<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_head_attributes() }}
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{{ asset('folio/assets/vendor/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
        <link href="{{ asset('folio/assets/vendor/hover/hover.min.css') }}" rel="stylesheet">
        {% include "common_css.html.twig" %}

        <!-- Template Main CSS File -->
        <link href="{{ asset('folio/assets/css/style.css') }}" rel="stylesheet">
        <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ecb6caf46c8f10012f1e8d8&product=sticky-share-buttons&cms=sop' async='async'></script>
        {% include "favicon.html.twig" %}
       {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% include "common_js.html.twig" %}
        <!-- Template Main JS File -->
        <script src="{{ asset('folio/assets/js/main.js') }}"></script>
        <script src="{{ asset('folio/assets/vendor/typed/typed.js') }}"></script>

        {% block javascripts %}{% endblock %}

        <!-- BEGIN PHP Live! HTML Code [V3] -->
        <span style="color: #0000FF; text-decoration: underline; line-height: 0px !important; cursor: pointer; position: fixed; bottom: 0px; right: 20px; z-index: 20000000;" id="phplive_btn_1590428584"></span>
        <script data-cfasync="false" type="text/javascript">

        (function() {
        var phplive_e_1590428584 = document.createElement("script") ;
        phplive_e_1590428584.type = "text/javascript" ;
        phplive_e_1590428584.async = true ;
        phplive_e_1590428584.src = "https://phplive.muske.co.ke/js/phplive_v2.js.php?v=0%7C1590428584%7C0%7C&" ;
        document.getElementById("phplive_btn_1590428584").appendChild( phplive_e_1590428584 ) ;
        if ( [].filter ) { document.getElementById("phplive_btn_1590428584").addEventListener( "click", function(){ phplive_launch_chat_0() } ) ; } else { document.getElementById("phplive_btn_1590428584").attachEvent( "onclick", function(){ phplive_launch_chat_0() } ) ; }
        })() ;

        </script>
        <!-- END PHP Live! HTML Code [V3] -->

    </body>
</html>
