{% extends 'base.html.twig' %}

{% block title %}JobToBeOffered index{% endblock %}

{% block body %}
    <h1>JobToBeOffered index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jobtitle</th>
                <th>Medium</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job_to_be_offered in job_to_be_offereds %}
            <tr>
                <td>{{ job_to_be_offered.id }}</td>
                <td>{{ job_to_be_offered.jobtitle }}</td>
                <td>{{ job_to_be_offered.medium }}</td>
                <td>
                    <a href="{{ path('job_to_be_offered_show', {'id': job_to_be_offered.id}) }}">show</a>
                    <a href="{{ path('job_to_be_offered_edit', {'id': job_to_be_offered.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('job_to_be_offered_new') }}">Create new</a>
{% endblock %}
