{% extends 'pdfBase.html.twig' %}

{% block title %}Resume{% endblock %}
{% block stylesheets %}

<style>

    body {
        margin: 0;
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #777;
        text-align: left;
        background-color: #fff;        
    }
    .container.resume {
        font-size: 1.1rem;
        font-family: inherit;
    }

    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }    

    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .top-row {
        margin-bottom: 50px;
    }

    .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }

    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        min-width: 0;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .profile-pic {
    border-radius: 50%;
    margin-top: 10px;
    width: 80px;
    height: 80px;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }
    
    .img-holder {
        padding-top:10px;
        padding-left:10px;
    }

    img {
        vertical-align: middle;
        border-style: none;
    }  

    h3, .h3 {
    font-size: 1.75rem;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        color: #2d2d2d;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }    

    .resume h5 {
        color: #f57d7d;
        font-size: 1.25rem;
        font-weight: bolder;
    }

    .spaced-links {
        margin-right: 10px;
        font-size: 14px;
    }
    a {
        color: #3399F3;
        text-decoration: none;
        background-color: transparent;
    }

    .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,0.03);
        border-bottom: 1px solid rgba(0,0,0,0.125);
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
        padding-right: 50px;
        border:none;
    }    

    .card-body ul {
        max-width: 80%;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
    }    
    .resume h6 {
        font-size: .9rem;
        font-weight: bold;
        padding-top: 5px;
    }    

    .resume h4 {
        font-size: 1.1rem;
        font-weight: bold;
        font-family: "Open Sans";
    }  

    ol, ul, dl {
        margin-top: 0;
        margin-bottom: 1rem;
    }    

    .card {
        margin-top: 20px!important;
        padding-top: 20px!important;
        border: none;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: 0.25rem;
    }

    .item {
        margin-top: 20px;
    }

    .card>.list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
    }
    .card>.list-group {
        border-top: inherit;
        border-bottom: inherit;
    }
    .list-group-flush {
        border-radius: 0;
    }
    .list-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        border-radius: 0.25rem;
    }

    .card-header+.list-group .list-group-item:first-child {
    border-top: 0;
    }
    .resume .list-group-item {
        border-bottom: 1px solid #f57d7d;
    }
    .list-group-flush>.list-group-item {
        border-width: 0 0 1px;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
    }
</style>
{% endblock %}

{% block body %}
{% if thumbnailurl is not defined %}
{% set thumbnailurl = musician.thumbnailurl %}
{% endif %}

    <div class="animated" id="resume-page" style="display: block;">
        <div class="container resume" id="resume">
            <div class="row">
                <div class="col-md-9">
                    <div class="img-holder row header top-row">
                        <div class="col-md-2"><img class="img-fluid profile-pic" src="{{thumbnailurl}}"></div>
                        <div class="col">
                            <h3 style="font-family: Alice, serif;">{{musician.fullname}}</h3>
                            <h5>Musician</h5>
                            <a class="spaced-links" href="tel:{{musician.phone}}">&nbsp;<img src="https://muske.co.ke/icons/phone.png" style="margin:0px;padding:0px;width:10px; height:10px;" />&nbsp;{{musician.phone}}</a>
                            <a class="spaced-links" href="mailto:{{musician.email}}">&nbsp;<img src="https://muske.co.ke/icons/mail.png" style="margin:0px;padding:0px;width:10px; height:10px;" />&nbsp;{{musician.email}}</a>
                            <a class="spaced-links" href="https://www.muske.co.ke/{{musician.username}}">&nbsp;<img src="https://muske.co.ke/icons/sphere.png" style="margin:0px;padding:0px;width:10px; height:10px;" />&nbsp;www.muske.co.ke{{musician.username}}</a>
                        </div>
                    </div>
                    <div class="card about">
                        <div class="card-header">
                            <h5 class="mb-0">Profile</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{musician.about}}</p>
                        </div>
                    </div>
                    <div class="card content">
                        <div class="card-header">
                            <h5 class="mb-0">Experience</h5>
                        </div>
                        <div class="card-body">
                            {% for job in jobs %}
                            <div class="row item">
                                <div class="col-md-4 date-and-place">
                                    <h6>{{job.startingfrom|date("M Y")}} – {{job.currentornot == 'current' ? 'Present' : job.endedin|date("M Y") }}</h6>
                                    <p>{{job.jobtitle}} at {{job.location}}</p>
                                </div>
                                <div class="col-md-8 list-details">
                                    <h4>{{job.institution}}</h4>
                                    <ul>
                                        {% for role in job.roles %}
                                        <li>{{role.role}}<br></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card content">
                        <div class="card-header">
                            <h5 class="mb-0">Education</h5>
                        </div>
                        <div class="card-body">
                            {% for edu in educ %}
                            <div class="row item">
                                <div class="col-md-4 date-and-place">
                                    <h6>{{edu.fromyear|date("M Y")}} - {{edu.toyear|date("M Y")}}</h6>
                                    <p>{{edu.location}}</p>
                                </div>
                                <div class="col-md-8 list-details">
                                    <h4>{{edu.institution}}</h4>
                                    <p>{{edu.coursename}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if musician.projects is not empty %}
                    <div class="card content">
                        <div class="card-header">
                            <h5 class="mb-0">Projects</h5>
                        </div>
                        {% for project in musician.projects %}
                        <div class="card-body">
                            <h4>{{project.projecttitle}}</h4>
                            <p>{{project.projectdescription}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if musician.referees is not empty %}
                    <div class="card content">
                        <div class="card-header">
                            <h5 class="mb-0">Referees</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% for referee in musician.referees %}
                                <div class="col-md-4 text-left">
                                    <p style="margin-bottom:0px; margin-top:0px;">{{referee.name}}</p>
                                    <p style="margin-bottom:0px; margin-top:0px;">{{referee.title}}</p>
                                    <p style="margin-bottom:0px; margin-top:0px;">{{referee.address}}</p>
                                    <p style="margin-bottom:0px; margin-top:0px;">{{referee.contact}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if musician.hassettings and musician.settings.signature|length > 0 and musician.settings.appendsignature == 'true' %}
                    <div class="card details top-row">
                        <div class="card-header">
                            <h5 class="mb-0">Details</h5>
                        </div>
                        <div class="card-body">
                            <p class="text-capitalize card-text">{{musician.hassettings and musician.settings.signature|length > 0 ? musician.settings.signature|nl2br }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="card skills">
                        <div class="card-header">
                            <h5 class="mb-0">Skills</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for skill in musician.skills %}
                                <li class="list-group-item"><span>{{skill.skillname}}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card skills">
                        <div class="card-header">
                            <h5 class="mb-0">Specialties</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for job_role in musician.jobstobeoffered %}
                                <li class="list-group-item"><span>{{job_role.jobtitle}}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}