{% extends 'pdfBase.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('theme/assets/css/design.css ') }}">
{% endblock %}
{% block body %}

<div class="container" id="design">
    <div id="scroll-info" class="row">
        <div class="col-md-8">
            <h1 id="fullname-info">{{musician.fullname|title}}{{ musician.fullname == null ? '<span class="plc-hld-title" id="fullname-info"></span>' }}<!-- edit --> <span class="btn btn-outline" style="cursor: pointer;" {#data-toggle="modal" data-target="#how-to-edit-info"#} onclick="showInfo()"><i class="fa fa-pencil"></i></span> <!-- edit --></h1>
            <h5>{{ musician.title != null ? musician.title : 'Musician'}}</h5>
            {% if musician.hassettings and musician.settings.signature|length > 0 and musician.settings.appendsignature == 'true' %}
            <p>{{musician.hassettings and musician.settings.signature|length > 0 ? musician.settings.signature|nl2br }}</p>
            {% endif %}
            <p>
                <span id="phone-info" >{{app.user != null and app.user == musician ? musician.realphone : musician.phone}}{{ musician.realphone == null ? '<span class="plc-hld-text"></span>' }}</span><br>
                <span id="email-info" >{{app.user != null and app.user == musician ? musician.realemail : musician.email}}{{ musician.realemail == null ? '<span class="plc-hld-text"></span>' }}</span><br>
                <span id="website-info" >www.muske.co.ke/{{musician.username}}</span>
            </p>
        </div>
        <div class="col-md-4 "><img class="img-fluid d-none d-md-block" src="{{app.request.getSchemeAndHttpHost()}}{{thumbnailurl}}" width="240" height="240"></div>
    </div>
    <div id="profile" class="row">
        <div class="col-md-9">
            <p id="about-info" >{{musician.about}}<br></p>
        </div>
        <div class="col-md-3">
            <div class="b-left mt-5 d-none d-md-block">
                <p class="mid">Profile<!-- edit --> <span class="btn btn-outline" style="cursor: pointer;" {#data-toggle="modal" data-target="#how-to-edit-info"#} onclick="showInfo()"><i class="fa fa-pencil"></i></span> <!-- edit --></p>
            </div>
        </div>
    </div>
    <div id="scroll-jobs" class="row">
        <div class="col-md-3">
            <div class="b-right mt-5">
                <p class="mid-r">Job History</p>
            </div>
        </div>
        <div class="col-md-9">
            {% for job in jobs %}
            <div class="mt-5" style="position: relative;">
                <h5>{{job.jobtitle}}<!-- edit --> <span class="btn btn-outline" style="cursor: pointer;" id="url-/admin/edit/jobs/{{job.id}}/false" data-toggle="modal" data-target="#editor"><i class="fa fa-pencil"></i></span> <!-- edit --><!--delete-->{% include 'admin/_delete_form.html.twig' with {'lastPartUrl': "jobs", 'val': job, 'instruct': "false" } %}<!--delete--><br></h5>
                <small><em>{{job.institution}} / {{job.location}} -&nbsp;</em>{{job.startingfrom|date("M Y")}} – {{job.currentornot == 'current' ? 'Present' : job.endedin|date("M Y") }}<br></small>
                {% include "webbuild/templates/list.html.twig" %}
            </div>
            {% endfor %}
            <!-- realtime entry -->
            <div class="mt-5" id="jobs-plc-hld" style="position: relative;">
                <h5><span id="jobtitle-jobs" class="plc-hld-title"></span><br></h5>
                <small><em><span class="plc-hld-text" id="institution-jobs"></span> / <span class="plc-hld-text" id="location-jobs"></span> -&nbsp;</em><span style="min-width: 30px!important;" class="plc-hld-text" id="startingfrom-jobs"></span> - <span style="min-width: 30px!important;" class="plc-hld-text" id="endedin-jobs"></span><br></small>
            </div>
            <!-- end realtime entry -->
        </div>
    </div>
    <div id="scroll-education" class="row">
        <div class="col-md-3">
            <div class="b-right mt-5">
                <p class="mid-r">Education Background</p>
            </div>
        </div>
        <div class="col-md-9">
            {% for edu in educ %}
            <div class="mt-5" style="position: relative;">
                <h5><strong>{{edu.degree}}:</strong>&nbsp;{{edu.coursename}}<!-- edit --> <span class="btn btn-outline" style="cursor: pointer;" id="url-/admin/edit/education/{{edu.id}}/false" data-toggle="modal" data-target="#editor"><i class="fa fa-pencil"></i></span> <!-- edit --><!--delete-->{% include 'admin/_delete_form.html.twig' with {'lastPartUrl': "education", 'val': edu, 'instruct': "false" } %}<!--delete--></h5><small>{{edu.institution}} - {{edu.location}}<br></small>
                <p>{{edu.fromyear|date("M Y")}} - {{"now"|date('U') < edu.toyear|date('U') ? "Ongoing" : edu.toyear|date("M Y")}}</p>
            </div>
            {% endfor %}
            <!-- realtime entry -->
            <div class="mt-5" style="position: relative;" id="education-plc-hld">
                <h5><strong><span class="plc-hld-title" id="degree-education"></span>:</strong>&nbsp;<span class="plc-hld-title" id="coursename-education"></span>
                <br>
                </h5><small><span class="plc-hld-text" id="institution-education"></span> - <span class="plc-hld-text" id="location-education"></span><br></small>
                <p><span style="min-width: 50px!important;" class="plc-hld-text" id="fromyear-education"></span> - <span style="min-width: 50px!important;" class="plc-hld-text" id="toyear-education"></span></p>
            </div>
            <!-- end realtime entry -->
        </div>
    </div>
    <div id="scroll-projects" class="row">
        <div class="col-md-3">
            <div class="b-right mt-5">
                <p class="mid-r">Projects</p>
            </div>
        </div>
        <div class="col-md-9">
            {% for project in musician.projects %}
            <div style="position: relative;" class="mt-5">
                <h5>{{project.projecttitle}}<!-- edit --> <span class="btn btn-outline" style="cursor: pointer;" id="url-/admin/edit/projects/{{project.id}}/false" data-toggle="modal" data-target="#editor"><i class="fa fa-pencil"></i></span> <!-- edit --><!--delete-->{% include 'admin/_delete_form.html.twig' with {'lastPartUrl': "projects", 'val': project, 'instruct': "false" } %}<!--delete--><br></h5>
                <p>{{project.projectdescription}}<br></p>
            </div>
            {% else %}
            <small class="text-muted">(Optional. Will not appear on CV if no project is added)</small>
            {% endfor %}            
            <!-- realtime entry -->
            <div style="position: relative;" class="mt-5" id="projects-plc-hld">
                <h5><span class="plc-hld-title" id="projecttitle-projects"></span><br></h5>
                <p><span class="plc-hld-textarea" id="projectdescription-projects"></span><br></p>
            </div>
            <!-- end realtime entry -->
        </div>
    </div>
    <div id="scroll-skills" class="row">
        <div class="col-md-3">
            <div class="b-right mt-5">
                <p class="mid-r">Skills</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="mt-5">
                <ul>
                    {% for skill in musician.skills %}
                    <li><span>{{skill.skillname}} | <strong>{{skill.levelofskill}}</strong> | {{skill.experienceofskill}}<!-- edit --> <span class="btn btn-outline" style="cursor: pointer;" id="url-/admin/edit/skills/{{skill.id}}/false" data-toggle="modal" data-target="#editor"><i class="fa fa-pencil"></i></span> <!-- edit --><!--delete-->{% include 'admin/_delete_form.html.twig' with {'lastPartUrl': "skills", 'val': skill, 'instruct': "false" } %}<!--delete--></span></li>
                    {% endfor %}                
                    <!-- realtime entry -->
                    <li id="skills-plc-hld">
                        <span style="min-width: 20%" class="plc-hld-list" id="skillname-skills"></span> |
                        <strong><span style="min-width: 20%" class="plc-hld-list" id="levelofskill-skills">Beginner</span></strong> |
                        <span style="min-width: 20%" class="plc-hld-list" id="experienceofskill-skills"></span>
                    </li>
                    <!-- end realtime entry -->
                </ul>
            </div>
        </div>
    </div>
    <div id="scroll-roles" class="row">
        <div class="col-md-3">
            <div class="b-right mt-5">
                <p class="mid-r">Specialties</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="mt-5">
                <ul>
                    {% for job_role in musician.jobstobeoffered %}
                    <li><span>{{job_role.jobtitle}}<!-- edit --> <span class="btn btn-outline" style="cursor: pointer;" id="url-/admin/edit/myJobs/{{job_role.id}}/false" data-toggle="modal" data-target="#editor"><i class="fa fa-pencil"></i></span> <!-- edit --><!--delete-->{% include 'admin/_delete_form.html.twig' with {'lastPartUrl': "myJobs", 'val': job_role, 'instruct': "false" } %}<!--delete--></span></li>
                    {% endfor %}
                    <!-- realtime entry -->
                    <li id="roles-plc-hld">
                        <span class="plc-hld-list" id="jobtitle-roles"></span>
                    </li>
                    <!-- end realtime entry -->
                </ul>
            </div>
        </div>
    </div>
    <div id="scroll-referees" class="row mb-5">
        <div class="col-md-3">
            <div class="b-right mt-5">
                <p class="mid-r">Referees</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="mt-5">
                {% include "reusable/referees.html.twig" %}   
            </div>
        </div>
    </div>
</div>

{% endblock %}