{% extends 'pdfBase.html.twig' %}


{% block stylesheets %}
<style>
    a {
        color: inherit;
    }
</style>
<link rel="stylesheet" href="{{ asset('theme/assets/css/simple_four.css ') }}">
{% endblock %}
{% block body %}
    <div class="container" id="simple_four">
        <div id="scroll-info" class="row">
            <div class="col-md-4" id="header">
                <div class="mt-3">
                    <h3 class="user-name"  id="fullname-info">{{musician.fullname|title}} {{ musician.fullname == null ? '<span class="plc-hld-title" id="fullname-info"></span>' }}<!-- edit --> <span class="btn btn-outline" style="cursor: pointer;" {#data-toggle="modal" data-target="#how-to-edit-info"#} onclick="showInfo()"><i class="fa fa-pencil"></i></span> <!-- edit --></h3>
                    <h6>{{ musician.title != null ? musician.title : 'Musician'}}</h6>
                </div>
            </div>
            <div class="col-md-4" id="mid">
                <div class="mt-3">
					<a href="#"><img src="{{app.request.getSchemeAndHttpHost()}}/icons/phone.png" style="margin:0px;padding:0px;width:10px; height:10px;" />&nbsp;<span id="phone-info">{{app.user != null and app.user == musician ? musician.realphone : musician.phone}}{{ musician.realphone == null ? '<span class="plc-hld-text"></span>' }}</span></a><br />
					<a href="#"><img src="{{app.request.getSchemeAndHttpHost()}}/icons/mail.png" style="margin:0px;padding:0px;width:10px; height:10px;" />&nbsp;<span id="email-info">{{app.user != null and app.user == musician ? musician.realemail : musician.email}}{{ musician.realemail == null ? '<span class="plc-hld-text"></span>' }}</span></a><br />
					<a href="#"><img src="{{app.request.getSchemeAndHttpHost()}}/icons/sphere.png" style="margin:0px;padding:0px;width:10px; height:10px;" />&nbsp;www.muske.co.ke/{{musician.username}}</a><br />
				</div>
            </div>
            <div class="col-md-4">
				{% if musician.hassettings and musician.settings.signature|length > 0 and musician.settings.appendsignature == 'true' %}
				<p class="mt-3"><small>{{musician.hassettings and musician.settings.signature|length > 0 ? musician.settings.signature|nl2br }}</small></p>
				{% endif %}
            </div>
        </div>
        <div id="profile" class="row">
            <div class="col-md-12">
                <div class="title-div">
                    <h4 class="title">Profile<!-- edit --> <span class="btn btn-outline" style="cursor: pointer;" {#data-toggle="modal" data-target="#how-to-edit-info"#} onclick="showInfo()"><i class="fa fa-pencil"></i></span> <!-- edit --></h4>
                </div>
            </div>
            <div class="col-md-8 offset-md-4 right">
                <p id="about-info" >{{musician.about}}<br></p>
            </div>
        </div>
        <div id="scroll-jobs" class="row">
            <div class="col-md-12">
                <div class="title-div">
                    <h4 class="title">Work Experience</h4>
                </div>
            </div>
        </div>
        {% for job in jobs %}
        <div class="row" style="position: relative;">
            <div class="col-md-4 right"><small>{{job.startingfrom|date("M Y")}} – {{job.currentornot == 'current' ? 'Present' : job.endedin|date("M Y") }}</small></div>
            <div class="col-md-8 right">
                <div>
                    <h6 class="sec-heading">{{job.jobtitle}}</h6><small>{{job.institution}}, {{job.location}}<!-- edit --> <span class="btn btn-outline" style="cursor: pointer;" id="url-/admin/edit/jobs/{{job.id}}/false" data-toggle="modal" data-target="#editor"><i class="fa fa-pencil"></i></span> <!-- edit --><!--delete-->{% include 'admin/_delete_form.html.twig' with {'lastPartUrl': "jobs", 'val': job, 'instruct': "false" } %}<!--delete--></small>
                    {% include "webbuild/templates/list.html.twig" %}				
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- realtime entry -->
        <div id="jobs-plc-hld" class="row" style="position: relative;">
            <div class="col-md-4 right"><small><span style="min-width: 50px!important;" class="plc-hld-text" id="startingfrom-jobs"></span> - <span style="min-width: 50px!important;" class="plc-hld-text" id="endedin-jobs"></span></small></div>
            <div class="col-md-8 right">
                <div>
                    <h6 class="sec-heading"><span id="jobtitle-jobs" class="plc-hld-title"></span></h6>
                    <small><span class="plc-hld-text" id="institution-jobs"></span>, <span class="plc-hld-text" id="location-jobs"></span></small>
                </div>
            </div>    
        </div>
        <!-- end realtime entry -->
        <div id="scroll-education" class="row">
            <div class="col-md-12">
                <div class="title-div">
                    <h4 class="title">Education Background</h4>
                </div>
            </div>
            {% for edu in educ %}
            <div class="col-md-8 offset-md-4 right" style="position: relative;">
                <h6 class="sec-heading">{{edu.coursename}} | {{edu.degree}}<!-- edit --> <span class="btn btn-outline" style="cursor: pointer;" id="url-/admin/edit/education/{{edu.id}}/false" data-toggle="modal" data-target="#editor"><i class="fa fa-pencil"></i></span> <!-- edit --><!--delete-->{% include 'admin/_delete_form.html.twig' with {'lastPartUrl': "education", 'val': edu, 'instruct': "false" } %}<!--delete--></h6>
                <p class="sec-paragraph">{{edu.institution}} | {{edu.location}}</p>
                <small>{{edu.fromyear|date("M Y")}} - {{"now"|date('U') < edu.toyear|date('U') ? "Ongoing" : edu.toyear|date("M Y")}}</small>
            </div>
            {% endfor %}
            <!-- realtime entry -->
            <div id="education-plc-hld" class="col-md-8 offset-md-4 right" style="position: relative;">
                <h6 class="sec-heading"><span class="plc-hld-title" id="coursename-education"></span> | <span class="plc-hld-title" id="degree-education"></span></h6>
                <p class="sec-paragraph"><span class="plc-hld-text" id="institution-education"></span> | <span class="plc-hld-text" id="location-education"></span></p>
                <small><span style="min-width: 50px!important;" class="plc-hld-text" id="fromyear-education"></span> - <span style="min-width: 50px!important;" class="plc-hld-text" id="toyear-education"></span></small>
            </div>
            <!-- end realtime entry -->
        </div>
        <div id="scroll-projects" class="row">
            <div class="col-md-12">
                <div class="title-div">
                    <h4 class="title">Projects</h4>
                </div>
            </div>
            {% for project in musician.projects %}
            <div style="position: relative;" class="col-md-8 offset-md-4 right">
                <h6>{{project.projecttitle}}<!-- edit --> <span class="btn btn-outline" style="cursor: pointer;" id="url-/admin/edit/projects/{{project.id}}/false" data-toggle="modal" data-target="#editor"><i class="fa fa-pencil"></i></span> <!-- edit --><!--delete-->{% include 'admin/_delete_form.html.twig' with {'lastPartUrl': "projects", 'val': project, 'instruct': "false" } %}<!--delete--></h6>
                <p class="mt-3">{{project.projectdescription}}<br></p>
            </div>
            {% else %}
            <small class="text-muted">(Optional. Will not appear on CV if no project is added)</small>
            {% endfor %}
            <!-- realtime entry -->
            <div style="position: relative;" id="projects-plc-hld" class="col-md-8 offset-md-4 right">
                <h6><span class="plc-hld-title" id="projecttitle-projects"></span></h6>
                <p class="mt-3"><span class="plc-hld-textarea" id="projectdescription-projects"></span><br></p>
            </div>
            <!-- end realtime entry -->
        </div>
        <div id="scroll-skills" class="row">
            <div class="col-md-12">
                <div class="title-div">
                    <h4 class="title">Skills</h4>
                </div>
            </div>
            <div class="col-md-8 offset-md-4 right">
                <ul>
                    {% for skill in musician.skills %}
                    <li><span>{{skill.skillname}} | <strong>{{skill.levelofskill}}</strong> | {{skill.experienceofskill}}<!-- edit --> <span class="btn btn-outline" style="cursor: pointer;" id="url-/admin/edit/skills/{{skill.id}}/false" data-toggle="modal" data-target="#editor"><i class="fa fa-pencil"></i></span> <!-- edit --><!--delete-->{% include 'admin/_delete_form.html.twig' with {'lastPartUrl': "skills", 'val': skill, 'instruct': "false" } %}<!--delete--></span></li>
                    {% endfor %}                
                    <!-- realtime entry -->
                    <li id="skills-plc-hld">
                        <span style="min-width: 20%" class="plc-hld-list" id="skillname-skills"></span> |
                        <strong><span style="min-width: 20%" class="plc-hld-list" id="levelofskill-skills">Beginner</span></strong> |
                        <span style="min-width: 20%" class="plc-hld-list" id="experienceofskill-skills"></span>
                    </li>
                    <!-- end realtime entry -->
                </ul>
            </div>
        </div>
        <div id="scroll-roles" class="row">
            <div class="col-md-12">
                <div class="title-div">
                    <h4 class="title">Specialties</h4>
                </div>
            </div>
            <div class="col-md-8 offset-md-4 right">
                <ul>
                    {% for job_role in musician.jobstobeoffered %}
                    <li><span>{{job_role.jobtitle}}<!-- edit --> <span class="btn btn-outline" style="cursor: pointer;" id="url-/admin/edit/myJobs/{{job_role.id}}/false" data-toggle="modal" data-target="#editor"><i class="fa fa-pencil"></i></span> <!-- edit --><!--delete-->{% include 'admin/_delete_form.html.twig' with {'lastPartUrl': "myJobs", 'val': job_role, 'instruct': "false" } %}<!--delete--></span></li>
                    {% endfor %}
                    <!-- realtime entry -->
                    <li id="roles-plc-hld">
                        <span class="plc-hld-list" id="jobtitle-roles"></span>
                    </li>                    
                    <!-- end realtime entry -->
                </ul>
            </div>
        </div>
        <div id="scroll-referees" class="row">
            <div class="col-md-12">
                <div class="title-div">
                    <h4 class="title">Referees</h4>
                </div>
            </div>
            <div class="col-md-12 right">
                {% include "reusable/referees.html.twig" %}                    
            </div>
        </div>
    </div>

{% endblock %}
