<div class="row" id="suggestions">
    <div class="col-12">
        <h3 class="text-center">You may want to see these profiles</h3>
    </div>
    {% for musician in proMusicians %}
    {% set thumbnailurl = asset('uploads/photos/thumbs/' ~ musician.photo ~ '.png') %}
        <div class="col-md-4 filter {% for skill in musician.skills %} {{skill.skillname|lower|replace({' ':'-','.':''})}} {% endfor %}">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><a style="font-size: 14px;" role="button" href="{{path('musician_show', {'username': musician.username})}}">{{musician.fullname|upper}}&nbsp;</a></h5>
                  <h6 class="mb-3 text-success">Verified Member</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{ musician.title != null ? musician.title : 'Musician'}}</h6>
                  <p class="card-text">{% for skill in musician.skills %}
                    <small>{{skill.skillname}} {% if loop.last %}{% else %} . {% endif %}</small>
                    {% endfor %}
                  </p>                  
                  <p class="card-text">{% for jobtodo in musician.jobstobeoffered %}
                    <small>{{jobtodo.jobtitle}} {% if loop.last %}{% else %} . {% endif %}</small>
                    {% endfor %}</p>
                  <a href="{{ path('musician_show', {'username': musician.username})}}" class="card-link">Resume</a>
                  <a href="{{ path('musician_show', {'username': musician.username})}}" class="card-link">Contact</a>
                </div>
              </div>
        </div>
    {% endfor %}
    {% for musician in muskeMusicians %}
    {% set thumbnailurl = asset('uploads/photos/thumbs/' ~ musician.photo ~ '.png') %}
        <div class="col-md-4 filter {% for skill in musician.skills %} {{skill.skillname|lower|replace({' ':'-','.':''})}} {% endfor %}">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><a style="font-size: 14px;" role="button" href="{{path('musician_show', {'username': musician.username})}}">{{musician.fullname|upper}}&nbsp;</a></h5>
                  <h6 class="mb-3 text-info">Muske Member</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{ musician.title != null ? musician.title : 'Musician'}}</h6>
                  <p class="card-text">{% for skill in musician.skills %}
                    <small>{{skill.skillname}} {% if loop.last %}{% else %} . {% endif %}</small>
                    {% endfor %}
                  </p>                  
                  <p class="card-text">{% for jobtodo in musician.jobstobeoffered %}
                    <small>{{jobtodo.jobtitle}} {% if loop.last %}{% else %} . {% endif %}</small>
                    {% endfor %}</p>
                  <a href="{{ path('musician_show', {'username': musician.username})}}" class="card-link">Resume</a>
                  <a href="{{ path('musician_show', {'username': musician.username})}}" class="card-link">Contact</a>
                </div>
              </div>
        </div>
    {% endfor %}
    {% for musician in basicMusicians %}
    {% set thumbnailurl = asset('uploads/photos/thumbs/' ~ musician.photo ~ '.png') %}
        <div class="col-md-4 filter {% for skill in musician.skills %} {{skill.skillname|lower|replace({' ':'-','.':''})}} {% endfor %}">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><a style="font-size: 14px;" role="button" href="{{path('musician_show', {'username': musician.username})}}">{{musician.fullname|upper}}&nbsp;</a></h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ musician.title != null ? musician.title : 'Musician'}}</h6>
                  <p class="card-text">{% for skill in musician.skills %}
                    <small>{{skill.skillname}} {% if loop.last %}{% else %} . {% endif %}</small>
                    {% endfor %}
                  </p>                  
                  <p class="card-text">{% for jobtodo in musician.jobstobeoffered %}
                    <small>{{jobtodo.jobtitle}} {% if loop.last %}{% else %} . {% endif %}</small>
                    {% endfor %}</p>
                  <a href="{{ path('musician_show', {'username': musician.username})}}" class="card-link">Resume</a>
                  <a href="{{ path('musician_show', {'username': musician.username})}}" class="card-link">Contact</a>
                </div>
              </div>
        </div>
    {% endfor %}

</div>
